@media screen and (min-width: 769px), print {
  .event_ct_des {
    padding: 80px 0 120px;
  }
  .event_ct_des h3 {
    font-size: 3.5rem;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    text-align: center;
  }
  .event_ct_des p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
  }
  .event_ct .event_list {
    padding-bottom: 90px;
  }
  .event_ct .event_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  .event_ct .event_list_box .event_box {
    width: 330px;
    margin: 0 23px;
    background: #fff;
    margin-bottom: 70px;
  }
  .event_ct .event_list_box .event_box a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .event_ct .event_list_box .event_box a:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #8bc34a;
  }
  .event_ct .event_list_box .event_box a .event_box_des {
    position: relative;
  }
  .event_ct .event_list_box .event_box a .event_box_des figure {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .event_ct .event_list_box .event_box a .event_box_des figure img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag {
    width: 100px;
    height: 100px;
    -moz-border-radius: 100%;
         border-radius: 100%;
    border: 1px solid #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #333;
    padding: 0 0 9px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -50px;
    background: #fff;
    left: -20px;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span {
    position: relative;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span em {
    font-style: normal;
    font-size: 3.7rem;
    line-height: 1;
    font-weight: bold;
    padding-left: 25px;
    display: block;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span sub {
    font-size: 2.1rem;
    line-height: 1;
    display: block;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span sub:after {
    content: '';
    width: 27px;
    height: 27px;
    background: url("../images/ic_cross.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    position: relative;
    top: 15px;
    left: -13px;
    display: inline-block;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag small {
    font-size: 1.2rem;
    line-height: 1;
    display: block;
  }
  .event_ct .event_list_box .event_box a .event_box_des p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #333;
    padding: 25px 0 35px;
    font-weight: bold;
  }
  .event_ct .event_list_box .event_box a .event_box_link {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
    margin-bottom: 30px;
  }
  .event_ct .event_list_box .event_box a .event_box_link span {
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    margin-right: 11px;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 7px 20px;
    margin-top: 10px;
    display: inline-block;
    -moz-border-radius: 20px;
         border-radius: 20px;
  }
  .event_ct .event_list_box .event_box a:hover:before {
    width: 100%;
  }
  .event_ct .event_list_box .event_box a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .event_ct .event_list .bx_pag {
    margin-top: 40px;
  }
  .event_ct .event_schedule {
    padding: 74px 0 70px;
    background: #ECEFE8;
  }
  .event_ct .event_schedule h3 {
    font-size: 3.5rem;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    text-align: center;
  }
  .event_ct .event_schedule iframe {
    width: 100%;
    height: 734px;
  }
  .event_ct .event_schedule .explain {
    font-size: 0;
  }
  .event_ct .event_schedule .explain span {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    line-height: 30px;
    color: #999999;
    padding: 0 0 0 30px;
  }
  .event_ct .event_schedule .explain span:not(:last-child) {
    margin-right: 30px;
  }
  .event_ct .event_schedule .explain span::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    left: 0;
    top: 50%;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .event_ct .event_schedule .explain span.yellow::before {
    border: 4px solid #E0C240;
  }
  .event_ct .event_schedule .explain span.blue::before {
    border: 4px solid #99FF33;
  }
  .banner_detail {
    width: 100%;
    text-align: center;
  }

  .banner_detail img {
    height: 100%;
    width: 800px;
  }
  .event_detail .event_ct {
    background: #ECEFE8;
    display: block;
    padding-bottom: 90px;
    padding-top: 90px;
  }
  .event_detail .event_ct .event_ct_inner {
    padding: 0 89px 60px;
    background: #fff;
    /* margin-top: -126px; */
    position: relative;
  }
  .event_detail .event_ct .event_box_des {
    position: relative;
    top: -24px;
    left: 0;
  }
  .event_detail .event_ct .event_box_des .event_box_cat {
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1;
    min-width: 126px;
    padding: 11px 5px;
    background: #fff;
    border: 1px solid #333333;
    color: #333333;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 50px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
  }
  .event_detail .event_ct .event_box_des .event_box_link {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
  .event_detail .event_ct .event_box_des .event_box_link time {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    margin-right: 36px;
  }
  .event_detail .event_ct .event_box_des .event_box_link span {
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    margin-right: 11px;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 7px 20px;
    display: inline-block;
    -moz-border-radius: 20px;
         border-radius: 20px;
  }
  .event_detail .event_ct h1 {
    font-size: 3.6rem;
    line-height: 6rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 40px;
    
  }
  .event_detail .event_ct h1:after {
    content: '';
    width: 87px;
    height: 1px;
    background: #333333;
    display: block;
    margin-top: 20px;
  }
  .event_detail .event_ct h2 {
    font-size: 2.8rem;
    line-height: 4rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 40px;
    
  }
  .event_detail .event_ct h2:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #333333;
    display: block;
    margin-top: 10px;
  }
  .event_detail .event_ct h3 {
    font-size: 2.2rem;
    line-height: 4rem;
    color: #333333;
    font-weight: bold;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    padding: 10px 20px;
    margin-bottom: 30px;
    
  }
  .event_detail .event_ct h4 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #333333;
    font-weight: bold;
    border-left: 3px solid #333;
    padding-left: 15px;
    margin-bottom: 30px;
    
  }
  .event_detail .event_ct p {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #333333;
    margin-bottom: 40px;
  }
  .event_detail .event_ct figure {
    width: 100%;
    margin-bottom: 40px;
  }
  .event_detail .event_ct figure img {
    margin: 18px auto;
    display: block;
  }
  .event_detail .event_ct table {
    border-collapse: collapse;
    border: 1px solid #e2e4de;
    width: 100%;
    margin-bottom: 50px;
  }
  .event_detail .event_ct table tr {
    border-collapse: collapse;
    border: 1px solid #e2e4de;
  }
  .event_detail .event_ct table tr td {
    font-size: 1.5rem;
    line-height: 3rem;
    border-collapse: collapse;
    border: 1px solid #e2e4de;
    padding: 30px;
  }
  .event_detail .event_ct table tr td:first-child {
    width: 258px;
    background-color: #ECEFE8;
    padding: 35px 32px;
  }
  .event_detail .event_ct .btn_green {
    width: 100%;
    text-align: center;
  }
  .event_detail .event_ct .btn_green a {
    font-size: 1.5rem;
    line-height: 1;
    padding: 15px;
    background: #8DC556;
    display: inline-block;
    min-width: 300px;
    text-align: center;
    position: relative;
    color: #fff;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .event_detail .event_ct .btn_green a:after {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform-origin: top right;
       -moz-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .event_detail .event_ct .btn_green a:hover:after {
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .event_detail .event_ct .btn_green a span {
    position: relative;
    display: block;
  }
  .event_detail .event_ct .btn_green a span:after {
    content: "";
    background: url(../images/ic_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 16px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 4px;
  }
  .other_post {
    padding: 80px 0;
    background: #fff;
  }
  .other_post_tt {
    font-size: 3.5rem;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 97px;
    text-align: center;
  }
  .other_post_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  .other_post_inner .event_box {
    width: 330px;
    margin: 0 23px;
    background: #fff;
    margin-bottom: 40px;
  }
  .other_post_inner .event_box a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    position: relative;
  }
  .other_post_inner .event_box a:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #8bc34a;
  }
  .other_post_inner .event_box a .event_box_des {
    position: relative;
  }
  .other_post_inner .event_box a .event_box_des figure {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .other_post_inner .event_box a .event_box_des figure img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .other_post_inner .event_box a .event_box_des .event_tag {
    width: 100px;
    height: 100px;
    -moz-border-radius: 100%;
         border-radius: 100%;
    border: 1px solid #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #333;
    padding: 0 0 9px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -50px;
    background: #fff;
    left: -20px;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span {
    position: relative;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span em {
    font-style: normal;
    font-size: 3.7rem;
    line-height: 1;
    font-weight: bold;
    padding-left: 25px;
    display: block;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span sub {
    font-size: 2.1rem;
    line-height: 1;
    display: block;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span sub:after {
    content: '';
    width: 27px;
    height: 27px;
    background: url("../images/ic_cross.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    position: relative;
    top: 15px;
    left: -13px;
    display: inline-block;
  }
  .other_post_inner .event_box a .event_box_des .event_tag small {
    font-size: 1.2rem;
    line-height: 1;
    display: block;
  }
  .other_post_inner .event_box a .event_box_des p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #333;
    padding: 25px 0 35px;
    font-weight: bold;
  }
  .other_post_inner .event_box a .event_box_link {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
    margin-bottom: 30px;
  }
  .other_post_inner .event_box a .event_box_link span {
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    margin-right: 11px;
    margin-top: 11px;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 7px 20px;
    display: inline-block;
    -moz-border-radius: 20px;
         border-radius: 20px;
  }
  .other_post_inner .event_box a:hover:before {
    width: 100%;
  }
  .other_post_inner .event_box a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .other_post .bx_pag {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .event_ct_des {
    padding: 13.33333vw 0 16vw;
  }
  .event_ct_des h3 {
    font-size: 5.33333vw;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 6.66667vw;
    text-align: center;
  }
  .event_ct_des p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
  }
  .event_ct .event_list {
    padding-bottom: 12vw;
  }
  .event_ct .event_list_cat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 9.33333vw;
    position: relative;
    top: -1.86667vw;
  }
  .event_ct .event_list_cat h3 {
    font-size: 4vw;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .event_ct .event_list_cat ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 61.33333vw;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: absolute;
    top: -3.2vw;
    right: 0;
  }
  .event_ct .event_list_cat ul.active li {
    display: block;
  }
  .event_ct .event_list_cat ul li {
    display: none;
  }
  .event_ct .event_list_cat ul li a {
    font-size: 4.26667vw;
    line-height: 1;
    padding: 2.93333vw 2.66667vw;
    width: 61.33333vw;
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    display: block;
    text-align: center;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;
  }
  .event_ct .event_list_cat ul li.active {
    display: block;
  }
  .event_ct .event_list_cat ul li.active a {
    border: 2px solid #8dc556;
    color: #8dc556;
  }
  .event_ct .event_list_cat ul li.active a:after {
    content: '';
    width: 3.46667vw;
    height: 1.73333vw;
    position: absolute;
    top: 50%;
    right: 12.53333vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_arrow_down.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .event_ct .event_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .event_ct .event_list_box .event_box {
    width: 100%;
    background: #fff;
    margin-bottom: 16.4vw;
  }
  .event_ct .event_list_box .event_box a {
    display: block;
  }
  .event_ct .event_list_box .event_box a .event_box_des {
    padding: 0 0 4vw;
    position: relative;
  }
  .event_ct .event_list_box .event_box a .event_box_des figure {
    width: 100%;
    height: auto;
    margin-bottom: 6.66667vw;
  }
  .event_ct .event_list_box .event_box a .event_box_des figure img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag {
    width: 20vw;
    height: 20vw;
    -moz-border-radius: 100%;
         border-radius: 100%;
    border: 1px solid #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #333;
    padding: 0 0 1.86667vw;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -8vw;
    background: #fff;
    left: 0;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span {
    position: relative;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span em {
    font-style: normal;
    font-size: 7.46667vw;
    line-height: 1;
    font-weight: bold;
    padding-left: 4.66667vw;
    display: block;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span sub {
    font-size: 4.13333vw;
    line-height: 1;
    display: block;
    margin-bottom: 1.33333vw;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag span sub:after {
    content: '';
    width: 5.33333vw;
    height: 5.33333vw;
    background: url("../images/ic_cross.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    position: relative;
    top: 4vw;
    left: -3.06667vw;
    display: inline-block;
  }
  .event_ct .event_list_box .event_box a .event_box_des .event_tag small {
    font-size: 2.4vw;
    line-height: 1;
    display: block;
  }
  .event_ct .event_list_box .event_box a .event_box_des p {
    font-size: 3.73333vw;
    line-height: 7.2vw;
    color: #333;
    font-weight: bold;
  }
  .event_ct .event_list_box .event_box a .event_box_link span {
    font-size: 2.93333vw;
    line-height: 1;
    position: relative;
    margin-right: 2vw;
    margin-top: 2vw;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 1.46667vw 2.8vw;
    display: inline-block;
    -moz-border-radius: 2.66667vw;
         border-radius: 2.66667vw;
  }
  .event_ct .event_list_box .event_box a:hover {
    opacity: 0.8;
  }
  .event_ct .event_list .bx_pag {
    margin-top: 6.66667vw;
  }
  .event_ct .event_schedule {
    padding: 13.33333vw 0;
    background: #ECEFE8;
  }
  .event_ct .event_schedule h3 {
    font-size: 5.33333vw;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 6.66667vw;
    text-align: center;
  }
  .event_ct .event_schedule iframe {
    width: 100%;
    height: 97.86667vw;
  }
  .event_detail .event_ct {
    background: #ECEFE8;
    display: block;
    padding-bottom: 13.33333vw;
    padding-top: 13.33333vw;
  }
  .event_detail .event_ct .event_ct_inner {
    padding: 0 4.66667vw 8vw;
    background: #fff;
    /* margin-top: -10.66667vw; */
    position: relative;
  }
  .event_detail .event_ct .event_box_des {
    position: relative;
    top: -3.73333vw;
    left: 0;
  }
  .event_detail .event_ct .event_box_des .event_box_cat {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 1;
    min-width: 22.66667vw;
    padding: 1.86667vw 1.33333vw;
    background: #fff;
    border: 1px solid #333333;
    color: #333333;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 6.66667vw;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  .event_detail .event_ct .event_box_des .event_box_link {
    margin-bottom: 2.66667vw;
  }
  .event_detail .event_ct .event_box_des .event_box_link time {
    display: inline-block;
    font-size: 2.93333vw;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    margin-right: 5.33333vw;
  }
  .event_detail .event_ct .event_box_des .event_box_link span {
    font-size: 2.93333vw;
    line-height: 1;
    position: relative;
    margin-right: 2vw;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 1.46667vw 2.8vw;
    display: inline-block;
    -moz-border-radius: 2.66667vw;
         border-radius: 2.66667vw;
  }
  .event_detail .event_ct h1 {
    font-size: 4.8vw;
    line-height: 8vw;
    color: #333333;
    font-weight: bold;
    margin-bottom: 8vw;
    
  }
  .event_detail .event_ct h1:after {
    content: '';
    width: 11.6vw;
    height: 1px;
    background: #333333;
    display: block;
    margin: 5.33333vw auto 0;
  }
  .event_detail .event_ct h2 {
    font-size: 4.26667vw;
    line-height: 6.66667vw;
    color: #333333;
    font-weight: bold;
    margin-bottom: 5.33333vw;
    
  }
  .event_detail .event_ct h2:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #333333;
    display: block;
    margin-top: 2.66667vw;
  }
  .event_detail .event_ct h3 {
    font-size: 4vw;
    line-height: 5.33333vw;
    color: #333333;
    font-weight: bold;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    padding: 2.13333vw 0;
    margin-bottom: 4.66667vw;
    
  }
  .event_detail .event_ct h4 {
    font-size: 3.73333vw;
    line-height: 4.66667vw;
    color: #333333;
    font-weight: bold;
    border-left: 3px solid #333;
    padding-left: 2vw;
    margin-bottom: 4.66667vw;
    
  }
  .event_detail .event_ct p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    color: #333333;
    margin-bottom: 8vw;
  }
  .event_detail .event_ct figure {
    width: 100%;
    margin-bottom: 6vw;
  }
  .event_detail .event_ct figure img {
    margin: 0 auto;
    display: block;
  }
  .event_detail .event_ct table {
    border-collapse: collapse;
    border: 1px solid #e2e4de;
    width: 100%;
    margin-bottom: 6.66667vw;
  }
  .event_detail .event_ct table tr {
    border-collapse: collapse;
    border: 1px solid #e2e4de;
  }
  .event_detail .event_ct table tr td {
    font-size: 3.73333vw;
    line-height: 8vw;
    border-collapse: collapse;
    border: 1px solid #e2e4de;
    padding: 4.8vw;
  }
  .event_detail .event_ct table tr td:first-child {
    width: 25.06667vw;
    background-color: #ECEFE8;
  }
  .event_detail .event_ct .btn_green {
    width: 100%;
    text-align: center;
  }
  .event_detail .event_ct .btn_green a {
    font-size: 3.46667vw;
    line-height: 1;
    padding: 4.93333vw 2.66667vw;
    background: #8DC556;
    display: block;
    text-align: center;
    position: relative;
    color: #fff;
  }
  .event_detail .event_ct .btn_green a span {
    position: relative;
    display: block;
  }
  .event_detail .event_ct .btn_green a span:after {
    content: "";
    background: url(../images/ic_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.26667vw;
    height: 1.06667vw;
    position: absolute;
    top: 50%;
    right: 10.66667vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 0.53333vw;
  }
  .other_post {
    padding: 10.66667vw 0;
    background: #fff;
  }
  .other_post_tt {
    font-size: 5.33333vw;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 13.33333vw;
    text-align: center;
  }
  .other_post_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .other_post_inner .event_box {
    width: 100%;
    background: #fff;
    margin-bottom: 16.4vw;
  }
  .other_post_inner .event_box a {
    display: block;
  }
  .other_post_inner .event_box a .event_box_des {
    padding: 0 0 4vw;
    position: relative;
  }
  .other_post_inner .event_box a .event_box_des figure {
    width: 100%;
    height: auto;
    margin-bottom: 6.66667vw;
  }
  .other_post_inner .event_box a .event_box_des figure img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  .other_post_inner .event_box a .event_box_des .event_tag {
    width: 20vw;
    height: 20vw;
    -moz-border-radius: 100%;
         border-radius: 100%;
    border: 1px solid #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #333;
    padding: 0 0 1.86667vw;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -8vw;
    background: #fff;
    left: 0;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span {
    position: relative;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span em {
    font-style: normal;
    font-size: 7.46667vw;
    line-height: 1;
    font-weight: bold;
    padding-left: 4.66667vw;
    display: block;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span sub {
    font-size: 4.13333vw;
    line-height: 1;
    display: block;
    margin-bottom: 1.33333vw;
  }
  .other_post_inner .event_box a .event_box_des .event_tag span sub:after {
    content: '';
    width: 5.33333vw;
    height: 5.33333vw;
    background: url("../images/ic_cross.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    position: relative;
    top: 4vw;
    left: -3.06667vw;
    display: inline-block;
  }
  .other_post_inner .event_box a .event_box_des .event_tag small {
    font-size: 2.4vw;
    line-height: 1;
    display: block;
  }
  .other_post_inner .event_box a .event_box_des p {
    font-size: 3.73333vw;
    line-height: 7.2vw;
    color: #333;
    font-weight: bold;
  }
  .other_post_inner .event_box a .event_box_link span {
    font-size: 2.93333vw;
    line-height: 1;
    position: relative;
    margin-right: 2vw;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 1.46667vw 2.8vw;
    display: inline-block;
    -moz-border-radius: 2.66667vw;
         border-radius: 2.66667vw;
  }
  .other_post_inner .event_box a:hover {
    opacity: 0.8;
  }
  .other_post .bx_pag {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5.33333vw;
  }
  .event_ct .event_schedule .explain {
    font-size: 0;
  }
  .event_ct .event_schedule .explain span {
    display: block;
    position: relative;
    font-size: 3.3vw;
    line-height: 6.93333vw;
    color: #999999;
    padding: 0 0 0 6vw;
  }
  .event_ct .event_schedule .explain span::before {
    position: absolute;
    content: "";
    width: 4.4vw;
    height: 4.4vw;
    -moz-border-radius: 50%;
         border-radius: 50%;
    left: 0;
    top: 50%;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .event_ct .event_schedule .explain span.yellow::before {
    border: 0.85vw solid #E0C240;
  }
  .event_ct .event_schedule .explain span.blue::before {
    border: 0.85vw solid #99FF33;
  }
  .event_ct .event_schedule .note {
    font-size: 3vw;
    line-height: 1;
    color: #999999;
    white-space: nowrap;
    word-break: keep-all;
  }
}
