@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_about{
  padding-bottom: 145px;
  .ttl{
    margin-bottom: 104px;
  }
  .gr_about{
    &_top{
      position: relative;
      display: flex;
      justify-content: flex-end;
      > figure {
        width: percentage(555/1280);
        position: relative;
        transform: translateZ(0);
        padding: percentage(37/1280) 0 0;
        span{
          display: block;
        }
        &::after {
          position: absolute;
          content: "";
          width: percentage(737/695);
          height: 0;
          padding-top: percentage(400/695);
          left: percentage(-42/695);
          top: 0;
          background: #ECEFE8;
          z-index: -1;
        }
        img {
          width: 100%;
          height: 369px;
          object-fit: cover;
        }
      }
      .top_pos{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &_m{
          height: 100%;
          &_w{
            width: 625px;
            height: 100%;
            display: flex;
            flex-direction: column;
            h3{
              font-size: rem(30);
              line-height: 1;
              color: #000;
              font-weight: bold;
              position: relative;
              padding-bottom: 30px;
              margin-bottom: 35px;
              &:after{
                content:"";
                width: 80px;
                height: 1px;
                background-color: #000;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            p{
              font-size: rem(15);
              line-height: 30px;
              span{
                font-size: rem(17);
                line-height: 30px;
                color: #8DC556;
                font-weight: bold;
              }
              + p{
                margin-top: 40px;
              }
            }
          }
        }
      }
    }
    &_bottom{
      margin-top: 93px;
      .wrap{
        display: flex;
        justify-content: space-between;
      }
      figure{
        width: 363px;
        height: 100%;
        transform: translateZ(0);
        span{
          display: block;
        }
        &::after {
          position: absolute;
          content: "";
          width: 170px;
          height: 0;
          padding-top: 170px;
          right: -55px;
          bottom: -42px;
          background: #ECEFE8;
          z-index: -1;
        }
        img{
          width: 100%;
          height: 363px;
          object-fit: cover;
        }
      }
      .bx_txt{
        width: calc(100% - 363px);
        padding-left: 137px;
        p{
          font-size: rem(15);
          line-height: 30px;
          span{
            font-size: rem(17);
            line-height: 30px;
            color: #8DC556;
            font-weight: bold;
          }
          + p{
            margin-top: 40px;
          }
        }
      }
    }
  }
}