@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_about{
  padding-bottom: vw(191);
  .ttl{
    margin-bottom: vw(107);
  }
  .gr_about{
    &_top{
      > figure {
        position: relative;
        transform: translateZ(0);
        margin-top: vw(145);
        padding: vw(41) 0 0 vw(141);
        span{
          display: block;
        }
        &::after {
          position: absolute;
          content: "";
          width: vw(680);
          height: 0;
          padding-top: vw(352);
          right: 0;
          top: 0;
          background: #ECEFE8;
          z-index: -1;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      .top_pos{
        &_m{
          &_w{
            h3{
              font-size: vw(40);
              text-align: center;
              line-height: 1;
              color: #000;
              font-weight: bold;
              position: relative;
              padding-bottom: vw(50);
              margin-bottom: vw(60);
              &:after{
                content:"";
                width: vw(80);
                height: vw(2);
                background-color: #000;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            p{
              font-size: vw(28);
              line-height: vw(50);
              span{
                font-size: vw(28);
                line-height: vw(50);
                color: #8DC556;
                font-weight: bold;
              }
              + p{
                margin-top: vw(55);
              }
            }
          }
        }
      }
    }
    &_bottom{
      margin-top: vw(110);
      .wrap{
        display: flex;
        flex-direction: column;
      }
      figure{
        transform: translateZ(0);
        order: 2;
        margin-top: vw(105);
        margin-left: vw(-44);
        width: vw(493);
        span{
          display: block;
        }
        &::before {
          position: absolute;
          content: "";
          width: vw(144);
          height: 0;
          padding-top: vw(144);
          right: vw(-261);
          top: vw(124);
          background: #ECEFE8;
          z-index: -1;
        }
        &::after {
          position: absolute;
          content: "";
          width: vw(230);
          height: 0;
          padding-top: vw(230);
          right: vw(-80);
          bottom: vw(-60);
          background: #ECEFE8;
          z-index: -1;
        }
        span{
          width: 100%;
          display: block;
        }
        img{
          width: vw(493);
          height: auto;
        }
      }
      .bx_txt{
        order: 1;
        p{
          font-size: vw(28);
          line-height: vw(50);
          span{
            font-size: vw(28);
            line-height: vw(50);
            color: #8DC556;
            font-weight: bold;
          }
          + p{
            margin-top: vw(55);
          }
        }
      }
    }
  }
}