@media screen and (min-width: 769px), print {
  .st_contact .ttl {
    margin-bottom: 88px;
  }
  .st_contact .gr_contact {
    background-color: #ECEFE8;
    padding: 50px 0 97px;
    /* ===== Confirm ======*/
  }
  .st_contact .gr_contact .wrap {
    background-color: #fff;
    padding: 65px 101px 72px 105px;
  }
  .st_contact .gr_contact .ctn_form h3 {
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
  }
  .st_contact .gr_contact .ctn_form p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .st_contact .gr_contact .ctn_form p a {
    color: #000;
    text-decoration: underline;
  }
  .st_contact .gr_contact .ctn_form .list_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px 0 80px -4px;
  }
  .st_contact .gr_contact .ctn_form .list_item li {
    font-size: 1.8rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #ccc;
    width: -webkit-calc(33.33% - 4px);
    width: -moz-calc(33.33% - 4px);
    width: calc(33.33% - 4px);
    margin-left: 4px;
    padding: 11px 0;
    position: relative;
    display: block;
  }
  .st_contact .gr_contact .ctn_form .list_item li:before {
    border-color: transparent transparent transparent #fff;
    left: 0;
    top: 0;
  }
  .st_contact .gr_contact .ctn_form .list_item li:after {
    border-color: transparent transparent transparent #ccc;
    right: -14px;
    top: 0;
  }
  .st_contact .gr_contact .ctn_form .list_item li:before, .st_contact .gr_contact .ctn_form .list_item li:after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 20px 0 20px 14px;
  }
  .st_contact .gr_contact .ctn_form .list_item li:nth-of-type(1) {
    z-index: 3;
  }
  .st_contact .gr_contact .ctn_form .list_item li:nth-of-type(2) {
    z-index: 2;
  }
  .st_contact .gr_contact .ctn_form .list_item li:nth-of-type(3) {
    z-index: 1;
  }
  .st_contact .gr_contact .ctn_form .list_item li.active {
    background-color: #8DC556;
    z-index: 3;
  }
  .st_contact .gr_contact .ctn_form .list_item li.active:before {
    content: none;
  }
  .st_contact .gr_contact .ctn_form .list_item li.active:after {
    border-color: transparent transparent transparent #8DC556;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_group:not(:last-child) {
    margin-bottom: 35px;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_group:nth-of-type(8) {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_group:nth-of-type(8) label {
    padding-top: 10px;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: bold;
    color: #3D3D3D;
    width: 274px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 30px;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label em {
    font-style: normal;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    width: 38px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 5px;
         border-radius: 5px;
    background-color: #D03535;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label .blue {
    background-color: #4E7DBB;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .left {
    width: -webkit-calc(100% - 274px);
    width: -moz-calc(100% - 274px);
    width: calc(100% - 274px);
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_control {
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    line-height: 1;
    padding: 0 10px;
    -moz-border-radius: 5px;
         border-radius: 5px;
    border: 1px solid #CCCCCC;
    outline: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_select {
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    color: #000;
    line-height: 1.5;
    padding: 0 10px;
    -moz-border-radius: 5px;
         border-radius: 5px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    outline: none;
    background: url(../images/arr_down.png) 98% 17px no-repeat;
    -moz-background-size: 14px 8px;
         background-size: 14px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_select::-ms-expand {
    display: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_textarea {
    width: 100%;
    height: 170px;
    font-size: 1.6rem;
    line-height: 1;
    padding: 10px;
    -moz-border-radius: 5px;
         border-radius: 5px;
    border: 1px solid #CCCCCC;
    outline: none;
    resize: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_error {
    background-color: #FAE2E7;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .txt_error {
    font-size: 1.5rem;
    line-height: 1;
    margin: 10px 0 0 20px;
    color: #D03535;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_btn {
    margin-top: 60px;
    text-align: center;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_btn button {
    background: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_btn button span {
    padding-right: 25px;
  }
  .st_contact .gr_contact.gr_confirm .list_item {
    position: relative;
    margin-top: 115px;
  }
  .st_contact .gr_contact.gr_confirm .list_item:before {
    content: "";
    width: 77px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -65px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(1) {
    z-index: 3;
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(1):before {
    content: none;
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(2) {
    z-index: 2;
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(3) {
    z-index: 1;
  }
  .st_contact .gr_contact.gr_confirm .list_item li.active:before {
    content: "";
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .frm_group {
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .frm_group:not(:last-child) {
    margin-bottom: 0;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top {
    margin-right: 220px;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top:before {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top:after {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top span {
    position: relative;
    padding: 0 0 0 25px;
    color: #999999;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top span:before {
    content: "";
    background: url(../images/icon_back.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 14px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 4px;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top span:after {
    content: none;
  }
  .st_contact .gr_contact.gr_thanks .list_item {
    position: relative;
    margin-top: 115px;
  }
  .st_contact .gr_contact.gr_thanks .list_item:before {
    content: "";
    width: 77px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -65px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(1) {
    z-index: 3;
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(1):before {
    content: none;
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(2) {
    z-index: 2;
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(3) {
    z-index: 1;
  }
  .st_contact .gr_contact.gr_thanks .list_item li.active:before {
    content: "";
  }
  .st_contact .gr_contact.gr_thanks .bx_thanks p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 25px;
  }
  .st_contact .gr_contact.gr_thanks .bx_thanks p + p {
    margin-top: 30px;
  }
  .st_contact .gr_contact.gr_thanks .bx_thanks .back_top {
    width: 220px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    margin: 55px auto 0;
  }
  .st_contact .gr_contact.gr_thanks .bx_thanks .back_top span {
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .st_contact .ttl {
    margin-bottom: 8.4vw;
  }
  .st_contact .gr_contact {
    background-color: #ECEFE8;
    padding: 12vw 5.33333vw 14.66667vw;
    /* ===== Confirm ======*/
  }
  .st_contact .gr_contact .wrap {
    background-color: #fff;
    padding: 9.33333vw 5.33333vw 13.73333vw;
  }
  .st_contact .gr_contact .ctn_form h3 {
    font-size: 4.26667vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8vw;
  }
  .st_contact .gr_contact .ctn_form p {
    font-size: 3.46667vw;
    line-height: 6.66667vw;
  }
  .st_contact .gr_contact .ctn_form p a {
    color: #000;
    text-decoration: underline;
  }
  .st_contact .gr_contact .ctn_form .list_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 18vw 0 16vw -1.06667vw;
    position: relative;
  }
  .st_contact .gr_contact .ctn_form .list_item:before {
    content: "";
    width: 10.13333vw;
    height: 0.26667vw;
    background-color: #000;
    position: absolute;
    top: -8.93333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact .gr_contact .ctn_form .list_item li {
    font-size: 3.46667vw;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #ccc;
    width: -webkit-calc(33.33% - 1.06667vw);
    width: -moz-calc(33.33% - 1.06667vw);
    width: calc(33.33% - 1.06667vw);
    margin-left: 1.06667vw;
    padding: 2.53333vw 0;
    position: relative;
    display: block;
  }
  .st_contact .gr_contact .ctn_form .list_item li:before {
    border-color: transparent transparent transparent #fff;
    left: 0;
    top: 0;
  }
  .st_contact .gr_contact .ctn_form .list_item li:after {
    border-color: transparent transparent transparent #ccc;
    right: -1.33333vw;
    top: 0;
    -webkit-transform: translateX(-0.5px);
    -ms-transform: translateX(-0.5px);
    -o-transform: translateX(-0.5px);
    transform: translateX(-0.5px);
  }
  .st_contact .gr_contact .ctn_form .list_item li:before, .st_contact .gr_contact .ctn_form .list_item li:after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 4.13333vw 0 4.13333vw 1.33333vw;
  }
  .st_contact .gr_contact .ctn_form .list_item li:nth-of-type(1) {
    z-index: 3;
  }
  .st_contact .gr_contact .ctn_form .list_item li:nth-of-type(2) {
    z-index: 2;
  }
  .st_contact .gr_contact .ctn_form .list_item li:nth-of-type(3) {
    z-index: 1;
  }
  .st_contact .gr_contact .ctn_form .list_item li.active {
    background-color: #8DC556;
    z-index: 3;
  }
  .st_contact .gr_contact .ctn_form .list_item li.active:before {
    content: none;
  }
  .st_contact .gr_contact .ctn_form .list_item li.active:after {
    border-color: transparent transparent transparent #8DC556;
  }
  .st_contact .gr_contact .ctn_form .frm_contact {
    /* ===== Confirm ======*/
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_group:not(:last-child) {
    margin-bottom: 7.73333vw;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label {
    font-size: 3.73333vw;
    line-height: 1;
    font-weight: bold;
    color: #3D3D3D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4vw;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label em {
    font-style: normal;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 2.93333vw;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label span {
    font-size: 3.2vw;
    font-weight: bold;
    color: #fff;
    width: 9.46667vw;
    height: 5.86667vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 0.66667vw;
         border-radius: 0.66667vw;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #D03535;
  }
  .st_contact .gr_contact .ctn_form .frm_contact label .blue {
    background-color: #4E7DBB;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_control {
    width: 100%;
    height: 10.66667vw;
    font-size: 3.73333vw;
    color: #333;
    line-height: 10.66667vw;
    padding: 0 4vw;
    -moz-border-radius: 0.66667vw;
         border-radius: 0.66667vw;
    border: 1px solid #CCCCCC;
    outline: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_select {
    width: 100%;
    height: 10.66667vw;
    font-size: 3.73333vw;
    color: #000;
    line-height: 1;
    padding: 0 4vw;
    -moz-border-radius: 0.66667vw;
         border-radius: 0.66667vw;
    cursor: pointer;
    outline: none;
    background: url(../images/arr_down.png) 97% 4.4vw no-repeat;
    -moz-background-size: 3.33333vw 1.73333vw;
         background-size: 3.33333vw 1.73333vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_select::-ms-expand {
    display: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_textarea {
    width: 100%;
    height: 39.06667vw;
    font-size: 3.73333vw;
    color: #333;
    line-height: 1.5;
    padding: 10px;
    -moz-border-radius: 5px;
         border-radius: 5px;
    border: 1px solid #CCCCCC;
    outline: none;
    resize: none;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_btn {
    margin-top: 13.33333vw;
    text-align: center;
  }
  .st_contact .gr_contact .ctn_form .frm_contact .frm_btn button {
    background: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 3.46667vw;
    /* span{
              padding-right: 25px;
            } */
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(1) {
    z-index: 3;
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(1):before {
    content: none;
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(2) {
    z-index: 2;
  }
  .st_contact .gr_contact.gr_confirm .list_item li:nth-of-type(3) {
    z-index: 1;
  }
  .st_contact .gr_contact.gr_confirm .list_item li.active:before {
    content: "";
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .frm_group {
    border-bottom: 1px solid #ccc;
    padding: 4vw 0;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .frm_group:not(:last-child) {
    margin-bottom: 0;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm label em {
    margin-left: 0;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm button {
    width: 35.46667vw;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top {
    margin-right: 5.33333vw;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top:before {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top:after {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top span {
    position: relative;
    padding: 0 0 0 6.66667vw;
    color: #999999;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top span:before {
    content: "";
    background: url(../images/icon_back.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.53333vw;
    height: 1.33333vw;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 4px;
  }
  .st_contact .gr_contact.gr_confirm .frm_confirm .back_top span:after {
    content: none;
  }
  .st_contact .gr_contact.gr_thanks .list_item {
    position: relative;
    margin-bottom: 14.66667vw;
  }
  .st_contact .gr_contact.gr_thanks .list_item:before {
    content: "";
    width: 77px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -65px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(1) {
    z-index: 3;
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(1):before {
    content: none;
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(2) {
    z-index: 2;
  }
  .st_contact .gr_contact.gr_thanks .list_item li:nth-of-type(3) {
    z-index: 1;
  }
  .st_contact .gr_contact.gr_thanks .list_item li.active:before {
    content: "";
  }
  .st_contact .gr_contact.gr_thanks .bx_thanks p {
    font-size: 3.46667vw;
    line-height: 6.66667vw;
  }
  .st_contact .gr_contact.gr_thanks .bx_thanks p + p {
    margin-top: 9.33333vw;
  }
  .st_contact .gr_contact.gr_thanks .bx_thanks .back_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    margin: 55px auto 0;
  }
}
