@media screen and (min-width: 769px), print {
  .ttl .row picture img {
    visibility: hidden;
  }
  .ttl .row picture {
    position: relative;
  }
  .ttl .row picture::after {
    background: url('../images/bkg_ttl_pc.jpg') 100% 80% no-repeat;
    -webkit-background-size: 76.484375% auto;
    background-size: 76.484375% auto;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    visibility: hidden;
    transition: visibility 0.1s ease 0.3s;
  }
  .ttl .row picture.active::after {
    visibility: visible;
  }
  .st_rental .wrap {
    max-width: 980px;
    margin: 0 auto;
  }
  .st_rental .ttl {
    margin-bottom: 92px;
  }
  .st_rental .txt_top {
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    margin-bottom: 95px;
  }
  .st_rental .bx_center_wrap {
    position: relative;
  }
  .st_rental .bx_center_wrap:after {
    content: "";
    width: 37.5%;
    height: 180px;
    background-color: #ECEFE8;
    position: absolute;
    bottom: -51px;
    right: -11.71875%;
    z-index: -1;
  }
  .st_rental .bx_center_wrap picture {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    overflow: hidden;
  }
  .st_rental .bx_center_wrap picture img {
    width: 100%;
    height: auto;
  }
  .st_rental .bx_center p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .st_rental .bx_center .ctn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 0 105px -70px;
  }
  .st_rental .bx_center .ctn_left {
    width: -webkit-calc(50% - 70px);
    width: -moz-calc(50% - 70px);
    width: calc(50% - 70px);
    margin-left: 70px;
  }
  .st_rental .bx_center .ctn_right {
    width: -webkit-calc(50% - 70px);
    width: -moz-calc(50% - 70px);
    width: calc(50% - 70px);
    margin-left: 70px;
    margin-top: 33px;
  }
  .st_rental .ttl_art {
    font-size: 2.8rem;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .st_rental .list_p li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .st_rental .list_p li:first-child {
    border-top: 1px solid #ccc;
  }
  .st_rental .list_p li span {
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: bold;
    width: 162px;
    display: block;
    position: relative;
  }
  .st_rental .list_p li span:after {
    content: ":";
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .st_rental .list_p li em {
    font-size: 1.5rem;
    line-height: 30px;
    display: block;
    padding-left: 15px;
    font-style: normal;
    width: -webkit-calc(100% - 162px);
    width: -moz-calc(100% - 162px);
    width: calc(100% - 162px);
  }
  .st_rental .bx_art {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -70px;
  }
  .st_rental .bx_art p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .st_rental .bx_art article {
    width: -webkit-calc(50% - 70px);
    width: -moz-calc(50% - 70px);
    width: calc(50% - 70px);
    margin-left: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_rental .bx_art article:nth-of-type(1) .art_top_wrap {
    position: relative;
  }
  .st_rental .bx_art article:nth-of-type(1) .art_top_wrap:after {
    content: "";
    width: 450px;
    height: 180px;
    background-color: #ECEFE8;
    position: absolute;
    top: -51px;
    left: -11.71875%;
    z-index: -1;
  }
  .st_rental .bx_art article picture {
    margin-bottom: 30px;
    overflow: hidden;
  }
  .st_rental .bx_art article picture img {
    width: 100%;
    height: auto;
  }
  .st_rental .bx_art article .art_top {
    margin-bottom: 30px;
  }
  .st_rental .bx_bottom {
    position: relative;
    border: 5px solid #ECEFE8;
    margin: 110px 0 0;
    padding: 62px 45px 10px;
  }
  .st_rental .bx_bottom h3 {
    font-size: 2.2rem;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    padding: 10px 45px;
    background-color: #8DC556;
    display: inline-block;
    position: absolute;
    top: -28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_rental .bx_bottom dl {
    margin-bottom: 40px;
  }
  .st_rental .bx_bottom dl dt {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .st_rental .bx_bottom dl dt:before {
    content: "";
    width: 3px;
    height: 25px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_rental .bx_bottom dl dd ul {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
  .st_rental .bx_bottom dl dd ul li {
    font-size: 1.5rem;
    line-height: 30px;
  }
  /*  thumb */
  .st_rental .bx_bottom_thumb {
    padding: 12px 28px 0;
    position: relative;
    margin-bottom: 60px;
  }
  .st_rental .bx_bottom_thumb .gallery-top figure img {
    width: 100%;
    height: auto;
  }
  .st_rental .bx_bottom_thumb .gallery-top .swiper-pagi {
    font-size: 1.5rem;
    line-height: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #8dc556;
    margin: 10px 0;
  }
  .st_rental .bx_bottom_thumb .gallery-top .swiper-button-next, .st_rental .bx_bottom_thumb .gallery-top .swiper-button-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
    cursor: pointer;
    outline: none;
  }
  .st_rental .bx_bottom_thumb .gallery-top .swiper-button-next {
    background: url("../images/control_right.png") center no-repeat rgba(255, 255, 255, 0.7);
    -moz-background-size: 22.7px 5.6px;
         background-size: 22.7px 5.6px;
    right: 0;
  }
  .st_rental .bx_bottom_thumb .gallery-top .swiper-button-prev {
    background: url("../images/control_left.png") center no-repeat rgba(255, 255, 255, 0.7);
    -moz-background-size: 22.7px 5.6px;
         background-size: 22.7px 5.6px;
    left: 0;
  }
  .st_rental .bx_bottom_thumb .gallery-thumbs {
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  .st_rental .bx_bottom_thumb .gallery-thumbs .swiper-slide-thumb-active {
    border: 2px solid #8dc556;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  .st_rental .bx_bottom_thumb .gallery-thumbs figure img {
    width: 100%;
    height: auto;
  }
  .st_rental .bx_bottom_thumb .swiper-control-next, .st_rental .bx_bottom_thumb .swiper-control-prev {
    position: absolute;
    width: 20.99px;
    height: 5.78px;
    bottom: 25px;
    display: inline-block;
    cursor: pointer;
    outline: none;
  }
  .st_rental .bx_bottom_thumb .swiper-control-next {
    background: url("../images/control_right.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 0;
  }
  .st_rental .bx_bottom_thumb .swiper-control-prev {
    background: url("../images/control_left.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
  }
  .st_rental .bx_bottom_thumb .swiper-pagination {
    display: none;
  }
  /* end thumb pc */
  .st_flow {
    padding: 80px 0;
  }
  .st_flow .ttl_flow {
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  .st_flow .wrap {
    max-width: 980px;
    margin: 0 auto;
  }
  .st_flow ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 45px 0 45px 40px;
    position: relative;
  }
  .st_flow ul li:after {
    content: "";
    background: url(../images/af_step.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: -28px;
    left: 0;
  }
  .st_flow ul li:nth-of-type(1) figure img {
    width: 59px;
    height: auto;
  }
  .st_flow ul li:nth-of-type(2) figure img {
    width: 70px;
    height: auto;
  }
  .st_flow ul li:nth-of-type(3) figure img {
    width: 71px;
    height: auto;
  }
  .st_flow ul li:nth-of-type(4) figure img {
    width: 60px;
    height: auto;
  }
  .st_flow ul li:nth-of-type(5) figure img {
    width: 92px;
    height: auto;
  }
  .st_flow ul li span {
    font-size: 2.6rem;
    font-weight: bold;
    color: #8DC556;
    font-family: "Montserrat", sans-serif;
    width: 120px;
  }
  .st_flow ul li figure {
    width: 120px;
    text-align: center;
    margin: 0 90px;
  }
  .st_flow ul li .txt_em {
    width: -webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
  }
  .st_flow ul li .txt_em em {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 30px;
    display: block;
  }
  .st_flow ul li .txt_em em strong {
    font-size: 2.2rem;
    font-weight: bold;
    display: block;
  }
  .st_cld {
    padding: 60px 0;
    background-color: #ECEFE8;
  }
  .st_cld .ttl_cld {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
  }
  .st_cld .cld {
    /* background-color: #fff; */
    margin-bottom: 50px;
  }
  .st_cld .cld iframe {
    width: 100%;
    height: 734px;
  }
  .st_cld .bx_dl {
    background-color: #fff;
    padding: 50px;
  }
  .st_cld .bx_dl dl {
    margin-bottom: 40px;
  }
  .st_cld .bx_dl dl:nth-of-type(1) ul li {
    position: relative;
    padding-left: 12px;
  }
  .st_cld .bx_dl dl:nth-of-type(1) ul li:before {
    content: ".";
    font-size: 1.5rem;
    line-height: 30px;
    position: absolute;
    top: -3px;
    left: 0;
  }
  .st_cld .bx_dl dl:nth-of-type(2) dd ul li {
    display: inline-block;
  }
  .st_cld .bx_dl dl:nth-of-type(2) dd ul li:not(:last-child) {
    margin-right: 50px;
  }
  .st_cld .bx_dl dl dt {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .st_cld .bx_dl dl dt:before {
    content: "";
    width: 3px;
    height: 25px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_cld .bx_dl dl dd em {
    font-size: 1.5rem;
    line-height: 30px;
    font-style: normal;
  }
  .st_cld .bx_dl dl dd ul li {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .st_cld .btn {
    text-align: center;
  }
  .st_cld .btn a {
    width: 300px;
    height: 45px;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #8DC556;
    margin: 50px auto 0;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .st_cld .btn a:after {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform-origin: top right;
       -moz-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .st_cld .btn a:hover:after {
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .st_cld .btn a span {
    display: block;
  }
  .st_cld .btn a span:after {
    content: "";
    background: url(../images/arr_r.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 14px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_cld .cld .explain {
    font-size: 0;
  }
  .st_cld .cld .explain span {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    line-height: 30px;
    color: #999999;
    padding: 0 0 0 30px;
  }
  .st_cld .cld .explain span:not(:last-child) {
    margin-right: 30px;
  }
  .st_cld .cld .explain span::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    left: 0;
    top: 50%;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_cld .cld .explain span.yellow::before {
    border: 4px solid #E0C240;
  }
  .st_cld .cld .explain span.blue::before {
    border: 4px solid #99FF33;
  }
  .st_cld .cld .note {
    font-size: 1.2rem;
    line-height: 1;
    color: #999999;
  }
}

@media screen and (max-width: 768px) {
  .st_rental .ttl {
    margin-bottom: 14.66667vw;
  }
  .st_rental .txt_top {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    margin-bottom: 29.33333vw;
  }
  .st_rental .ttl_art {
    font-size: 5.33333vw;
    line-height: 4vw;
    margin-bottom: 4vw;
  }
  .st_rental .list_p li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.66667vw 0;
    border-bottom: 1px solid #ccc;
  }
  .st_rental .list_p li:first-child {
    border-top: 1px solid #ccc;
  }
  .st_rental .list_p li span {
    font-size: 3.46667vw;
    line-height: 6vw;
    font-weight: bold;
    width: 28.4vw;
    display: block;
    position: relative;
  }
  .st_rental .list_p li span:after {
    content: ":";
    font-size: 3.46667vw;
    line-height: 6vw;
    font-weight: bold;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .st_rental .list_p li em {
    font-size: 3.46667vw;
    line-height: 6vw;
    display: block;
    padding-left: 3.33333vw;
    font-style: normal;
    width: -webkit-calc(100% - 28.4vw);
    width: -moz-calc(100% - 28.4vw);
    width: calc(100% - 28.4vw);
  }
  .st_rental .bx_center {
    background-color: #ECEFE8;
    margin: 0 -5.33333vw 34vw;
    padding: 20.2vw 5.33333vw 10vw;
    position: relative;
  }
  .st_rental .bx_center picture {
    position: absolute;
    top: -17.2vw;
  }
  .st_rental .bx_center picture img {
    width: 89.33333vw;
    height: auto;
  }
  .st_rental .bx_center p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    margin-bottom: 5.33333vw;
  }
  .st_rental .bx_center .ctn {
    margin: 8vw 0 0;
  }
  .st_rental .bx_art p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    margin-bottom: 5.33333vw;
  }
  .st_rental .bx_art article {
    background-color: #ECEFE8;
    margin: 0 -5.33333vw;
    padding: 28vw 5.33333vw 10vw;
    position: relative;
  }
  .st_rental .bx_art article:not(:last-child) {
    margin-bottom: 34vw;
  }
  .st_rental .bx_art article picture {
    position: absolute;
    top: -17.2vw;
  }
  .st_rental .bx_art article picture img {
    width: 89.33333vw;
    height: auto;
  }
  .st_rental .bx_bottom {
    position: relative;
    border: 0.93333vw solid #ECEFE8;
    margin: 11.33333vw 0 0;
  }
  .st_rental .bx_bottom h3 {
    font-size: 4.26667vw;
    line-height: 6.66667vw;
    color: #fff;
    font-weight: bold;
    padding: 2.66667vw 0;
    margin: -0.93333vw -0.93333vw 0;
    text-align: center;
    background-color: #8DC556;
    position: relative;
  }
  .st_rental .bx_bottom h3:after {
    content: "";
    background: url(../images/arr_down.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 3.25vw;
    height: 1.69vw;
    position: absolute;
    top: 50%;
    right: 23.73333vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 9;
  }
  .st_rental .bx_bottom .bx_bottom_wrap {
    height: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .st_rental .bx_bottom .bx_bottom_wrap.active {
    height: auto;
  }
  .st_rental .bx_bottom .bx_bottom_wrap dl:first-child {
    padding-top: 4vw;
  }
  .st_rental .bx_bottom dl {
    margin-bottom: 6.66667vw;
    padding: 0 5.33333vw;
  }
  .st_rental .bx_bottom dl dt {
    font-size: 3.73333vw;
    line-height: 8vw;
    font-weight: bold;
    position: relative;
    padding-left: 3.73333vw;
    margin-bottom: 2.66667vw;
  }
  .st_rental .bx_bottom dl dt:before {
    content: "";
    width: 0.66667vw;
    height: 4.93333vw;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_rental .bx_bottom dl dd ul li {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
  }
  /* thumb sp */
  .st_rental .bx_bottom_thumb {
    position: relative;
    margin-bottom: 8vw;
    padding: 0 5.33333vw;
    margin-top: 4vw;
  }
  .st_rental .bx_bottom_thumb .gallery-top figure img {
    width: 100%;
    height: auto;
  }
  .st_rental .bx_bottom_thumb .gallery-top .swiper-pagi {
    display: none;
  }
  .st_rental .bx_bottom_thumb .gallery-top .swiper-button-next, .st_rental .bx_bottom_thumb .gallery-top .swiper-button-prev {
    display: none;
  }
  .st_rental .bx_bottom_thumb .gallery-thumbs {
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin-top: 2vw;
  }
  .st_rental .bx_bottom_thumb .gallery-thumbs .swiper-slide-thumb-active {
    border: 2px solid #8dc556;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  .st_rental .bx_bottom_thumb .gallery-thumbs figure img {
    width: 100%;
    height: auto;
  }
  .st_rental .bx_bottom_thumb .swiper-control-next, .st_rental .bx_bottom_thumb .swiper-control-prev {
    display: none;
  }
  .st_rental .bx_bottom_thumb .swiper-pagination {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .st_rental .bx_bottom_thumb .swiper-pagination-bullet {
    width: 1.46667vw;
    height: 1.46667vw;
    background: #ECEFE8;
    margin: 1.33333vw;
  }
  .st_rental .bx_bottom_thumb .swiper-pagination-bullet-active {
    background: #8dc556;
  }
  /* end thumb sp */
  .st_flow {
    padding: 17.33333vw 0;
  }
  .st_flow .ttl_flow {
    font-size: 5.33333vw;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.66667vw;
  }
  .st_flow ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6.66667vw 0;
  }
  .st_flow ul li:not(:last-child) {
    position: relative;
  }
  .st_flow ul li:not(:last-child):after {
    content: "";
    background: url(../images/bd_sp.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 100%;
    height: 1.86667vw;
    position: absolute;
    bottom: -1.86667vw;
    left: 0;
  }
  .st_flow ul li:nth-of-type(1) figure img {
    width: 14.53333vw;
    height: auto;
  }
  .st_flow ul li:nth-of-type(2) figure img {
    width: 14.4vw;
    height: auto;
  }
  .st_flow ul li:nth-of-type(3) figure img {
    width: 14vw;
    height: auto;
  }
  .st_flow ul li:nth-of-type(4) figure img {
    width: 12.4vw;
    height: auto;
  }
  .st_flow ul li:nth-of-type(5) figure img {
    width: 17.2vw;
    height: auto;
  }
  .st_flow ul li figure {
    width: 17.2vw;
    text-align: left;
    margin: 0 4vw 0 0;
  }
  .st_flow ul li .txt_em {
    width: -webkit-calc(100% - 17.2vw);
    width: -moz-calc(100% - 17.2vw);
    width: calc(100% - 17.2vw);
  }
  .st_flow ul li .txt_em span {
    font-size: 3.73333vw;
    font-weight: bold;
    color: #8DC556;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1.33333vw;
    display: block;
  }
  .st_flow ul li .txt_em em {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    display: block;
  }
  .st_flow ul li .txt_em em strong {
    font-size: 4vw;
    line-height: 4vw;
    font-weight: bold;
    display: block;
    margin-bottom: 1.33333vw;
  }
  .st_cld {
    padding: 10.66667vw 0 17.46667vw;
    background-color: #ECEFE8;
  }
  .st_cld .ttl_cld {
    font-size: 4.66667vw;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: 10.66667vw;
  }
  .st_cld .cld {
    /* background-color: #fff; */
    margin-bottom: 12vw;
  }
  .st_cld .cld iframe {
    width: 100%;
    height: 97.86667vw;
  }
  .st_cld .bx_dl {
    background-color: #fff;
    padding: 10.66667vw 6vw 2.66667vw;
  }
  .st_cld .bx_dl dl {
    margin-bottom: 10.66667vw;
  }
  .st_cld .bx_dl dl:nth-of-type(1) ul li {
    position: relative;
  }
  .st_cld .bx_dl dl:nth-of-type(1) ul li:before {
    content: ".";
    font-size: 3.73333vw;
    line-height: 1;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 0.66667vw;
  }
  .st_cld .bx_dl dl:nth-of-type(2) dd ul li {
    display: block;
  }
  .st_cld .bx_dl dl dt {
    font-size: 3.73333vw;
    font-weight: bold;
    position: relative;
    padding-left: 3.6vw;
    margin-bottom: 5.33333vw;
  }
  .st_cld .bx_dl dl dt:before {
    content: "";
    width: 0.66667vw;
    height: 4.93333vw;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_cld .bx_dl dl dd em {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    font-style: normal;
  }
  .st_cld .bx_dl dl dd ul li {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
  }
  .st_cld .btn {
    text-align: center;
  }
  .st_cld .btn a {
    width: 100%;
    height: 13.33333vw;
    font-size: 3.46667vw;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #8DC556;
    margin: 13.33333vw auto 0;
    position: relative;
  }
  .st_cld .btn a span {
    display: block;
  }
  .st_cld .btn a span:after {
    content: "";
    background: url(../images/arr_r.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.13333vw;
    height: 1.06667vw;
    position: absolute;
    top: 50%;
    right: 13.33333vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_cld .cld .explain {
    font-size: 0;
  }
  .st_cld .cld .explain span {
    display: block;
    position: relative;
    font-size: 3.3vw;
    line-height: 6.93333vw;
    color: #999999;
    padding: 0 0 0 6vw;
  }
  .st_cld .cld .explain span::before {
    position: absolute;
    content: "";
    width: 4.4vw;
    height: 4.4vw;
    -moz-border-radius: 50%;
         border-radius: 50%;
    left: 0;
    top: 50%;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_cld .cld .explain span.yellow::before {
    border: 0.85vw solid #E0C240;
  }
  .st_cld .cld .explain span.blue::before {
    border: 0.85vw solid #99FF33;
  }
  .st_cld .cld .note {
    font-size: 3vw;
    line-height: 1;
    color: #999999;
    white-space: nowrap;
    word-break: keep-all;
  }
}
