@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.topics{
	&_ct{
		&_des{
			text-align: center;
			padding: 80px 0 120px;
			font-size: rem(15);
			line-height: rem(30);
			font-family: YuGothic;
			font-weight: 500;
		}
		.topics_list{
			background: #ECEFE8;
			padding-bottom: 90px;
			&_cat{
				display: flex;
				width: 654px;
				margin: 0 auto;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 70px;
				position: relative;
				top: -20px;
				h3{
					font-size: rem(22);
					line-height: 1;
					font-family: $mont;
					font-weight: bold;
				}
				ul{
					display: flex;
					justify-content: space-between;
					li{
						a{
							font-size: rem(18);
							line-height: 1;
							padding: 10px 20px;
							width: 125px;
							border: 2px solid #fff;
							color: #000;
							background: #fff;
							display: block;
							text-align: center;
							margin-left: 40px;
							color: #333333;
							font-family: $mont;
							font-weight: 500;
							transition: all .3s ease;
							&.active{
								border: 2px solid #8dc556;
								color: #8dc556;
							}
							&:hover{
								border: 2px solid #8dc556;
								color: #8dc556;
							}
						}
					}
				}
			}
			&_box{
				display: flex;
				flex-wrap: wrap;
				margin-left: -12px;
				margin-right: -12px;
				.topics_box{
					width: 31.2%;
					margin: 0 12px;
					background: #fff;
					margin-bottom: 30px;
					a{
						display: block;
						&:before{
							content: ' ';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0;
							height: 3px;
							transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
							background: #8bc34a;
						}
						figure{
							width: 100%;
							height: auto;
							overflow: hidden;
							img{
								width: 359px;
						    height: 234px;
						    object-fit: cover;
						    transition: all .3s ease;
						    transform: scale(1);
							}
						}
						.topics_box_des{
							padding: 35px 24px 25px;
							position: relative;
							.topics_box_cat{
								font-style: normal;
								font-size: rem(16);
								line-height: 1;
								width: 95px;
								padding: 7px;
								position: absolute;
								top: -14px;
								left: 24px;
								background: #000;
								color: #fff;
								text-align: center;
								letter-spacing: 1px;
								font-family: $mont;
								&.blog{
									background: #8dc556;
								}
								&.media{
									background: #000;
								}
							}
							p{
								font-size: rem(16);
								line-height: rem(28);
								color: #333;
							}
							.topics_box_link{
								margin-top: 40px;
								time{
									font-size: rem(13);
									line-height: 1;
									margin-right: 27px;
									font-weight: 500;
									color: #909297;
									font-family: $mont;
								}
								span{
									font-size: rem(13);
									line-height: 1;
									position: relative;
									padding-left: 16px;
									font-weight: 500;
									color: #909297;
									&:before{
										content: '';
										width: 12px;
										height: 11px;
										position: absolute;
										top: 50%;
										left: 0;
										transform: translateY(-50%);
										background: url('../images/ic_link.png') no-repeat;
										background-size: contain;
									}
								}
							}
						}
						&:hover{
							&:before{
								width: 100%;
							}
							figure{
								img{
									transform: scale(1.1);
								}
							}
						}
					}
				}
			}
			.bx_pag{
				margin-top: 40px;
			}
		}
	}
}

.topics_detail{
	background: #ECEFE8;
	.topics_ct{
		background: #fff;
		margin-top: -126px;
		display: block;
		position: relative;
		padding: 0 89px 49px;
		.topics_box_des{
			position: relative;
			top: -24px;
			left: 0;
			.topics_box_cat{
				font-style: normal;
				font-size: rem(18);
				line-height: 1;
				min-width: 126px;
				padding: 11px 5px;
				background: #000;
				color: #fff;
				text-align: center;
				letter-spacing: 1px;
				margin-bottom: 50px;
				display: inline-block;
				font-family: $mont;
				&.blog{
					background: #8dc556;
				}
				&.media{
					background: #000;
				}
			}
			time{
				display: block;
				font-size: rem(15);
				line-height: 1;
				font-family: $mont;
			}
		}
		h1{
			font-size: rem(36);
			line-height: rem(60);
			color: #333333;
			font-weight: 400;
			margin-bottom: 40px;
			&:after{
				content: '';
				width: 87px;
				height: 1px;
				background: #333333;
				display: block;
				margin-top: 20px;
			}
		}
		h2{
			font-size: rem(28);
			line-height: rem(40);
			color: #333333;
			font-weight: 400;
			margin-bottom: 40px;
			&:after{
				content: '';
				width: 100%;
				height: 1px;
				background: #333333;
				display: block;
				margin-top: 10px;
			}
		}
		h3{
			font-size: rem(22);
			line-height: rem(40);
			color: #333333;
			font-weight: 400;
			border-top: 3px solid #eee;
			border-bottom: 3px solid #eee;
			padding: 10px 20px;
			margin-bottom: 30px;
		}
		h4{
			font-size: rem(18);
			line-height: rem(25);
			color: #333333;
			font-weight: 400;
			border-left: 3px solid #333;
			padding-left: 15px;
			margin-bottom: 30px;
		}
		p{
			font-size: rem(15);
			line-height: rem(30);
			color: #333333;
			margin-bottom: 40px;
		}
		figure{
			width: 100%;
			margin-bottom: 40px;
			img{
				margin: 18px auto;
				display: block;
			}
		}
	}
	.other_post{
		padding: 80px 0;
		&_tt{
			font-size: rem(35);
			line-height: 1;
			color: #000;
			font-family: $mont;
			margin-bottom: 50px;
			text-align: center;
		}
		&_inner{
			display: flex;
			flex-wrap: wrap;
			margin-left: -12px;
			margin-right: -12px;
			.topics_box{
				width: 31.2%;
				margin: 0 12px;
				background: #fff;
				margin-bottom: 30px;
				a{
					display: block;
					&:before{
						content: ' ';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 0;
						height: 3px;
						transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
						background: #8bc34a;
					}
					figure{
						width: 100%;
						height: auto;
						overflow: hidden;
						img{
							width: 359px;
					    height: 234px;
					    object-fit: cover;
					    transform: scale(1);
					    transition: all .3s ease;
						}
					}
					.topics_box_des{
						padding: 35px 24px 25px;
						position: relative;
						.topics_box_cat{
							font-style: normal;
							font-size: rem(16);
							line-height: 1;
							width: 95px;
							padding: 7px;
							position: absolute;
							top: -14px;
							left: 24px;
							background: #000;
							color: #fff;
							text-align: center;
							letter-spacing: 1px;
							font-family: $mont;
							&.blog{
								background: #8dc556;
							}
							&.media{
								background: #000;
							}
						}
						p{
							font-size: rem(16);
							line-height: rem(28);
							color: #333;
						}
						.topics_box_link{
							margin-top: 40px;
							time{
								font-size: rem(13);
								line-height: 1;
								margin-right: 27px;
								font-weight: 500;
								color: #909297;
							}
							span{
								font-size: rem(13);
								line-height: 1;
								position: relative;
								padding-left: 16px;
								font-weight: 500;
								color: #909297;
								&:before{
									content: '';
									width: 12px;
									height: 11px;
									position: absolute;
									top: 50%;
									left: 0;
									transform: translateY(-50%);
									background: url('../images/ic_link.png') no-repeat;
									background-size: contain;
								}
							}
						}
					}
					&:hover{
						&:before{
							width: 100%;
						}
						figure{
							img{
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}
		.bx_pag{
			justify-content: center;
			margin-top: 40px;
		}
	}
}