@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.topics{
	&_ct{
		&_des{
			padding: vw(100) 0 vw(80);
			font-size: vw(28);
			line-height: vw(50);
			font-family: YuGothic;
			font-weight: 500;
		}
		.topics_list{
			background: #ECEFE8;
			padding-bottom: vw(90);
			&_cat{
				display: flex;
				margin: 0 auto;
				align-items: center;
				justify-content: space-between;
				margin-bottom: vw(70);
				position: relative;
				top: vw(-14);
				h3{
					font-size: vw(30);
					line-height: 1;
					font-family: $mont;
					font-weight: bold;
				}
				ul{
					display: flex;
					justify-content: space-between;
					width: vw(460);
					flex-wrap: wrap;
					position: absolute;
					top: vw(-24);
					right: 0;
					&.active{
						li{
							display: block;
						}
					}
					li{
						display: none;
						a{
							font-size: vw(32);
							line-height: 1;
							padding: vw(22) vw(20);
							width: vw(460);
							border: 2px solid #fff;
							color: #000;
							background: #fff;
							display: block;
							text-align: center;
							color: #333333;
							font-family: $mont;
							font-weight: 500;
							position: relative;
						}
						&.active{
							display: block;
							a{
								border: 2px solid #8dc556;
								color: #8dc556;
								&:after{
									content: '';
									width: vw(26);
									height: vw(13);
									position: absolute;
									top: 50%;
									right: vw(94);
									transform: translateY(-50%);
									background: url('../images/ic_arrow_down.png') no-repeat;
									background-size: contain;
								}
							}
						}
					}
				}
			}
			&_box{
				display: flex;
				flex-wrap: wrap;
				.topics_box{
					width: 100%;
					background: #fff;
					margin-bottom: vw(43);
					a{
						display: block;
						figure{
							width: 100%;
							height: auto;
							img{
								width: 100%;
						    height: vw(300);
						    object-fit: cover;
							}
						}
						.topics_box_des{
							padding: vw(60) vw(26) vw(50);
							position: relative;
							.topics_box_cat{
								font-style: normal;
								font-size: vw(28);
								line-height: 1;
								min-width: vw(170);
								padding: vw(14) vw(7);
								position: absolute;
								top: vw(-24);
								left: vw(26);
								background: #000;
								color: #fff;
								text-align: center;
								letter-spacing: 1px;
								display: inline-block;
								&.blog{
									background: #8dc556;
								}
								&.media{
									background: #000;
								}
							}
							p{
								font-size: vw(28);
								line-height: vw(54);
								color: #333;
							}
							.topics_box_link{
								margin-top: vw(48);
								time{
									font-size: vw(22);
									line-height: 1;
									margin-right: vw(50);
									font-weight: 500;
									color: #909297;
									font-family: $mont;
								}
								span{
									font-size: vw(22);
									line-height: 1;
									position: relative;
									padding-left: vw(30);
									font-weight: 500;
									color: #909297;
									&:before{
										content: '';
										width: vw(24);
										height: vw(22);
										position: absolute;
										top: 50%;
										left: 0;
										transform: translateY(-50%);
										background: url('../images/ic_link.png') no-repeat;
										background-size: contain;
									}
								}
							}
						}
						&:hover{
							opacity: 0.8;
						}
					}
				}
			}
			.bx_pag{
				margin-top: vw(50);
			}
		}
	}
}

.topics_detail{
	background: #ECEFE8;
	.topics_ct{
		background: #fff;
		margin-top: vw(-80);
		display: block;
		position: relative;
		padding: 0 vw(35) vw(60);
		.topics_box_des{
			position: relative;
			top: vw(-28);
			left: 0;
			.topics_box_cat{
				font-style: normal;
				font-size: vw(28);
				line-height: 1;
				min-width: vw(170);
				padding: vw(14) vw(10);
				background: #000;
				color: #fff;
				text-align: center;
				letter-spacing: 1px;
				margin-bottom: vw(50);
				display: inline-block;
				font-family: $mont;
				box-sizing: border-box;
				&.blog{
					background: #8dc556;
				}
				&.media{
					background: #000;
				}
			}
			time{
				display: block;
				font-size: vw(22);
				line-height: 1;
				font-family: $mont;
				letter-spacing: 2px;
			}
		}
		h1{
			font-size: vw(36);
			line-height: vw(60);
			color: #333333;
			font-weight: 400;
			margin-bottom: vw(60);
			&:after{
				content: '';
				width: vw(87);
				height: 1px;
				background: #333333;
				display: block;
				margin: vw(40) auto 0;
			}
		}
		h2{
			font-size: vw(32);
			line-height: vw(50);
			color: #333333;
			font-weight: 400;
			margin-bottom: vw(40);
			&:after{
				content: '';
				width: 100%;
				height: 1px;
				background: #333333;
				display: block;
				margin-top: vw(20);
			}
		}
		h3{
			font-size: vw(30);
			line-height: vw(40);
			color: #333333;
			font-weight: 400;
			border-top: 3px solid #eee;
			border-bottom: 3px solid #eee;
			padding: vw(16) 0;
			margin-bottom: vw(35);
		}
		h4{
			font-size: vw(28);
			line-height: vw(35);
			color: #333333;
			font-weight: 400;
			border-left: 3px solid #333;
			padding-left: vw(15);
			margin-bottom: vw(35);
		}
		p{
			font-size: vw(28);
			line-height: vw(50);
			color: #333333;
			margin-bottom: vw(60);
		}
		figure{
			width: 100%;
			margin-bottom: vw(45);
			img{
				margin: 0 auto;
				display: block;
			}
		}
	}
	.other_post{
		padding: vw(80) 0;
		&_tt{
			font-size: vw(40);
			line-height: 1;
			color: #000;
			font-family: $mont;
			margin-bottom: vw(50);
			text-align: center;
		}
		&_inner{
			display: flex;
			flex-wrap: wrap;
			.topics_box{
				width: 100%;
				background: #fff;
				margin-bottom: vw(43);
				a{
					display: block;
					figure{
						width: 100%;
						height: auto;
						img{
							width: 100%;
					    height: vw(300);
					    object-fit: cover;
						}
					}
					.topics_box_des{
						padding: vw(60) vw(26) vw(50);
						position: relative;
						.topics_box_cat{
							font-style: normal;
							font-size: vw(28);
							line-height: 1;
							min-width: vw(170);
							padding: vw(14) vw(7);
							position: absolute;
							top: vw(-24);
							left: vw(26);
							background: #000;
							color: #fff;
							text-align: center;
							letter-spacing: 1px;
							display: inline-block;
							&.blog{
								background: #8dc556;
							}
							&.media{
								background: #000;
							}
						}
						p{
							font-size: vw(28);
							line-height: vw(54);
							color: #333;
						}
						.topics_box_link{
							margin-top: vw(48);
							time{
								font-size: vw(22);
								line-height: 1;
								margin-right: vw(50);
								font-weight: 500;
								color: #909297;
								font-family: $mont;
							}
							span{
								font-size: vw(22);
								line-height: 1;
								position: relative;
								padding-left: vw(30);
								font-weight: 500;
								color: #909297;
								&:before{
									content: '';
									width: vw(24);
									height: vw(22);
									position: absolute;
									top: 50%;
									left: 0;
									transform: translateY(-50%);
									background: url('../images/ic_link.png') no-repeat;
									background-size: contain;
								}
							}
						}
					}
				}
			}
		}
		.bx_pag{
			justify-content: center;
			margin-top: vw(40);
		}
	}
}