@media screen and (min-width: 769px), print {
  .ttl .row picture img {
    z-index: 1;
  }
  .st_about {
    padding-bottom: 145px;
  }
  .st_about .ttl {
    margin-bottom: 104px;
  }
  .st_about .gr_about_top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .st_about .gr_about_top > figure {
    width: 43.35938%;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    padding: 2.89063% 0 0;
  }
  .st_about .gr_about_top > figure span {
    display: block;
  }
  .st_about .gr_about_top > figure::after {
    position: absolute;
    content: "";
    width: 106.04317%;
    height: 0;
    /* padding-top: 57.55396%; */
    padding-top: 321px;
    left: -40px;
    top: 0;
    background: #ECEFE8;
    z-index: -1;
  }
  .st_about .gr_about_top > figure img {
    width: 100%;
    height: 369px;
    object-fit: cover;
  }
  .st_about .gr_about_top .top_pos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .st_about .gr_about_top .top_pos_m {
    height: 100%;
  }
  .st_about .gr_about_top .top_pos_m_w {
    width: 625px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_about .gr_about_top .top_pos_m_w h3 {
    font-size: 3rem;
    line-height: 1;
    color: #000;
    font-weight: bold;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 35px;
  }
  .st_about .gr_about_top .top_pos_m_w h3:after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .st_about .gr_about_top .top_pos_m_w p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .st_about .gr_about_top .top_pos_m_w p span {
    font-size: 1.7rem;
    line-height: 30px;
    color: #8DC556;
    font-weight: bold;
  }
  .st_about .gr_about_top .top_pos_m_w p + p {
    margin-top: 40px;
  }
  .st_about .gr_about_bottom {
    margin-top: 93px;
  }
  .st_about .gr_about_bottom .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .st_about .gr_about_bottom figure {
    width: 363px;
    height: 100%;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .st_about .gr_about_bottom figure span {
    display: block;
  }
  .st_about .gr_about_bottom figure::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 0;
    padding-top: 170px;
    right: -55px;
    bottom: -42px;
    background: #ECEFE8;
    z-index: -1;
  }
  .st_about .gr_about_bottom figure img {
    width: 100%;
    height: 363px;
    object-fit: cover;
  }
  .st_about .gr_about_bottom .bx_txt {
    width: -webkit-calc(100% - 363px);
    width: -moz-calc(100% - 363px);
    width: calc(100% - 363px);
    padding-left: 137px;
  }
  .st_about .gr_about_bottom .bx_txt p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .st_about .gr_about_bottom .bx_txt p span {
    font-size: 1.7rem;
    line-height: 30px;
    color: #8DC556;
    font-weight: bold;
  }
  .st_about .gr_about_bottom .bx_txt p + p {
    margin-top: 40px;
  }
  .st_about .gr_about_bottom figure img {
    visibility: hidden;
  }
  .st_about .gr_about_bottom figure span {
    background: url('../images/img_02.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .st_about {
    padding-bottom: 25.46667vw;
  }
  .st_about .ttl {
    margin-bottom: 14.26667vw;
  }
  .st_about .gr_about_top > figure {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    margin-top: 19.33333vw;
    padding: 5.46667vw 0 0 18.8vw;
  }
  .st_about .gr_about_top > figure span {
    display: block;
  }
  .st_about .gr_about_top > figure::after {
    position: absolute;
    content: "";
    width: 90.66667vw;
    height: 0;
    padding-top: 46.93333vw;
    right: 0;
    top: 0;
    background: #ECEFE8;
    z-index: -1;
  }
  .st_about .gr_about_top > figure img {
    width: 100%;
    height: auto;
  }
  .st_about .gr_about_top .top_pos_m_w h3 {
    font-size: 5.33333vw;
    text-align: center;
    line-height: 1;
    color: #000;
    font-weight: bold;
    position: relative;
    padding-bottom: 6.66667vw;
    margin-bottom: 8vw;
  }
  .st_about .gr_about_top .top_pos_m_w h3:after {
    content: "";
    width: 10.66667vw;
    height: 0.26667vw;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_about .gr_about_top .top_pos_m_w p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    display: inline;
  }
  .st_about .gr_about_top .top_pos_m_w p span {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    color: #8DC556;
    font-weight: bold;
  }
  .st_about .gr_about_top .top_pos_m_w p + p {
    margin-top: 0;
  }
  .st_about .gr_about_bottom {
    margin-top: 14.66667vw;
  }
  .st_about .gr_about_bottom .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_about .gr_about_bottom figure {
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 14vw;
    margin-left: -5.86667vw;
    width: 65.73333vw;
  }
  .st_about .gr_about_bottom figure span {
    display: block;
  }
  .st_about .gr_about_bottom figure::before {
    position: absolute;
    content: "";
    width: 19.2vw;
    height: 0;
    padding-top: 19.2vw;
    right: -34.8vw;
    top: 16.53333vw;
    background: #ECEFE8;
    z-index: -1;
  }
  .st_about .gr_about_bottom figure::after {
    position: absolute;
    content: "";
    width: 30.66667vw;
    height: 0;
    padding-top: 30.66667vw;
    right: -10.66667vw;
    bottom: -8vw;
    background: #ECEFE8;
    z-index: -1;
  }
  .st_about .gr_about_bottom figure span {
    width: 100%;
    display: block;
  }
  .st_about .gr_about_bottom figure img {
    width: 65.73333vw;
    height: auto;
  }
  .st_about .gr_about_bottom .bx_txt {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .st_about .gr_about_bottom .bx_txt p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
  }
  .st_about .gr_about_bottom .bx_txt p span {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    color: #8DC556;
    font-weight: bold;
  }
  .st_about .gr_about_bottom .bx_txt p + p {
    margin-top: 7.33333vw;
  }
  .st_about .gr_about_bottom .bx_txt p:nth-of-type(2) {
    margin-top: 0;
  }
}
