@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_contact{
  .ttl{
    margin-bottom: vw(63);
  }
  .gr_contact{
    background-color: #ECEFE8;
    padding: vw(90) vw(40) vw(110);
    .wrap{
      background-color: #fff;
      padding: vw(70) vw(40) vw(103);
    }
    .ctn_form{
      h3{
        font-size: vw(32);
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        margin-bottom: vw(60);
      }
      p{
        font-size: vw(26);
        line-height: vw(50);
        a{
          color: #000;
          text-decoration: underline;
        }
      } 
      .list_item{
        display: flex;
        align-items: center;
        margin: vw(135) 0 vw(32) vw(-8);
        position: relative;
        &:before{
          content:"";
          width: vw(76);
          height: vw(2);
          background-color: #000;
          position: absolute;
          top: vw(-67);
          left: 50%;
          transform: translateX(-50%);
        }
        li{
          font-size: vw(26);
          line-height: 1;
          text-align: center;
          font-weight: bold;
          color: #fff;
          background:#ccc;
          width: calc(33.33% - #{vw(8)});
          margin-left: vw(8);
          padding: vw(19) 0;
          position: relative;
          display: block;
          &:before{
            border-color: transparent transparent transparent #fff;
            left: 0;
            top: 0;
          }
          &:after{
            border-color: transparent transparent transparent #ccc;
            right: vw(-10);
            top: 0;
          }
           &:before,&:after{
            position: absolute;
            content: "";
            border-style: solid;
            border-width: vw(31) 0 vw(31) vw(10);
          }
          &:nth-of-type(1){
            z-index: 3;
          }
          &:nth-of-type(2){
            z-index: 2;
          }
          &:nth-of-type(3){
            z-index: 1;
          }
          &.active{
            background-color: #8DC556;
            z-index: 3;
            &:before{
              content:none;
            }
            &:after{
              border-color: transparent transparent transparent #8DC556;
            }
          }
        }
      }
      .frm_contact{
        .frm_group{
          &:not(:last-child){
            margin-bottom: vw(58);
          }
        }
        label{
          font-size: vw(28);
          line-height: 1;
          font-weight: bold;
          color: #3D3D3D;
          display: flex;
          align-items: center;
          margin-bottom: vw(30);
          em{
            font-style: normal;
            order: 2;
            margin-left: vw(22);
          }
          span{
            font-size: vw(24);
            font-weight: bold;
            color: #fff;
            width: vw(71);
            height: vw(44);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: vw(5);
            order: 1;
            background-color: #D03535;
          }
          .blue{
            background-color: #4E7DBB;
          }
        }
        .left{
        }
        .frm_control{
          width: 100%;
          height: vw(80);
          font-size: vw(28);
          color: #333;
          line-height: 1;
          padding: 0 vw(30);
          border-radius: vw(5);
          border: 1px solid #CCCCCC;
          outline: none;
        }
        .frm_select{
          width: 100%;
          height: vw(80);
          font-size: vw(28);
          color: #000;
          line-height: 1;
          padding: 0 vw(30);
          border-radius: vw(5);
          cursor: pointer;
          outline: none;
          background: url(../images/arr_down.png) 97% vw(33) no-repeat;
          background-size: vw(25) vw(13);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &::-ms-expand {
            display: none;
          }
        }
        .frm_textarea{
          width: 100%;
          height: vw(293);
          font-size: vw(28);
          color: #333;
          line-height: 1.5;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #CCCCCC;
          outline: none;
          resize: none;
        }
        .frm_btn{
          margin-top: vw(100);
          text-align: center;
          button{
            background: #fff;
            border: none;
            cursor: pointer;
            font-weight: bold;
            font-size: vw(26);
            /* span{
              padding-right: 25px;
            } */
          }
        }
        /* ===== Confirm ======*/

      }
    }
    /* ===== Confirm ======*/
    &.gr_confirm{
      .list_item{
        li{
          &:nth-of-type(1){
            z-index: 3;
            &:before{
              content:none;
            }
          }
          &:nth-of-type(2){
            z-index: 2;
          }
          &:nth-of-type(3){
            z-index: 1;
          }
          &.active{
            &:before{
              content:"";
            }
          }
        }
      }
      .frm_confirm{
        .frm_group{
          border-bottom: 1px solid #ccc;
          padding: vw(30) 0;
          &:not(:last-child){
            margin-bottom: 0;
          }
        }
        label{
          em{
            margin-left: 0;
          }
        }
        button{
          width: vw(266);
        }
        .back_top{
          margin-right: vw(40);
          &:before{
            border-top: 1px solid #999;
            border-left: 1px solid #999;
          }
          &:after{
            border-bottom: 1px solid #999;
            border-right: 1px solid #999;
          }
          span{
            position: relative;
            padding: 0 0 0 vw(50);
            color: #999999;
            &:before{
              content:"";
              background: url(../images/icon_back.png) no-repeat;
              background-size: contain;
              width: vw(34);
              height: vw(10);
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              z-index: 1;
              padding-top: 4px;
            }
            &:after{
              content:none;
            }
          }
        }
      }
    }
    &.gr_thanks{
      .list_item{
        position: relative;
        margin-bottom: vw(110);
        &:before{
          content:"";
          width: 77px;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: -65px;
          left: 50%;
          transform: translateX(-50%);
        }
        li{
          &:nth-of-type(1){
            z-index: 3;
            &:before{
              content:none;
            }
          }
          &:nth-of-type(2){
            z-index: 2;
          }
          &:nth-of-type(3){
            z-index: 1;
          }
          &.active{
            &:before{
              content:"";
            }
          }
        }
      }
      .bx_thanks{
        p{
          font-size: vw(26);
          line-height: vw(50);
          +p{
            margin-top: vw(70);
          }
        }
        .back_top{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
          margin: 55px auto 0;
        }
      }
    }
  }
}