@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_contact{
  .ttl{
    margin-bottom: 88px;
  }
  .gr_contact{
    background-color: #ECEFE8;
    padding: 50px 0 97px;
    .wrap{
      background-color: #fff;
      padding: 65px 101px 72px 105px;
    }
    .ctn_form{
      h3{
        font-size: rem(28);
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        margin-bottom: 35px;
      }
      p{
        font-size: rem(15);
        line-height: 30px;
        a{
          color: #000;
          text-decoration: underline;
        }
      } 
      .list_item{
        display: flex;
        align-items: center;
        margin: 60px 0 80px -4px;
        li{
          font-size: rem(18);
          line-height: 1;
          text-align: center;
          font-weight: bold;
          color: #fff;
          background:#ccc;
          width: calc(33.33% - 4px);
          margin-left: 4px;
          padding: 11px 0;
          position: relative;
          display: block;
          &:before{
            border-color: transparent transparent transparent #fff;
            left: 0;
            top: 0;
          }
          &:after{
            border-color: transparent transparent transparent #ccc;
            right: -14px;
            top: 0;
          }
           &:before,&:after{
            position: absolute;
            content: "";
            border-style: solid;
            border-width: 20px 0 20px 14px;
          }
          &:nth-of-type(1){
            z-index: 3;
          }
          &:nth-of-type(2){
            z-index: 2;
          }
          &:nth-of-type(3){
            z-index: 1;
          }
          &.active{
            background-color: #8DC556;
            z-index: 3;
            &:before{
              content:none;
            }
            &:after{
              border-color: transparent transparent transparent #8DC556;
            }
          }
        }
      }
      .frm_contact{
        .frm_group{
          display: flex;
          align-items: center;
          &:not(:last-child){
            margin-bottom: 35px;
          }
          &:nth-of-type(8){
            align-items: flex-start;
            label{
              padding-top: 10px;
            }
          }
        }
        label{
          font-size: rem(16);
          line-height: 1;
          font-weight: bold;
          color: #3D3D3D;
          width: 274px;
          display: flex;
          justify-content: space-between;
          padding-right: 30px;
          em{
            font-style: normal;
          }
          span{
            font-size: rem(13);
            font-weight: bold;
            color: #fff;
            width: 38px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: #D03535;
          }
          .blue{
            background-color: #4E7DBB;
          }
        }
        .left{
          width: calc(100% - 274px);
        }
        .frm_control{
          width: 100%;
          height: 45px;
          font-size: rem(16);
          line-height: 1;
          padding: 0 10px;
          border-radius: 5px;
          border: 1px solid #CCCCCC;
          outline: none;
        }
        .frm_select{
          width: 100%;
          height: 45px;
          font-size: rem(16);
          color: #000;
          line-height: 1.5;
          padding: 0 10px;
          border-radius: 5px;
          border: 1px solid #CCCCCC;
          cursor: pointer;
          outline: none;
          background: url(../images/arr_down.png) 98% 17px no-repeat;
          background-size: 14px 8px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &::-ms-expand {
            display: none;
          }
        }
        .frm_textarea{
          width: 100%;
          height: 170px;
          font-size: rem(16);
          line-height: 1;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #CCCCCC;
          outline: none;
          resize: none;
        }
        .frm_error{
          background-color: #FAE2E7;
        }
        .txt_error{
          font-size: rem(15);
          line-height: 1;
          margin: 10px 0 0 20px;
          color: #D03535;
        }
        .frm_btn{
          margin-top: 60px;
          text-align: center;
          button{
            background: #fff;
            border: none;
            cursor: pointer;
            font-weight: bold;
            font-size: rem(13);
            span{
              padding-right: 25px;
            }
          }
        }
      }
    }
    /* ===== Confirm ======*/
    &.gr_confirm{
      .list_item{
        position: relative;
        margin-top: 115px;
        &:before{
          content:"";
          width: 77px;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: -65px;
          left: 50%;
          transform: translateX(-50%);
        }
        li{
          &:nth-of-type(1){
            z-index: 3;
            &:before{
              content:none;
            }
          }
          &:nth-of-type(2){
            z-index: 2;
          }
          &:nth-of-type(3){
            z-index: 1;
          }
          &.active{
            &:before{
              content:"";
            }
          }
        }
      }
      .frm_confirm{
        .frm_group{
          border-bottom: 1px solid #ccc;
          padding: 30px 0;
          &:not(:last-child){
            margin-bottom: 0;
          }
        }
        .back_top{
          margin-right: 220px;
          &:before{
            border-top: 1px solid #999;
            border-left: 1px solid #999;
          }
          &:after{
            border-bottom: 1px solid #999;
            border-right: 1px solid #999;
          }
          span{
            position: relative;
            padding: 0 0 0 25px;
            color: #999999;
            &:before{
              content:"";
              background: url(../images/icon_back.png) no-repeat;
              background-size: contain;
              width: 14px;
              height: 4px;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              z-index: 1;
              padding-top: 4px;
            }
            &:after{
              content:none;
            }
          }
        }
      }
    }
    &.gr_thanks{
      .list_item{
        position: relative;
        margin-top: 115px;
        &:before{
          content:"";
          width: 77px;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: -65px;
          left: 50%;
          transform: translateX(-50%);
        }
        li{
          &:nth-of-type(1){
            z-index: 3;
            &:before{
              content:none;
            }
          }
          &:nth-of-type(2){
            z-index: 2;
          }
          &:nth-of-type(3){
            z-index: 1;
          }
          &.active{
            &:before{
              content:"";
            }
          }
        }
      }
      .bx_thanks{
        p{
          text-align: center;
          font-size: rem(15);
          line-height: 25px;
          +p{
            margin-top: 30px;
          }
        }
        .back_top{
          width: 220px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
          margin: 55px auto 0;
          span{
            padding-right: 30px;
          }
        }
      }
    }
  }
}