@media screen and (min-width: 769px), print {
  .ttl .row picture img {
    visibility: hidden;
  }
  .ttl .row picture {
    background: url('../images/partner_banner.jpg') 100% 90% no-repeat;
    -webkit-background-size: 76.484375% auto;
    background-size: 76.484375% auto;
  }
  .partner_ct_des {
    text-align: center;
    padding: 80px 0 120px;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
  }
  .partner_ct .partner_list {
    padding-bottom: 90px;
  }
  .partner_ct .partner_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -27px;
    margin-right: -50px;
  }
  .partner_ct .partner_list_box .partner_box {
    width: 300px;
    margin: 0 50px 0 27px;
    background: #fff;
    margin-bottom: 30px;
  }
  .partner_ct .partner_list_box .partner_box a {
    display: block;
  }
  .partner_ct .partner_list_box .partner_box a figure {
    width: 100%;
    height: 100px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
  }
  .partner_ct .partner_list_box .partner_box a figure img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100px;
    object-fit: cover;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des {
    padding: 10px 0;
    position: relative;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des p {
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #333;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des .btn_media {
    margin-top: 30px;
    text-align: right;
    font-family: "Montserrat", sans-serif;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des .btn_media span {
    color: #333;
    font-size: 1.3rem;
    line-height: 1;
    position: relative;
    padding-right: 20px;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des .btn_media span:after {
    content: "";
    background: url('../../common/images/arr_n.png') no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 14px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 4px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .partner_ct .partner_list_box .partner_box a:hover {
    opacity: 0.8;
  }
  .partner_ct .partner_list .btn_green {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .partner_ct .partner_list .btn_green a {
    font-size: 1.5rem;
    line-height: 1;
    padding: 15px;
    background: #8DC556;
    display: inline-block;
    min-width: 300px;
    text-align: center;
    position: relative;
    color: #fff;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .partner_ct .partner_list .btn_green a:after {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform-origin: top right;
       -moz-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .partner_ct .partner_list .btn_green a:hover:after {
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .partner_ct .partner_list .btn_green a span {
    position: relative;
    display: block;
  }
  .partner_ct .partner_list .btn_green a span:after {
    content: "";
    background: url(../images/ic_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 16px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 4px;
  }
}

@media screen and (max-width: 768px) {
  .partner_ct_des {
    padding: 10.66667vw 0 16vw;
    font-size: 3.73333vw;
    line-height: 5rem;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
  }
  .partner_ct .partner_list {
    padding-bottom: 12vw;
  }
  .partner_ct .partner_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 5.33333vw;
  }
  .partner_ct .partner_list_box .partner_box {
    width: 100%;
    background: #fff;
    margin-bottom: 5.33333vw;
    padding: 5.33333vw 0;
    border-bottom: 1px solid #eee;
  }
  .partner_ct .partner_list_box .partner_box a {
    display: block;
  }
  .partner_ct .partner_list_box .partner_box a figure {
    width: 100%;
    height: auto;
  }
  .partner_ct .partner_list_box .partner_box a figure img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des {
    padding: 1.33333vw 0;
    position: relative;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des p {
    font-size: 3.46667vw;
    line-height: 6.66667vw;
    color: #333;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des .btn_media {
    margin-top: 5.33333vw;
    text-align: right;
    font-family: "Montserrat", sans-serif;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des .btn_media span {
    color: #333;
    font-size: 3.73333vw;
    line-height: 1;
    position: relative;
    padding-right: 5.33333vw;
  }
  .partner_ct .partner_list_box .partner_box a .partner_box_des .btn_media span:after {
    content: "";
    background: url('../../common/images/arr_n.png') no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 3.73333vw;
    height: 1.06667vw;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 0.53333vw;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .partner_ct .partner_list_box .partner_box a:hover {
    opacity: 0.8;
  }
  .partner_ct .partner_list .btn_green {
    width: 100%;
    text-align: center;
    margin-top: 4.93333vw;
  }
  .partner_ct .partner_list .btn_green a {
    font-size: 3.46667vw;
    line-height: 1;
    padding: 4.93333vw 2.66667vw;
    background: #8DC556;
    display: block;
    text-align: center;
    position: relative;
    color: #fff;
  }
  .partner_ct .partner_list .btn_green a span {
    position: relative;
    display: block;
  }
  .partner_ct .partner_list .btn_green a span:after {
    content: "";
    background: url(../images/ic_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.26667vw;
    height: 1.06667vw;
    position: absolute;
    top: 50%;
    right: 10.66667vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 0.53333vw;
  }
}
