@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.join{
	&_ct{
		padding: 50px 0;
		&_inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 50px 0;
			.join_ct_des{
				width: 50%;
				h3{
					font-size: rem(22);
					line-height: 1;
					margin-bottom: 36px;
				}
				p{
					font-size: rem(15);
					line-height: rem(30);
					margin-bottom: 30px;
				}
				.bx_pag{
					justify-content: flex-start;
					&.btn_wanted{
						span{
							padding-left: 20px;
							padding-right: 20px;
							&:before{
								content:"";
								background: url(../images/ic_wanted.png) no-repeat;
								background-size: contain;
								width: 13px;
								height: 12px;
								position: absolute;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
								z-index: 1;
							}
						}
					}
				}
			}
			.join_ct_thumb{
				width: 50%;
				padding: 0 48px;
			}
			figure{
				width: 100%;
				text-align: right;
			}
			&:not(:last-child){
				border-bottom: 1px solid #ccc;
			}
		}
	}
}