@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.join{
	&_ct{
		padding: vw(50) 0;
		&_inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			padding: vw(100) 0;
			.join_ct_des{
				width: 100%;
				order: 2;
				p{
					font-size: vw(28);
					line-height: vw(50);
					margin-bottom: vw(50);
				}
				.bx_pag{
					justify-content: flex-start;
					&.btn_wanted{
						span{
							padding-left: vw(60);
							padding-right: vw(60);
							&:before{
								content:"";
								background: url(../images/ic_wanted.png) no-repeat;
								background-size: contain;
								width: vw(26);
								height: vw(24);
								position: absolute;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
								z-index: 1;
							}
						}
					}
				}
			}
			.join_ct_thumb{
				order: 1;
				width: 100%;
				margin-bottom: vw(50);
				h3{
					font-size: vw(40);
					line-height: 1;
					margin-bottom: vw(70);
					text-align: center;
				}
				figure{
					img{
						width: 100%;
					}
				}
			}
			&:not(:last-child){
				border-bottom: 1px solid #ccc;
			}
		}
	}
}