@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.partner{
	&_ct{
		&_des{
			text-align: center;
			padding: 80px 0 120px;
			font-size: rem(15);
			line-height: rem(30);
			font-family: YuGothic;
			font-weight: 500;
		}
		.partner_list{
			padding-bottom: 90px;
			&_box{
				display: flex;
				flex-wrap: wrap;
				margin-left: -50px;
				margin-right: -50px;
				.partner_box{
					width: 300px;
					margin: 0 50px;
					background: #fff;
					margin-bottom: 30px;
					a{
						display: block;
						figure{
							width: 100%;
							height: auto;
							img{
								width: 300px;
						    height: 84px;
						    object-fit: cover;
							}
						}
						.partner_box_des{
							padding: 10px 0;
							position: relative;
							p{
								font-size: rem(15);
								line-height: rem(21);
								color: #333;
							}
							.btn_media{
								margin-top: 30px;
								text-align: right;
								font-family: $mont;
								span{
									color: #333;
									font-size: rem(13);
									line-height: 1;
									position: relative;
									padding-right: 20px;
									&:after{
								        content:"";
								        background: url(/common/images/arr_n.png) no-repeat;
								        background-size: contain;
								        width: 14px;
								        height: 4px;
								        position: absolute;
								        top: 50%;
								        right: 0;
								        transform: translateY(-50%);
								        z-index: 1;
								        padding-top: 4px;
								        transition: all .3s ease;
								     }
								}
							}
						}
						&:hover{
							opacity: 0.8;
						}
					}
				}
			}
			.btn_green{
				width: 100%;
				text-align: center;
				margin-top: 40px;
				a{
					font-size: 1.5rem;
				    line-height: 1;
				    padding: 15px;
				    background: #8DC556;
				    display: inline-block;
				    min-width: 300px;
				    text-align: center;
				    position: relative;
				    color: #fff;
				    transform: translateZ(0);
    				transition: all 0.3s ease-out;
				    &:after{
				    	content: '';
					    background: #000;
					    width: 100%;
					    height: 100%;
					    display: block;
					    transform-origin: top right;
					    transform: scale(0, 1);
					    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    z-index: -1;
				    }
				    &:hover{
				    	&:after{				    
				    		transform-origin: top left;
						    transform: scale(1, 1);
				    	}
				    }
				    span{
				    	position: relative;
				    	display: block;
						&:after{
							content:"";
					      background: url(../images/ic_white.png) no-repeat;
					      background-size: contain;
					      width: 16px;
					      height: 4px;
					      position: absolute;
					      top: 50%;
					      right: 0;
					      transform: translateY(-50%);
					      z-index: 1;
					      padding-top: 4px;
							}
				    }
				}
			}
		}
	}
}