@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.partner{
	&_ct{
		&_des{
			padding: vw(80) 0 vw(120);
			font-size: vw(28);
			line-height: rem(50);
			font-family: YuGothic;
			font-weight: 500;
		}
		.partner_list{
			padding-bottom: vw(90);
			&_box{
				display: flex;
				flex-wrap: wrap;
				margin-bottom: vw(40);
				.partner_box{
					width: 100%;
					background: #fff;
					margin-bottom: vw(40);
					padding: vw(40) 0;
					border-bottom: 1px solid #eee;
					a{
						display: block;
						figure{
							width: 100%;
							height: auto;
							img{
								width: vw(460);
						    height: vw(129);
						    object-fit: cover;
						    display: block;
						    margin: 0 auto;
							}
						}
						.partner_box_des{
							padding: vw(10) 0;
							position: relative;
							p{
								font-size: vw(26);
								line-height: vw(50);
								color: #333;
							}
							.btn_media{
								margin-top: vw(40);
								text-align: right;
								font-family: $mont;
								span{
									color: #333;
									font-size: vw(28);
									line-height: 1;
									position: relative;
									padding-right: vw(40);
									&:after{
							        content:"";
							        background: url(/common/images/arr_n.png) no-repeat;
							        background-size: contain;
							        width: vw(28);
							        height: vw(8);
							        position: absolute;
							        top: 50%;
							        right: 0;
							        transform: translateY(-50%);
							        z-index: 1;
							        padding-top: vw(4);
							        transition: all .3s ease;
							     }
								}
							}
						}
						&:hover{
							opacity: 0.8;
						}
					}
				}
			}
			.btn_green{
				width: 100%;
				text-align: center;
				a{
					font-size: vw(26);
				    line-height: 1;
				    padding: vw(37) vw(20);
				    background: #8DC556;
				    display: block;
				    text-align: center;
				    position: relative;
				    color: #fff;
				    span{
				    	position: relative;
				    	display: block;
						&:after{
							content:"";
					      background: url(../images/ic_white.png) no-repeat;
					      background-size: contain;
					      width: vw(32);
					      height: vw(8);
					      position: absolute;
					      top: 50%;
					      right: vw(80);
					      transform: translateY(-50%);
					      z-index: 1;
					      padding-top: vw(4);
						}
				    }
				}
			}
		}
	}
}