@media screen and (min-width: 769px), print {
  .st_access {
    padding-bottom: 103px;
  }
  .st_access .ttl {
    margin-bottom: 90px;
  }
  .st_access .gr_price .txt_top {
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
  .st_access .gr_price .bx_list {
    max-width: 723px;
    margin: 0 auto 60px;
  }
  .st_access .gr_price .list_price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -50px;
  }
  .st_access .gr_price .list_price li {
    border: 5px solid #ECEFE8;
    width: -webkit-calc(33.33% - 50px);
    width: -moz-calc(33.33% - 50px);
    width: calc(33.33% - 50px);
    margin-left: 50px;
    height: 200px;
  }
  .st_access .gr_price .list_price li:nth-of-type(1) img {
    width: 92px;
    height: 67px;
  }
  .st_access .gr_price .list_price li:nth-of-type(2) img {
    width: 48px;
    height: 80px;
  }
  .st_access .gr_price .list_price li:nth-of-type(3) img {
    width: 67px;
    height: 80px;
  }
  .st_access .gr_price .list_price li a {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    pointer-events: none;
    height: 100%;
  }
  .st_access .gr_price .list_price li a:hover {
    opacity: 0.8;
  }
  .st_access .gr_price .list_price li figure {
    text-align: center;
  }
  .st_access .gr_price .list_price li figure figcaption {
    font-weight: bold;
    color: #8DC556;
    margin-bottom: 15px;
  }
  .st_access .gr_price .list_price li figure figcaption span {
    font-size: 2.4rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-bottom: 5px;
  }
  .st_access .gr_price .list_price li figure figcaption em {
    font-size: 2.8rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    display: block;
  }
  .st_access .gr_price article {
    margin-bottom: 102px;
  }
  .st_access .gr_price article h3 {
    font-size: 1.7rem;
    line-height: 30px;
    font-weight: bold;
    color: #8DC556;
    text-align: center;
  }
  .st_access .gr_price article p {
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    margin-bottom: 90px;
  }
  .st_access .gr_price article figure {
    position: relative;
  }
  .st_access .gr_price article figure img {
    width: 100%;
    height: auto;
  }
  .st_access .gr_price .bx_bottom {
    text-align: center;
    background-color: #ECEFE8;
    padding: 40px 50px 50px;
  }
  .st_access .gr_price .bx_bottom h3 {
    font-size: 1.5rem;
    line-height: 30px;
    position: relative;
    padding: 0 30px;
    display: inline-block;
    margin-bottom: 30px;
  }
  .st_access .gr_price .bx_bottom h3:before {
    content: "";
    width: 14px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  .st_access .gr_price .bx_bottom h3:after {
    content: "";
    width: 14px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .st_access .gr_price .bx_bottom .list_pdf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -40px;
  }
  .st_access .gr_price .bx_bottom .list_pdf li {
    width: -webkit-calc(33.33% - 40px);
    width: -moz-calc(33.33% - 40px);
    width: calc(33.33% - 40px);
    margin-left: 40px;
  }
  .st_access .gr_price .bx_bottom .list_pdf li a {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    background-color: #909297;
  }
  .st_access .gr_price .bx_bottom .list_pdf li a span {
    position: relative;
    padding-left: 30px;
  }
  .st_access .gr_price .bx_bottom .list_pdf li a span:before {
    content: "";
    background: url(../images/icon_pdf.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 18px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_access .gr_price .bx_bottom .list_pdf li a:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .st_access .ttl {
    margin-bottom: 14.53333vw;
  }
  .st_access .gr_price .txt_top {
    font-size: 3.64583;
    line-height: 6.66667vw;
    text-align: left;
    margin-bottom: 6.66667vw;
  }
  .st_access .gr_price .bx_list {
    margin: 6vw auto 9.33333vw;
  }
  .st_access .gr_price .list_price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -2vw;
  }
  .st_access .gr_price .list_price li {
    border: 0.66667vw solid #ECEFE8;
    width: -webkit-calc(33.33% - 2vw);
    width: -moz-calc(33.33% - 2vw);
    width: calc(33.33% - 2vw);
    margin-left: 2vw;
    height: 27.86667vw;
  }
  .st_access .gr_price .list_price li:nth-of-type(1) img {
    width: 12.93333vw;
    height: 9.33333vw;
  }
  .st_access .gr_price .list_price li:nth-of-type(2) img {
    width: 6.66667vw;
    height: 11.2vw;
  }
  .st_access .gr_price .list_price li:nth-of-type(3) img {
    width: 9.33333vw;
    height: 11.2vw;
  }
  .st_access .gr_price .list_price li a {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .st_access .gr_price .list_price li a:hover {
    opacity: 0.8;
  }
  .st_access .gr_price .list_price li figure {
    text-align: center;
  }
  .st_access .gr_price .list_price li figure figcaption {
    font-weight: bold;
    color: #8DC556;
    margin-bottom: 2.66667vw;
  }
  .st_access .gr_price .list_price li figure figcaption span {
    font-size: 3.33333vw;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-bottom: 1.33333vw;
  }
  .st_access .gr_price .list_price li figure figcaption em {
    font-size: 3.86667vw;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    display: block;
  }
  .st_access .gr_price article {
    margin-bottom: 9.73333vw;
  }
  .st_access .gr_price article p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    text-align: left;
    margin-bottom: 12vw;
  }
  .st_access .gr_price article p span {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    font-weight: bold;
    color: #8DC556;
    text-align: left;
  }
  .st_access .gr_price article figure {
    position: relative;
  }
  .st_access .gr_price article figure img {
    width: 100%;
    height: auto;
  }
  .st_access .gr_price .bx_bottom {
    text-align: center;
    background-color: #ECEFE8;
    padding: 9.33333vw 5.33333vw 12.4vw;
    margin: 0 -5.33333vw;
  }
  .st_access .gr_price .bx_bottom h3 {
    font-size: 3.73333vw;
    line-height: 6.13333vw;
    position: relative;
    padding: 0 6.66667vw;
    display: inline-block;
    margin-bottom: 8.66667vw;
  }
  .st_access .gr_price .bx_bottom h3:before {
    content: "";
    width: 2.8vw;
    height: 0.26667vw;
    background-color: #000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  .st_access .gr_price .bx_bottom h3:after {
    content: "";
    width: 2.8vw;
    height: 0.26667vw;
    background-color: #000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .st_access .gr_price .bx_bottom .list_pdf li:not(:last-child) {
    margin-bottom: 5.73333vw;
  }
  .st_access .gr_price .bx_bottom .list_pdf li a {
    width: 100%;
    height: 13.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.46667vw;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    background-color: #909297;
  }
  .st_access .gr_price .bx_bottom .list_pdf li a span {
    position: relative;
    padding-left: 5.33333vw;
  }
  .st_access .gr_price .bx_bottom .list_pdf li a span:before {
    content: "";
    background: url(../images/icon_pdf.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 3.06667vw;
    height: 3.33333vw;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .st_access .gr_price .bx_bottom .list_pdf li a:hover {
    opacity: 0.8;
  }
}
