@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_access{
  padding-bottom: 103px;
  .ttl{
    margin-bottom: 90px;
  }
  .gr_price{
    .txt_top{
      font-size: rem(15);
      line-height: 30px;
      text-align: center;
      margin-bottom: 50px;
    }
    .bx_list{
      max-width: 723px;
      margin: 0 auto 60px;
    }
    .list_price{
      display: flex;
      align-items: center;
      margin-left: -50px;
      li{
        border: 5px solid #ECEFE8;
        width: calc(33.33% - 50px);
        margin-left: 50px;
        height: 200px;
        &:nth-of-type(1){
          img{
            width: 92px;
            height: 67px;
          }
        }
        &:nth-of-type(2){
          img{
            width: 48px;
            height: 80px;
          }
        }
        &:nth-of-type(3){
          img{
            width: 67px;
            height: 80px;
          }
        }
        a{
          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          pointer-events: none;
          height: 100%;
          &:hover{
            opacity:0.8;
          }
        }
        figure{
          text-align: center;
          figcaption{
            font-weight: bold;
            color: #8DC556;
            margin-bottom: 15px;
            span{
              font-size: rem(24);
              line-height: 1;
              font-family: $mont;
              display: block;
              margin-bottom: 5px;
            }
            em{
              font-size: rem(28);
              line-height: 1;
              font-family: $mont;
              font-style: normal;
              display: block;
            }
          }
        }
      }
    }
    article{
      margin-bottom: 102px;
      h3{
        font-size: rem(17);
        line-height: 30px;
        font-weight: bold;
        color: #8DC556;
        text-align: center;
      }
      p{
        font-size: rem(15);
        line-height: 30px;
        text-align: center;
        margin-bottom: 90px;
      }
      figure{
        position: relative;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .bx_bottom{
      text-align: center;
      background-color: #ECEFE8;
      padding: 40px 50px 50px;
      h3{
        font-size: rem(15);
        line-height: 30px;
        position: relative;
        padding: 0 30px;
        display: inline-block;
        margin-bottom: 30px;
        &:before{
          content:"";
          width: 14px;
          height: 1px;
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:after{
          content:"";
          width: 14px;
          height: 1px;
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      .list_pdf{
        display: flex;
        align-items: center;
        margin-left: -40px;
        li{
          width: calc(33.33% - 40px);
          margin-left: 40px;
          a{
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(15);
            font-weight: bold;
            color: #fff;
            line-height: 1;
            background-color: #909297;
            span{
              position: relative;
              padding-left: 30px;
              &:before{
                content:"";
                background: url(../images/icon_pdf.png) no-repeat;
                background-size: contain;
                width: 18px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
    }
  }  
}