@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_access{
  .ttl{
    margin-bottom: vw(109);
  }
  .gr_price{
    .txt_top{
      font-size: vw(20);
      line-height: vw(40);
      text-align: left;
      margin-bottom: vw(50);
    }
    .bx_list{
      margin: vw(45) auto vw(70);
    }
    .list_price{
      display: flex;
      align-items: center;
      margin-left: vw(-15);
      li{
        border: vw(5) solid #ECEFE8;
        width: calc(33.33% - #{vw(15)});
        margin-left: vw(15);
        height: vw(209);
        &:nth-of-type(1){
          img{
            width: vw(97);
            height: vw(70);
          }
        }
        &:nth-of-type(2){
          img{
            width: vw(50);
            height: vw(84);
          }
        }
        &:nth-of-type(3){
          img{
            width: vw(70);
            height: vw(84);
          }
        }
        a{
          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          &:hover{
            opacity:0.8;
          }
        }
        figure{
          text-align: center;
          figcaption{
            font-weight: bold;
            color: #8DC556;
            margin-bottom: vw(20);
            span{
              font-size: vw(25);
              line-height: 1;
              font-family: $mont;
              display: block;
              margin-bottom: vw(10);
            }
            em{
              font-size: vw(29);
              line-height: 1;
              font-family: $mont;
              font-style: normal;
              display: block;
            }
          }
        }
      }
    }
    article{
      margin-bottom: vw(73);
      p{
        font-size: vw(28);
        line-height: vw(50);
        text-align: left;
        margin-bottom: vw(90);
        span{
          font-size: vw(28);
          line-height: vw(50);
          font-weight: bold;
          color: #8DC556;
          text-align: left;
        }
      }
      figure{
        position: relative;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .bx_bottom{
      text-align: center;
      background-color: #ECEFE8;
      padding: vw(70) vw(40) vw(93);
      margin: 0 vw(-40);
      h3{
        font-size: vw(28);
        line-height: vw(46);
        position: relative;
        padding: 0 vw(50);
        display: inline-block;
        margin-bottom: vw(65);
        &:before{
          content:"";
          width: vw(21);
          height: vw(2);
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:after{
          content:"";
          width: vw(21);
          height: vw(2);
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      .list_pdf{
        li{
          &:not(:last-child){
            margin-bottom: vw(43);
          }
          a{
            width: 100%;
            height: vw(100);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: vw(26);
            font-weight: bold;
            color: #fff;
            line-height: 1;
            background-color: #909297;
            span{
              position: relative;
              padding-left: vw(40);
              &:before{
                content:"";
                background: url(../images/icon_pdf.png) no-repeat;
                background-size: contain;
                width: vw(23);
                height: vw(25);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
    }
  }  
}