@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_access{
  padding-bottom: vw(138);
  .ttl{
    margin-bottom: vw(114);
  }
  .gr_access{
    &_top{
      margin-bottom: vw(60);
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: vw(166);
      .left{
        order: 2;
        &_m{
          &_w{
            .top_h{
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              width: 100%;
              h3{
                font-size: vw(40);
                font-weight: bold;
                line-height: 1.5;
                margin-bottom: vw(10);
              }
              span{
                font-size: vw(32);
                line-height: 1.5;
                font-weight: bold;
                margin-bottom: vw(50);
                display: block;
              }
            }
            p{
              font-size: vw(28);
              line-height: vw(50);
              .tel{
                color: #000;
              }
            }
            .txt_bt{
              margin-top: vw(50);
              padding-top: vw(50);
              border-top: 1px solid #E6E6E6;
            }
          }
        }
      }
      .right{
        order: 1;
        width: 100%;
        position: relative;
        transform: translateZ(0);
        margin-bottom: vw(45);
        .map{
          height: vw(448);
        }
      }
    }
    &_bottom{
      ul{
        display: flex;
        align-items: center;
        margin-left: vw(-20);
        li{
          width: calc(33.33% - #{vw(20)});
          margin-left: vw(20);
          a{
            display: block;
            &:hover{
              opacity:0.8;
            }
          }
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}