@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_access{
  padding-bottom: 102px;
  .ttl{
    margin-bottom: 104px;
  }
  .gr_access{
    &_top{
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 86px;
      .left{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &_m{
          height: 100%;
          &_w{
            width: 374px;
            height: 100%;
            display: flex;
            flex-direction: column;
            h3{
              font-size: rem(30);
              font-weight: bold;
              line-height: 1.5;
              margin-bottom: 5px;
              font-family: $mont;
            }
            span{
              font-size: rem(20);
              line-height: 1.5;
              font-weight: bold;
              margin-bottom: 25px;
              display: block;
            }
            p{
              font-size: rem(15);
              line-height: 30px;
              .tel{
                color: #000;
              }
            }
            .txt_bt{
              margin-top: 35px;
              padding-top: 35px;
              border-top: 1px solid #E6E6E6;
            }
          }
        }
      }
      .right{
        width: percentage(695/1280);
        position: relative;
        transform: translateZ(0);
        .map{
          height: 448px;
        }
      }
    }
    &_bottom{
      ul{
        display: flex;
        align-items: center;
        margin-left: -63px;
        li{
          width: calc(33.33% - 63px);
          margin-left: 63px;
          a{
            display: block;
            pointer-events: none;
            &:hover{
              opacity:0.8;
            }
          }
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}