@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_rental{
  .wrap{
    max-width: 980px;
    margin: 0 auto;
  }
  .ttl{
    margin-bottom: 92px;
  }
  .txt_top{
    font-size: rem(15);
    line-height: 30px;
    text-align: center;
    margin-bottom: 95px;
  }
  .bx_center{
    &_wrap {
      position: relative;
      &:after{
        content:"";
        width: percentage(480/1280);
        height: 180px;
        background-color: #ECEFE8;
        position: absolute;
        bottom: -51px;
        right: percentage(-150/1280);
        z-index: -1;
      }
      picture{
        position: relative;
        transform: translateZ(0);
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    p{
      font-size: rem(15);
      line-height: 30px;
    }

    .ctn{
      display: flex;
      justify-content: space-between;
      margin: 50px 0 105px -70px;
      &_left{
        width: calc(50% - 70px);
      margin-left: 70px;
      }
      &_right{
        width: calc(50% - 70px);
        margin-left: 70px;
        margin-top: 33px;
      }
    }
  }
  .ttl_art{
    font-size: rem(28);
    line-height: 30px;
    margin-bottom: 15px;
  }
  .list_p{
    li{
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      &:first-child{
        border-top: 1px solid #ccc;
      }
      span{
        font-size: rem(16);
        line-height: 28px;
        font-weight: bold;
        width: 162px;
        display: block;
        position: relative;
        &:after{
          content:":";
          font-size: rem(16);
          line-height: 28px;
          font-weight: bold;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      em{
        font-size: rem(15);
        line-height: 30px;
        display: block;
        padding-left: 15px;
        font-style: normal;
        width: calc(100% - 162px);
      }
    }
  }
  .bx_art{
    display: flex;
    margin-left: -70px;
    p{
      font-size: rem(15);
      line-height: 30px;
    }
    article{
      width: calc(50% - 70px);
      margin-left: 70px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &:nth-of-type(1){
        .art_top_wrap {
          position: relative;
          &:after{
            content:"";
            width: 450px;
            height: 180px;
            background-color: #ECEFE8;
            position: absolute;
            top: -51px;
            left: percentage(-150/1280);
            z-index: -1;
          }
        }
      }
      picture{
        margin-bottom: 30px;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
        }
      }
      .art_top{
        margin-bottom: 30px;
        &_wrap {

        }
      }
    }
  }
  .bx_bottom{
    position: relative;
    border: 5px solid #ECEFE8;
    margin: 110px 0 0;
    padding: 62px 45px 10px;
    h3{
      font-size: rem(22);
      line-height: 30px;
      color: #fff;
      font-weight: bold;
      padding: 10px 45px;
      background-color: #8DC556;
      display: inline-block;
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translateX(-50%);
    }
    dl{
      margin-bottom: 40px;
      dt{
        font-size: rem(18);
        font-weight: bold;
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;
        &:before{
          content:"";
          width: 3px;
          height: 25px;
          background-color: #000;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      dd{
        ul{
          column-count: 4;
          li{
            font-size:rem(15);
            line-height: 30px;
          }
        }
      }
    }
    &_thumb {
      padding: 12px 28px 0;
      position: relative;
      margin-bottom: 60px;
      .gallery-top {
        figure {
          img {
            width: 100%;
            height: auto;
          }
        }
        .swiper-pagi {
          font-size: 1.5rem;
          line-height: 18px;
          font-weight: 700;
          font-family: $mont;
          color: #8dc556;
          margin: 10px 0;
        }
        .swiper-button-next,.swiper-button-prev {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          cursor: pointer;
          outline: none;
        }
        .swiper-button-next {
          background: url('../images/control_right.png') center no-repeat rgba(#fff,0.7);
          background-size: 22.7px 5.6px;
          right: 0;
        }
        .swiper-button-prev {
          background: url('../images/control_left.png') center no-repeat rgba(#fff,0.7);
          background-size: 22.7px 5.6px;
          left: 0;
        }
      }
      .gallery-thumbs {
        width: 100%;
        box-sizing: border-box;
        .swiper-slide-thumb-active {
          border: 2px solid #8dc556;
          box-sizing: border-box;
        }
        figure {
          img {
            width: 100%;
            height: auto;
          }
        }

      }
      .swiper-control-next,.swiper-control-prev {
        position: absolute;
        width: 20.99px;
        height: 5.78px;
        bottom: 25px;
        display: inline-block;
        cursor: pointer;
        outline: none;
      }
      .swiper-control-next {
        background: url('../images/control_right.png') 0 0 no-repeat;
        background-size: contain;
        right: 0;
      }
      .swiper-control-prev {
        background: url('../images/control_left.png') 0 0 no-repeat;
        background-size: contain;
        left: 0;
      }
      .swiper-pagination {
        display: none;
      }
    }
  }
}
.st_flow{
  padding: 80px 0;
  .ttl_flow{
    font-size: rem(35);
    line-height: 1.5;
    font-family: $mont;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  .wrap{
    max-width: 980px;
    margin: 0 auto;
  }
  ul{
    li{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 45px 0 45px 40px;
      position: relative;
      &:after{
        content:"";
        background: url(../images/af_step.png) no-repeat;
        background-size: contain;
        width: 100%;
        height: 28px;
        position: absolute;
        bottom: -28px;
        left: 0;
      }
      &:nth-of-type(1){
        figure{
          img{
            width: 59px;
            height: 65px;
          }
        }
      }
      &:nth-of-type(2){
        figure{
          img{
            width: 70px;
            height: 65px;
          }
        }
      }
      &:nth-of-type(3){
        figure{
          img{
            width: 71px;
            height: 54px;
          }
        }
      }
      &:nth-of-type(4){
        figure{
          img{
            width: 60px;
            height: 40px;
          }
        }
      }
      &:nth-of-type(5){
        figure{
          img{
            width: 92px;
            height: 66px;
          }
        }
      }
      span{
        font-size: rem(26);
        font-weight: bold;
        color: #8DC556;
        font-family: $mont;
        width: 120px;
      }
      figure{
        width: 120px;
        text-align: center;
        margin: 0 90px;
      }
      .txt_em{
        width: calc(100% - 240px);
        em{
          font-style: normal;
          font-size: rem(15);
          line-height: 30px;
          display: block;
          strong{
            font-size: rem(22);
            font-weight: bold;
            display: block;
          }
        }
      }
    }
  }
}
.st_cld{
  padding: 60px 0;
  background-color: #ECEFE8;
  .ttl_cld{
    font-size: rem(30);
    font-weight: bold;
    font-family: $mont;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
  }
  .cld{
    background-color: #fff;
    margin-bottom: 50px;
    iframe{
      width: 100%;
      height: 734px;
    }
  }
  .bx_dl{
    background-color: #fff;
    padding: 50px;
    dl{
      margin-bottom: 40px;
      &:nth-of-type(1){
        ul{
          li{
            position: relative;
            padding-left: 12px;
            &:before{
              content:".";
              font-size: rem(15);
              line-height: 30px;
              position: absolute;
              top: -3px;
              left: 0;
            }
          }
        }
      }
      &:nth-of-type(2){
        dd{
          ul{
            li{
              display: inline-block;
              &:not(:last-child){
                margin-right: 50px;
              }
            }
          }
        }
      }
      dt{
        font-size: rem(18);
        font-weight: bold;
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;
        &:before{
          content:"";
          width: 3px;
          height: 25px;
          background-color: #000;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      dd{
        em{
          font-size:rem(15);
          line-height: 30px;
          font-style: normal;
        }
        ul{
          li{
            font-size:rem(15);
            line-height: 30px;
          }
        }
      }
    }
  }
  .btn{
    text-align: center;
    a{
      width: 300px;
      height: 45px;
      font-size: rem(15);
      line-height: 1;
      color: #fff;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #8DC556;
      margin: 50px auto 0;
      position: relative;
      transform: translateZ(0);
      transition: all 0.3s ease-out;
      &:after{
        content: '';
        background: #000;
        width: 100%;
        height: 100%;
        display: block;
        transform-origin: top right;
        transform: scale(0, 1);
        transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
      &:hover{
        &:after{
          transform-origin: top left;
          transform: scale(1, 1);
        }
      }
      span{
        display: block;
        &:after{
          content:"";
          background: url(../images/arr_r.png) no-repeat;
          background-size: contain;
          width: 14px;
          height: 5px;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
        }
      }
    }
  }
}