@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_rental{
  .ttl{
    margin-bottom: vw(110);
  }
  .txt_top{
    font-size: vw(28);
    line-height: vw(50);
    margin-bottom: vw(220);
  }
  .ttl_art{
    font-size: vw(40);
    line-height: vw(30);
    margin-bottom: vw(30);
  }
  .list_p{
    li{
      display: flex;
      padding: vw(20) 0;
      border-bottom: 1px solid #ccc;
      &:first-child{
        border-top: 1px solid #ccc;
      }
      span{
        font-size: vw(26);
        line-height: vw(45);
        font-weight: bold;
        width: vw(213);
        display: block;
        position: relative;
        &:after{
          content:":";
          font-size: vw(26);
          line-height: vw(45);
          font-weight: bold;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      em{
        font-size: vw(26);
        line-height: vw(45);
        display: block;
        padding-left: vw(25);
        font-style: normal;
        width: calc(100% - #{vw(213)});
      }
    }
  }
  .bx_center{
    background-color: #ECEFE8;
    margin: 0 vw(-40) vw(255);
    padding: vw(129) vw(40) vw(75);
    position: relative;
    picture{
      position: absolute;
      top: vw(-129);
      img{
        width: vw(670);
        height: auto;
      }
    }
    p{
      font-size: vw(28);
      line-height: vw(50);
      margin-bottom: vw(40);
    }
    .ctn{
      margin: vw(60) 0 0;
    }
  }
  .bx_art{
    p{
      font-size: vw(28);
      line-height: vw(50);
      margin-bottom: vw(40);
    }
    article{
      background-color: #ECEFE8;
      margin: 0 vw(-40);
      padding: vw(210) vw(40) vw(75);
      position: relative;
      &:not(:last-child){
        margin-bottom: vw(255);
      }
      picture{
        position: absolute;
        top: vw(-129);
        img{
          width: vw(670);
          height: auto;
        }
      }
    }
  }
  .bx_bottom{
    position: relative;
    border: vw(7) solid #ECEFE8;
    margin: vw(85) 0 0;
    padding: 0 vw(20) 10px;
    h3{
      font-size: vw(32);
      line-height: vw(50);
      color: #fff;
      font-weight: bold;
      padding: vw(20) 0;
      margin: vw(-7) vw(-47) vw(30);
      text-align: center;
      background-color: #8DC556;
      position: relative;
      &:after{
        content:"";
        background: url(../images/arr_down.png) no-repeat;
        background-size: contain;
        width: 25px;
        height: 13px;
        position: absolute;
        top: 50%;
        right: vw(178);
        transform: translateY(-50%);
        z-index: 9;
      }
    }
    dl{
      margin-bottom: vw(50);
      dt{
        font-size: vw(28);
        line-height: vw(60);
        font-weight: bold;
        position: relative;
        padding-left: vw(28);
        margin-bottom: vw(20);
        &:before{
          content:"";
          width: vw(5);
          height: vw(37);
          background-color: #000;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      dd{
        ul{
          li{
            font-size:vw(28);
            line-height: vw(50);
          }
        }
      }
    }
    &_thumb {
      position: relative;
      margin-bottom: vw(60);
      .gallery-top {
        figure {
          img {
            width: 100%;
            height: auto;
          }
        }
        .swiper-pagi {
          display: none;
        }
        .swiper-button-next,.swiper-button-prev {
          display: none;
        }
      }
      .gallery-thumbs {
        width: 100%;
        box-sizing: border-box;
        margin-top: vw(15);
        .swiper-slide-thumb-active {
          border: 2px solid #8dc556;
          box-sizing: border-box;
        }
        figure {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .swiper-control-next,.swiper-control-prev {
        display: none;
      }
      .swiper-pagination {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        &-bullet {
          width: vw(11);
          height: vw(11);
          background: #ECEFE8;
          margin: vw(10);
          &-active {
            background: #8dc556;
          }
        }
      }
    }
  }
}
.st_flow{
  padding: vw(130) 0;
  .ttl_flow{
    font-size: vw(40);
    line-height: 1.5;
    font-family: $mont;
    font-weight: bold;
    text-align: center;
    margin-bottom: vw(20);
  }
  ul{
    li{
      display: flex;
      justify-content: space-between;
      padding: vw(50) 0;
      &:not(:last-child){
        position: relative;
        &:after{
          content:"";
          background: url(../images/bd_sp.png) no-repeat;
          background-size: contain;
          width: 100%;
          height: vw(14);
          position: absolute;
          bottom: vw(-14);
          left: 0;
        }
      }
      &:nth-of-type(1){
        figure{
          img{
            width: vw(109);
            height: auto;
          }
        }
      }
      &:nth-of-type(2){
        figure{
          img{
            width: vw(108);
            height: auto;
          }
        }
      }
      &:nth-of-type(3){
        figure{
          img{
            width: vw(105);
            height: auto;
          }
        }
      }
      &:nth-of-type(4){
        figure{
          img{
            width: vw(93);
            height: auto;
          }
        }
      }
      &:nth-of-type(5){
        figure{
          img{
            width: vw(129);
            height: auto;
          }
        }
      }
      figure{
        width: vw(129);
        text-align: left;
        margin: 0 vw(30) 0 0;
      }
      .txt_em{
        width: calc(100% - #{vw(129)});
        span{
          font-size: vw(28);
          font-weight: bold;
          color: #8DC556;
          font-family: $mont;
          margin-bottom: vw(10);
          display: block;
        }
        em{
          font-style: normal;
          font-size: vw(28);
          line-height: vw(50);
          display: block;
          strong{
            font-size: vw(30);
            line-height: vw(30);
            font-weight: bold;
            display: block;
            margin-bottom: vw(10);
          }
        }
      }
    }
  }
}
.st_cld{
  padding: vw(80) 0 vw(131);
  background-color: #ECEFE8;
  .ttl_cld{
    font-size: vw(35);
    font-weight: bold;
    font-family: $mont;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: vw(80);
  }
  .cld{
    background-color: #fff;
    margin-bottom: vw(90);
    iframe{
      width: 100%;
      height: vw(734);
    }
  }
  .bx_dl{
    background-color: #fff;
    padding: vw(80) vw(45) vw(20);
    dl{
      margin-bottom: vw(80);
      &:nth-of-type(1){
        ul{
          li{
            position: relative;
            &:before{
              content:".";
              font-size: vw(28);
              line-height: 1;
              position: relative;
              display: inline-block;
              vertical-align: top;
              padding-top: vw(5);
            }
          }
        }
      }
      &:nth-of-type(2){
        dd{
          ul{
            li{
              display: block;
            }
          }
        }
      }
      dt{
        font-size: vw(28);
        font-weight: bold;
        position: relative;
        padding-left: vw(27);
        margin-bottom: vw(40);
        &:before{
          content:"";
          width: vw(5);
          height: vw(37);
          background-color: #000;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      dd{
        em{
          font-size: vw(28);
          line-height: vw(50);
          font-style: normal;
        }
        ul{
          li{
            font-size: vw(28);
            line-height: vw(50);
          }
        }
      }
    }
  }
  .btn{
    text-align: center;
    a{
      width: 100%;
      height: vw(100);
      font-size: vw(26);
      line-height: 1;
      color: #fff;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #8DC556;
      margin: vw(100) auto 0;
      position: relative;
      span{
        display: block;
        &:after{
          content:"";
          background: url(../images/arr_r.png) no-repeat;
          background-size: contain;
          width: vw(31);
          height: vw(8);
          position: absolute;
          top: 50%;
          right: vw(100);
          transform: translateY(-50%);
        }
      }
    }
  }
}