// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$example-test-name: 'example_test';
$example-test-x: 0px;
$example-test-y: 0px;
$example-test-offset-x: 0px;
$example-test-offset-y: 0px;
$example-test-width: 50px;
$example-test-height: 50px;
$example-test-total-width: 50px;
$example-test-total-height: 50px;
$example-test-image: '/common/images/sprite/sprite_example.png?rev=1533186992361';
$example-test: (0px, 0px, 0px, 0px, 50px, 50px, 50px, 50px, '/common/images/sprite/sprite_example.png?rev=1533186992361', 'example_test', );
$spritesheet-width: 50px;
$spritesheet-height: 50px;
$spritesheet-image: '/common/images/sprite/sprite_example.png?rev=1533186992361';
$spritesheet-sprites: ($example-test, );
$spritesheet: (50px, 50px, '/common/images/sprite/sprite_example.png?rev=1533186992361', $spritesheet-sprites, );


