@media screen and (min-width: 769px), print {
  .visions {
    text-align: center;
    padding: 80px 0;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  }
  .visions h2 {
    font-size: 3.5rem;
    line-height: 5.8rem;
    color: #15126F;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 5px;
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 50px;

  }
  .visions h2 em {
    font-style: normal;
  }
  .visions h3 {
    font-size: 2.2rem;
    line-height: 4.8rem;
    color: #15126F;
    margin-bottom: 50px;
    font-weight: 600;
  }
  .visions p {
    font-size: 1.5rem;
    line-height: 3.3rem;
    color: #333;
    margin-bottom: 50px;
  }
  .visions p span {
    color: #15126F;
  }
  .visions hr {
    width: 80px;
    margin: 90px auto;
    border-color: #15126F;
  }
  .visions picture {
    margin-bottom: 50px;
  }
  .visions picture img {
    width: 100%;
  }
  .visions figure {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .visions .btn_blue {
    width: 100%;
    text-align: center;
  }
  .visions .btn_blue a {
    font-size: 1.5rem;
    line-height: 1;
    padding: 15px;
    background: #15126F;
    display: inline-block;
    min-width: 300px;
    text-align: center;
    position: relative;
    color: #fff;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  }
  .visions .btn_blue a:after {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform-origin: top right;
       -moz-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .visions .btn_blue a:hover:after {
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .visions .btn_blue a span {
    position: relative;
    display: block;
  }
  .visions .btn_blue a span:after {
    content: "";
    background: url(../images/ic_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 16px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 4px;
  }
  .maskToRight:before {
    background: #15126F;
  }
  figure.maskToRight:before {
    background: #fff;
  }
  em.maskToRight:before {
    background: #fff;
  }
}

@media screen and (max-width: 768px) {
  .visions {
    text-align: center;
    padding: 10.66667vw 5.33333vw;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  }
  .visions h2 {
    font-size: 5.33333vw;
    line-height: 8.66667vw;
    color: #15126F;
    margin-bottom: 5.6vw;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .visions h2 em {
    font-style: normal;
  }
  .visions h3 {
    font-size: 4vw;
    line-height: 6.66667vw;
    color: #15126F;
    margin-bottom: 6.66667vw;
    font-weight: 600;
  }
  .visions p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    color: #333;
    margin-bottom: 6.66667vw;
    text-align: left;
  }
  .visions p span {
    color: #15126F;
  }
  .visions hr {
    width: 10.66667vw;
    margin: 8vw auto 13.33333vw;
    border-color: #15126F;
  }
  .visions figure img {
    width: 82.13333vw;
    height: auto;
  }
  .visions picture {
    margin-bottom: 6.66667vw;
    margin-right: -5.33333vw;
    margin-left: -5.33333vw;
  }
  .visions picture img {
    width: 100%;
    height: auto;
  }
  .visions .btn_blue {
    width: 100%;
    text-align: center;
  }
  .visions .btn_blue a {
    font-size: 3.46667vw;
    line-height: 1;
    padding: 4.93333vw 2.66667vw;
    background: #15126F;
    display: block;
    text-align: center;
    position: relative;
    color: #fff;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  }
  .visions .btn_blue a span {
    position: relative;
    display: block;
  }
  .visions .btn_blue a span:after {
    content: "";
    background: url(../images/ic_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.26667vw;
    height: 1.06667vw;
    position: absolute;
    top: 50%;
    right: 10.66667vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    padding-top: 0.53333vw;
  }
  .maskToRight:before {
    background: #15126F;
  }
  figure.maskToRight:before {
    background: #fff;
  }
  em.maskToRight:before {
    background: #fff;
  }
}
