@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.event{
	&_ct{
		&_des{
			padding: vw(100) 0 vw(120);
			h3{
				font-size: vw(40);
				line-height: 1;
				color: #000;
				font-family: $mont;
				margin-bottom: vw(50);
				text-align: center;
			}
			p{
				font-size: vw(28);
				line-height: vw(50);
				font-family: YuGothic;
				font-weight: 500;
			}
		}
		.event_list{
			padding-bottom: vw(90);
			&_cat{
				display: flex;
				margin: 0 auto;
				align-items: center;
				justify-content: space-between;
				margin-bottom: vw(70);
				position: relative;
				top: vw(-14);
				h3{
					font-size: vw(30);
					line-height: 1;
					font-family: $mont;
					font-weight: bold;
				}
				ul{
					display: flex;
					justify-content: space-between;
					width: vw(460);
					flex-wrap: wrap;
					position: absolute;
					top: vw(-24);
					right: 0;
					&.active{
						li{
							display: block;
						}
					}
					li{
						display: none;
						a{
							font-size: vw(32);
							line-height: 1;
							padding: vw(22) vw(20);
							width: vw(460);
							border: 2px solid #fff;
							color: #000;
							background: #fff;
							display: block;
							text-align: center;
							color: #333333;
							font-family: $mont;
							font-weight: 500;
							position: relative;
						}
						&.active{
							display: block;
							a{
								border: 2px solid #8dc556;
								color: #8dc556;
								&:after{
									content: '';
									width: vw(26);
									height: vw(13);
									position: absolute;
									top: 50%;
									right: vw(94);
									transform: translateY(-50%);
									background: url('../images/ic_arrow_down.png') no-repeat;
									background-size: contain;
								}
							}
						}
					}
				}
			}
			&_box{
				display: flex;
				flex-wrap: wrap;
				.event_box{
					width: 100%;
					background: #fff;
					margin-bottom: vw(123);
					a{
						display: block;
						.event_box_des{
							padding: 0 0 vw(30);
							position: relative;
							figure{
								width: 100%;
								height: auto;
								margin-bottom: vw(50);
								img{
									width: 100%;
							    height: vw(300);
							    object-fit: cover;
								}
							}
							.event_tag{
								width: vw(150);
								height: vw(150);
								border-radius: 100%;
								border: 1px solid #333;
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-direction: column;
								color: #333;
								padding: 0 0 vw(14);
								font-family: $mont;
								position: absolute;
							    top: vw(-60);
							    background: #fff;
							    left: 0;
								span{
									position: relative;
									em{
										font-style: normal;
										font-size: vw(56);
										line-height: 1;
										font-weight: bold;
										padding-left: vw(35);
										display: block;

									}
									sub{
										font-size: vw(31);
										line-height: 1;
										display: block;
										margin-bottom: vw(10);
										&:after{
											content: '';
											width: vw(40);
											height: vw(40);
											background: url('../images/ic_cross.png') no-repeat;
											background-size: contain;
											position: relative;
										    top: vw(30);
    										left: vw(-23);
										    display: inline-block;
										}
									}
									
								}
								small{
									font-size: vw(18);
									line-height: 1;
									display: block;
								}
							}
							p{
								font-size: vw(28);
								line-height: vw(54);
								color: #333;
							}
							
						}
						.event_box_link{
							span{
								font-size: vw(22);
								line-height: 1;
								position: relative;
								margin-right: vw(15);
								font-weight: 500;
								color: #909297;
								background: #ECEFE8;
								padding: vw(11) vw(21);
								display: inline-block;
								border-radius: vw(20);
							}
						}
						&:hover{
							opacity: 0.8;
						}
					}
				}
			}
			.bx_pag{
				margin-top: vw(50);
			}
		}
		.event_schedule{
			padding: vw(100) 0;
			background: #ECEFE8;
			h3{
				font-size: vw(40);
				line-height: 1;
				color: #000;
				font-family: $mont;
				margin-bottom: vw(50);
				text-align: center;
			}
			iframe{
	      width: 100%;
	      height: vw(734);
	    }
		}
	}
}

.event_detail{
	.event_ct{
		background: #ECEFE8;
		display: block;
		padding-bottom: vw(100);
		.event_ct_inner{
			padding: 0 vw(35) vw(60);
			background: #fff;
			margin-top: vw(-80);
			position: relative;
		}
		.event_box_des{
			position: relative;
			top: vw(-28);
			left: 0;
			.event_box_cat{
				font-style: normal;
				font-size: vw(28);
				line-height: 1;
				min-width: vw(170);
				padding: vw(14) vw(10);
				background: #fff;
				border: 1px solid #333333;
				color: #333333;
				text-align: center;
				letter-spacing: 1px;
				margin-bottom: vw(50);
				display: inline-block;
				font-family: $mont;
				box-sizing: border-box;
			}
			.event_box_link{
				margin-bottom: vw(20);
				time{
					display: inline-block;
					font-size: vw(22);
					line-height: 1;
					font-family: $mont;
					letter-spacing: 2px;
					margin-right: vw(40);
				}
				span{
					font-size: vw(22);
					line-height: 1;
					position: relative;
					margin-right: vw(15);
					font-weight: 500;
					color: #909297;
					background: #ECEFE8;
					padding: vw(11) vw(21);
					display: inline-block;
					border-radius: vw(20);
				}
			}
		}
		h1{
			font-size: vw(36);
			line-height: vw(60);
			color: #333333;
			font-weight: 400;
			margin-bottom: vw(60);
			&:after{
				content: '';
				width: vw(87);
				height: 1px;
				background: #333333;
				display: block;
				margin: vw(40) auto 0;
			}
		}
		h2{
			font-size: vw(32);
			line-height: vw(50);
			color: #333333;
			font-weight: 400;
			margin-bottom: vw(40);
			&:after{
				content: '';
				width: 100%;
				height: 1px;
				background: #333333;
				display: block;
				margin-top: vw(20);
			}
		}
		h3{
			font-size: vw(30);
			line-height: vw(40);
			color: #333333;
			font-weight: 400;
			border-top: 3px solid #eee;
			border-bottom: 3px solid #eee;
			padding: vw(16) 0;
			margin-bottom: vw(35);
		}
		h4{
			font-size: vw(28);
			line-height: vw(35);
			color: #333333;
			font-weight: 400;
			border-left: 3px solid #333;
			padding-left: vw(15);
			margin-bottom: vw(35);
		}
		p{
			font-size: vw(28);
			line-height: vw(50);
			color: #333333;
			margin-bottom: vw(60);
		}
		figure{
			width: 100%;
			margin-bottom: vw(45);
			img{
				margin: 0 auto;
				display: block;
			}
		}
		table{
			border-collapse: collapse;
			border: 1px solid #e2e4de;
			width: 100%;
			margin-bottom: vw(50);
			tr{
				border-collapse: collapse;
				border: 1px solid #e2e4de;
				td{
					font-size: vw(28);
					line-height: vw(60);
					border-collapse: collapse;
					border: 1px solid #e2e4de;
					padding: vw(36);
					&:first-child{
						width: vw(188);
						background-color: #ECEFE8;
					}
				}
			}
		}
		.btn_green{
			width: 100%;
			text-align: center;
			a{
				font-size: vw(26);
			    line-height: 1;
			    padding: vw(37) vw(20);
			    background: #8DC556;
			    display: block;
			    text-align: center;
			    position: relative;
			    color: #fff;
			    span{
			    	position: relative;
			    	display: block;
					&:after{
						content:"";
				      background: url(../images/ic_white.png) no-repeat;
				      background-size: contain;
				      width: vw(32);
				      height: vw(8);
				      position: absolute;
				      top: 50%;
				      right: vw(80);
				      transform: translateY(-50%);
				      z-index: 1;
				      padding-top: vw(4);
					}
			    }
			}
		}
	}
}
.other_post{
	padding: vw(80) 0;
	background: #fff;
	&_tt{
		font-size: vw(40);
		line-height: 1;
		color: #000;
		font-family: $mont;
		margin-bottom: vw(100);
		text-align: center;
	}
	&_inner{
		display: flex;
		flex-wrap: wrap;
		.event_box{
			width: 100%;
			background: #fff;
			margin-bottom: vw(123);
			a{
				display: block;
				.event_box_des{
					padding: 0 0 vw(30);
					position: relative;
					figure{
						width: 100%;
						height: auto;
						margin-bottom: vw(50);
						img{
							width: 100%;
					    height: vw(300);
					    object-fit: cover;
						}
					}
					.event_tag{
						width: vw(150);
						height: vw(150);
						border-radius: 100%;
						border: 1px solid #333;
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-direction: column;
						color: #333;
						padding: 0 0 vw(14);
						font-family: $mont;
						position: absolute;
					    top: vw(-60);
					    background: #fff;
					    left: 0;
						span{
							position: relative;
							em{
								font-style: normal;
								font-size: vw(56);
								line-height: 1;
								font-weight: bold;
								padding-left: vw(35);
								display: block;

							}
							sub{
								font-size: vw(31);
								line-height: 1;
								display: block;
								margin-bottom: vw(10);
								&:after{
									content: '';
									width: vw(40);
									height: vw(40);
									background: url('../images/ic_cross.png') no-repeat;
									background-size: contain;
									position: relative;
								    top: vw(30);
									left: vw(-23);
								    display: inline-block;
								}
							}
							
						}
						small{
							font-size: vw(18);
							line-height: 1;
							display: block;
						}
					}
					p{
						font-size: vw(28);
						line-height: vw(54);
						color: #333;
					}
					
				}
				.event_box_link{
					span{
						font-size: vw(22);
						line-height: 1;
						position: relative;
						margin-right: vw(15);
						font-weight: 500;
						color: #909297;
						background: #ECEFE8;
						padding: vw(11) vw(21);
						display: inline-block;
						border-radius: vw(20);
					}
				}
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	.bx_pag{
		justify-content: center;
		margin-top: vw(40);
	}
}