@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.event{
	&_ct{
		&_des{
			padding: 80px 0 120px;
			h3{
				font-size: rem(35);
				line-height: 1;
				color: #000;
				font-family: $mont;
				margin-bottom: 50px;
				text-align: center;
			}
			p{
				text-align: center;
				font-size: rem(15);
				line-height: rem(30);
				font-family: YuGothic;
				font-weight: 500;
			}
		}
		.event_list{
			padding-bottom: 90px;
			&_box{
				display: flex;
				flex-wrap: wrap;
				margin-left: -12px;
				margin-right: -12px;
				.event_box{
					width: 330px;
					margin: 0 23px;
					background: #fff;
					margin-bottom: 70px;
					a{
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						height: 100%;
						&:before{
							content: ' ';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0;
							height: 3px;
							transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
							background: #8bc34a;
						}
						.event_box_des{
							position: relative;
							figure{
								width: 100%;
								height: auto;
								overflow: hidden;
								img{
									width: 330px;
							    height: 200px;
							    object-fit: cover;
							    transform: scale(1);
					    		transition: all .3s ease;
								}
							}
							.event_tag{
								width: 100px;
								height: 100px;
								border-radius: 100%;
								border: 1px solid #333;
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-direction: column;
								color: #333;
								padding: 0 0 9px;
								font-family: $mont;
								position: absolute;
							    top: -50px;
							    background: #fff;
							    left: -20px;
								span{
									position: relative;
									em{
										font-style: normal;
										font-size: rem(37);
										line-height: 1;
										font-weight: bold;
										padding-left: 25px;
										display: block;
									}
									sub{
										font-size: rem(21);
										line-height: 1;
										display: block;
										&:after{
											content: '';
											width: 27px;
											height: 27px;
											background: url('../images/ic_cross.png') no-repeat;
											background-size: contain;
											position: relative;
										    top: 15px;
										    left: -13px;
										    display: inline-block;
										}
									}
									
								}
								small{
									font-size: rem(12);
									line-height: 1;
									display: block;
								}
							}
							p{
								font-size: rem(16);
								line-height: rem(28);
								color: #333;
								padding: 25px 0 45px;
							}
						}
						.event_box_link{
							align-content: flex-end;
							margin-bottom: 30px;
							span{
								font-size: rem(12);
								line-height: 1;
								position: relative;
								margin-right: 11px;
								font-weight: 500;
								color: #909297;
								background: #ECEFE8;
								padding: 7px 20px;
								display: inline-block;
								border-radius: 20px;
							}
						}
						&:hover{
							&:before{
								width: 100%;
							}
							figure{
								img{
									transform: scale(1.1);
								}
							}
						}
					}
				}
			}
			.bx_pag{
				margin-top: 40px;
			}
		}
		.event_schedule{
			padding: 74px 0 70px;
			background: #ECEFE8;
			h3{
				font-size: rem(35);
				line-height: 1;
				color: #000;
				font-family: $mont;
				margin-bottom: 50px;
				text-align: center;
			}
			iframe{
	      width: 100%;
	      height: 734px;
	    }
		}
	}
}

.event_detail{
	.event_ct{
		background: #ECEFE8;		
		display: block;		
		padding-bottom: 90px;
		.event_ct_inner{
			padding: 0 89px 60px;
			background: #fff;
			margin-top: -126px;
			position: relative;
		}
		.event_box_des{
			position: relative;
			top: -24px;
			left: 0;
			.event_box_cat{
				font-style: normal;
				font-size: rem(18);
				line-height: 1;
				min-width: 126px;
				padding: 11px 5px;
				background: #fff;
				border: 1px solid #333333;
				color: #333333;
				text-align: center;
				letter-spacing: 1px;
				margin-bottom: 50px;
				display: inline-block;
				font-family: $mont;
			}
			.event_box_link{
				align-content: flex-end;
				time{
					display: inline-block;
					font-size: rem(15);
					line-height: 1;
					font-family: $mont;
					margin-right: 36px;
				}
				span{
					font-size: rem(12);
					line-height: 1;
					position: relative;
					margin-right: 11px;
					font-weight: 500;
					color: #909297;
					background: #ECEFE8;
					padding: 7px 20px;
					display: inline-block;
					border-radius: 20px;
				}
			}
		}
		h1{
			font-size: rem(36);
			line-height: rem(60);
			color: #333333;
			font-weight: 400;
			margin-bottom: 40px;
			&:after{
				content: '';
				width: 87px;
				height: 1px;
				background: #333333;
				display: block;
				margin-top: 20px;
			}
		}
		h2{
			font-size: rem(28);
			line-height: rem(40);
			color: #333333;
			font-weight: 400;
			margin-bottom: 40px;
			&:after{
				content: '';
				width: 100%;
				height: 1px;
				background: #333333;
				display: block;
				margin-top: 10px;
			}
		}
		h3{
			font-size: rem(22);
			line-height: rem(40);
			color: #333333;
			font-weight: 400;
			border-top: 3px solid #eee;
			border-bottom: 3px solid #eee;
			padding: 10px 20px;
			margin-bottom: 30px;
		}
		h4{
			font-size: rem(18);
			line-height: rem(25);
			color: #333333;
			font-weight: 400;
			border-left: 3px solid #333;
			padding-left: 15px;
			margin-bottom: 30px;
		}
		p{
			font-size: rem(15);
			line-height: rem(30);
			color: #333333;
			margin-bottom: 40px;
		}
		figure{
			width: 100%;
			margin-bottom: 40px;
			img{
				margin: 18px auto;
				display: block;
			}
		}
		table{
			border-collapse: collapse;
			border: 1px solid #e2e4de;
			width: 100%;
			margin-bottom: 50px;
			tr{
				border-collapse: collapse;
				border: 1px solid #e2e4de;
				td{
					font-size: rem(15);
					line-height: rem(30);
					border-collapse: collapse;
					border: 1px solid #e2e4de;
					padding: 30px;
					&:first-child{
						width: 258px;
						background-color: #ECEFE8;
						padding: 35px 32px;
					}
				}
			}
		}
		.btn_green{
			width: 100%;
			text-align: center;
			a{
				font-size: 1.5rem;
		    line-height: 1;
		    padding: 15px;
		    background: #8DC556;
		    display: inline-block;
		    min-width: 300px;
		    text-align: center;
		    position: relative;
		    color: #fff;
		    transform: translateZ(0);
    		transition: all 0.3s ease-out;
		    &:after{
		    	content: '';
			    background: #000;
			    width: 100%;
			    height: 100%;
			    display: block;
			    transform-origin: top right;
			    transform: scale(0, 1);
			    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    z-index: -1;
		    }
		    &:hover{
		    	&:after{				    
		    		transform-origin: top left;
				    transform: scale(1, 1);
		    	}
		    }
		    span{
		    	position: relative;
		    	display: block;
					&:after{
						content:"";
			      background: url(../images/ic_white.png) no-repeat;
			      background-size: contain;
			      width: 16px;
			      height: 4px;
			      position: absolute;
			      top: 50%;
			      right: 0;
			      transform: translateY(-50%);
			      z-index: 1;
			      padding-top: 4px;
					}
			  }
			}
		}
	}
}
.other_post{
	padding: 80px 0;
	background: #fff;
	&_tt{
		font-size: rem(35);
		line-height: 1;
		color: #000;
		font-family: $mont;
		margin-bottom: 97px;
		text-align: center;
	}
	&_inner{
		display: flex;
		flex-wrap: wrap;
		margin-left: -12px;
		margin-right: -12px;
		.event_box{
			width: 330px;
			margin: 0 23px;
			background: #fff;
			margin-bottom: 40px;
			a{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				position: relative;
				&:before{
					content: ' ';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 3px;
					transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
					background: #8bc34a;
				}
				.event_box_des{
					position: relative;
					figure{
						width: 100%;
						height: auto;
						overflow: hidden;
						img{
							width: 330px;
					    height: 200px;
					    object-fit: cover;
					    transform: scale(1);
					    transition: all .3s ease;
						}
					}
					.event_tag{
						width: 100px;
						height: 100px;
						border-radius: 100%;
						border: 1px solid #333;
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-direction: column;
						color: #333;
						padding: 0 0 9px;
						font-family: $mont;
						position: absolute;
					    top: -50px;
					    background: #fff;
					    left: -20px;
						span{
							position: relative;
							em{
								font-style: normal;
								font-size: rem(37);
								line-height: 1;
								font-weight: bold;
								padding-left: 25px;
								display: block;
							}
							sub{
								font-size: rem(21);
								line-height: 1;
								display: block;
								&:after{
									content: '';
									width: 27px;
									height: 27px;
									background: url('../images/ic_cross.png') no-repeat;
									background-size: contain;
									position: relative;
								    top: 15px;
								    left: -13px;
								    display: inline-block;
								}
							}
							
						}
						small{
							font-size: rem(12);
							line-height: 1;
							display: block;
						}
					}
					p{
						font-size: rem(16);
						line-height: rem(28);
						color: #333;
						padding: 25px 0 45px;
					}
				}
				.event_box_link{
					align-content: flex-end;
					margin-bottom: 30px;
					span{
						font-size: rem(12);
						line-height: 1;
						position: relative;
						margin-right: 11px;
						font-weight: 500;
						color: #909297;
						background: #ECEFE8;
						padding: 7px 20px;
						display: inline-block;
						border-radius: 20px;
					}
				}
				&:hover{
					&:before{
						width: 100%;
					}
					figure{
						img{
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	.bx_pag{
		justify-content: center;
		margin-top: 40px;
	}
}