@media screen and (min-width: 769px), print {
  .join_ct {
    padding: 50px 0;
  }
  .join_ct_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
  .join_ct_inner .join_ct_des {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;flex-flow: row wrap; 
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 0;
  }
  .join_ct_inner .join_ct_des h3 {
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 36px;
    width: 100%;
  }
  .join_ct_inner .join_ct_des p {
    font-size: 1.5rem;
    line-height: 3rem;
    width: 55%;
  }
  .join_ct_inner .join_ct_des .bx_pag {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .join_ct_inner .join_ct_des .bx_pag.btn_wanted span {
    padding-left: 20px;
    padding-right: 20px;
  }
  .join_ct_inner .join_ct_des .bx_pag.btn_wanted span:before {
    content: "";
    background: url(../images/ic_wanted.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }
  .join_ct_inner .join_ct_thumb {
    width: 50%;
    padding: 0 48px;
    display: none;
  }
  .join_ct_inner figure {
    width: 100%;
    text-align: right;
  }
  .join_ct_inner:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

@media screen and (max-width: 768px) {
  .join_ct {
    padding: 6.66667vw 0;
  }
  .join_ct_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 13.33333vw 0;
  }
  .join_ct_inner .join_ct_des {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .join_ct_inner .join_ct_des p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    margin-bottom: 6.66667vw;
  }
  .join_ct_inner .join_ct_des .bx_pag {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .join_ct_inner .join_ct_des .bx_pag.btn_wanted span {
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .join_ct_inner .join_ct_des .bx_pag.btn_wanted span:before {
    content: "";
    background: url(../images/ic_wanted.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 3.46667vw;
    height: 3.2vw;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }
  .join_ct_inner .join_ct_thumb {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 6.66667vw;
    display: none;
  }
  .join_ct_inner .join_ct_thumb h3 {
    font-size: 5.33333vw;
    line-height: 1;
    margin-bottom: 9.33333vw;
    text-align: center;
  }
  .join_ct_inner .join_ct_thumb figure img {
    width: 100%;
  }
  .join_ct_inner:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}
