@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.visions{
	text-align: center;
	padding: 80px 0;
	h2{
		font-size: rem(35);
		line-height: rem(58);
		color: #15126F;
		margin-bottom: 50px;
		font-weight: bold;
		overflow: hidden;
		width: fit-content;
		margin: 0 auto 50px;
	}
	h3{
		font-size: rem(22);
		line-height: rem(48);
		color: #15126F;
		margin-bottom: 50px;
		font-weight: 600;
	}
	p{
		font-size: rem(15);
		line-height: rem(33);
		color: #333;
		margin-bottom: 50px;
		span{
			color: #15126F;
		}
	}
	hr{
		width: 80px;
    	margin: 90px auto;
    	border-color: #15126F;
	}
	picture{
		margin-bottom: 50px;
		img{
			width: 100%;
		}
	}
	figure{
		width: fit-content;
		margin: 0 auto;
	}
	.btn_blue{
		width: 100%;
		text-align: center;
		a{
			font-size: 1.5rem;
		    line-height: 1;
		    padding: 15px;
		    background: #15126F;
		    display: inline-block;
		    min-width: 300px;
		    text-align: center;
		    position: relative;
		    color: #fff;
		    transform: translateZ(0);
    		transition: all 0.3s ease-out;
		    &:after{
		    	content: '';
			    background: #000;
			    width: 100%;
			    height: 100%;
			    display: block;
			    transform-origin: top right;
			    transform: scale(0, 1);
			    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    z-index: -1;
		    }
		    &:hover{
		    	&:after{				    
		    		transform-origin: top left;
				    transform: scale(1, 1);
		    	}
		    }
		    span{
		    	position: relative;
		    	display: block;
				&:after{
					content:"";
			      background: url(../images/ic_white.png) no-repeat;
			      background-size: contain;
			      width: 16px;
			      height: 4px;
			      position: absolute;
			      top: 50%;
			      right: 0;
			      transform: translateY(-50%);
			      z-index: 1;
			      padding-top: 4px;
				}
		    }
		}
	}
}
.maskToRight{
	&:before{
		background: #15126F;
	}
}
figure.maskToRight{
	&:before{
		background: #fff;
	}
}
em.maskToRight{
	&:before{
		background: #fff;
	}
}