@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.visions{
	text-align: center;
	padding: vw(80) vw(40);
	h2{
		font-size: vw(40);
		line-height: vw(65);
		color: #15126F;
		margin-bottom: vw(42);
		font-weight: bold;
	}
	h3{
		font-size: vw(30);
		line-height: vw(50);
		color: #15126F;
		margin-bottom: vw(50);
		font-weight: 600;
	}
	p{
		font-size: vw(28);
		line-height: vw(50);
		color: #333;
		margin-bottom: vw(50);
		text-align: left;
		span{
			color: #15126F;
		}
	}
	hr{
		width: vw(80);
    	margin: vw(60) auto vw(100);
    	border-color: #15126F;
	}
	figure{
		img{
			width: vw(616);
			height: auto;
		}
	}
	picture{
		margin-bottom: vw(50);
	    margin-right: vw(-40);
	    margin-left: vw(-40);
		img{
			width: 100%;
			height: auto;
		}
	}
	.btn_blue{
		width: 100%;
		text-align: center;
		a{
			font-size: vw(26);
		    line-height: 1;
		    padding: vw(37) vw(20);
		    background: #15126F;
		    display: block;
		    text-align: center;
		    position: relative;
		    color: #fff;
		    span{
		    	position: relative;
		    	display: block;
				&:after{
					content:"";
			      background: url(../images/ic_white.png) no-repeat;
			      background-size: contain;
			      width: vw(32);
			      height: vw(8);
			      position: absolute;
			      top: 50%;
			      right: vw(80);
			      transform: translateY(-50%);
			      z-index: 1;
			      padding-top: vw(4);
				}
		    }
		}
	}
}
.maskToRight{
	&:before{
		background: #15126F;
	}
}
figure.maskToRight{
	&:before{
		background: #fff;
	}
}
em.maskToRight{
	&:before{
		background: #fff;
	}
}