@media screen and (min-width: 769px), print {
  .topics_ct_des {
    text-align: center;
    padding: 80px 0 120px;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
  }
  .topics_ct .topics_list {
    background: #ECEFE8;
    padding-bottom: 90px;
  }
  .topics_ct .topics_list_cat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 654px;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
    top: -20px;
  }
  .topics_ct .topics_list_cat h3 {
    font-size: 2.2rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .topics_ct .topics_list_cat ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topics_ct .topics_list_cat ul li a {
    font-size: 1.8rem;
    line-height: 1;
    padding: 10px 20px;
    width: 125px;
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    display: block;
    text-align: center;
    margin-left: 40px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    
  }
  .topics_ct .topics_list_cat ul li a.active {
    border: 2px solid #8dc556;
    color: #8dc556;
  }
  .topics_ct .topics_list_cat ul li a:hover {
    border: 2px solid #8dc556;
    color: #8dc556;
  }
  .topics_ct .topics_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  .topics_ct .topics_list_box .topics_box {
    width: 31.2%;
    margin: 0 12px;
    background: #fff;
    margin-bottom: 30px;
  }
  .topics_ct .topics_list_box .topics_box a {
    display: block;
  }
  .topics_ct .topics_list_box .topics_box a:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #8bc34a;
  }
  .topics_ct .topics_list_box .topics_box a figure {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .topics_ct .topics_list_box .topics_box a figure img {
    width: 359px;
    height: 234px;
    object-fit: cover;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des {
    padding: 35px 24px 25px;
    position: relative;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_cat {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1;
    width: 95px;
    padding: 7px;
    position: absolute;
    top: -14px;
    left: 24px;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    
    white-space: normal;
    word-break: keep-all;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_cat.blog {
    background: #8dc556;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_cat.media {
    background: #000;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #333;
    font-weight: bold;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link {
    margin-top: 40px;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link time {
    font-size: 1.3rem;
    line-height: 1;
    margin-right: 27px;
    font-weight: 500;
    color: #909297;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link span {
    font-size: 1.3rem;
    line-height: 1;
    position: relative;
    padding-left: 16px;
    font-weight: 500;
    color: #909297;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link span:before {
    content: '';
    width: 12px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_link.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .topics_ct .topics_list_box .topics_box a:hover:before {
    width: 100%;
  }
  .topics_ct .topics_list_box .topics_box a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .topics_ct .topics_list .bx_pag {
    margin-top: 40px;
  }
  .topics_detail {
    background: #ECEFE8;
  }
  .topics_detail .topics_ct {
    background: #fff;
    margin-top: -126px;
    display: block;
    position: relative;
    padding: 0 89px 49px;
  }
  .topics_detail .topics_ct .topics_box_des {
    position: relative;
    top: -24px;
    left: 0;
  }
  .topics_detail .topics_ct .topics_box_des .topics_box_cat {
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1;
    min-width: 126px;
    padding: 11px 5px;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 50px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
  }
  .topics_detail .topics_ct .topics_box_des .topics_box_cat.blog {
    background: #8dc556;
  }
  .topics_detail .topics_ct .topics_box_des .topics_box_cat.media {
    background: #000;
  }
  .topics_detail .topics_ct .topics_box_des time {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  .topics_detail .topics_ct h1 {
    font-size: 3.6rem;
    line-height: 6rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 40px;
    
    font-weight: bold;
  }
  .topics_detail .topics_ct h1:after {
    content: '';
    width: 87px;
    height: 1px;
    background: #333333;
    display: block;
    margin-top: 20px;
  }
  .topics_detail .topics_ct h2 {
    font-size: 2.8rem;
    line-height: 4rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .topics_detail .topics_ct h2:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #333333;
    display: block;
    margin-top: 10px;
  }
  .topics_detail .topics_ct h3 {
    font-size: 2.2rem;
    line-height: 4rem;
    color: #333333;
    font-weight: bold;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  .topics_detail .topics_ct h4 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #333333;
    font-weight: bold;
    border-left: 3px solid #333;
    padding-left: 15px;
    margin-bottom: 30px;
  }
  .topics_detail .topics_ct p {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #333333;
    margin-bottom: 40px;
  }
  .topics_detail .topics_ct figure {
    width: 100%;
    margin-bottom: 40px;
  }
  .topics_detail .topics_ct figure img {
    margin: 18px auto;
    display: block;
  }
  .topics_detail .other_post {
    padding: 80px 0;
  }
  .topics_detail .other_post_tt {
    font-size: 3.5rem;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    text-align: center;
  }
  .topics_detail .other_post_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  .topics_detail .other_post_inner .topics_box {
    width: 31.2%;
    margin: 0 12px;
    background: #fff;
    margin-bottom: 30px;
  }
  .topics_detail .other_post_inner .topics_box a {
    display: block;
  }
  .topics_detail .other_post_inner .topics_box a:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #8bc34a;
  }
  .topics_detail .other_post_inner .topics_box a figure {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .topics_detail .other_post_inner .topics_box a figure img {
    width: 359px;
    height: 234px;
    object-fit: cover;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des {
    padding: 35px 24px 25px;
    position: relative;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_cat {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1;
    width: 95px;
    padding: 7px;
    position: absolute;
    top: -14px;
    left: 24px;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_cat.blog {
    background: #8dc556;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_cat.media {
    background: #000;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #333;
    font-weight: bold;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link {
    margin-top: 40px;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link time {
    font-size: 1.3rem;
    line-height: 1;
    margin-right: 27px;
    font-weight: 500;
    color: #909297;
    font-family: 'Montserrat',sans-serif;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link span {
    font-size: 1.3rem;
    line-height: 1;
    position: relative;
    padding-left: 16px;
    font-weight: 500;
    color: #909297;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link span:before {
    content: '';
    width: 12px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_link.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .topics_detail .other_post_inner .topics_box a:hover:before {
    width: 100%;
  }
  .topics_detail .other_post_inner .topics_box a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .topics_detail .other_post .bx_pag {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .topics_ct_des {
    padding: 13.33333vw 0 10.66667vw;
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
  }
  .topics_ct .topics_list {
    background: #ECEFE8;
    padding-bottom: 12vw;
  }
  .topics_ct .topics_list_cat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 9.33333vw;
    position: relative;
    top: -1.86667vw;
  }
  .topics_ct .topics_list_cat h3 {
    font-size: 4vw;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .topics_ct .topics_list_cat ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 61.33333vw;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: absolute;
    top: -3.2vw;
    right: 0;
    z-index: 99;
  }
  .topics_ct .topics_list_cat ul.active li {
    display: block;
  }
  .topics_ct .topics_list_cat ul li {
    display: none;
  }
  .topics_ct .topics_list_cat ul li a {
    font-size: 4.26667vw;
    line-height: 1;
    padding: 2.93333vw 2.66667vw;
    width: 61.33333vw;
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    display: block;
    text-align: center;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;
    
  }
  .topics_ct .topics_list_cat ul li.active {
    display: block;
  }
  .topics_ct .topics_list_cat ul li.active a {
    border: 2px solid #8dc556;
    color: #8dc556;
  }
  .topics_ct .topics_list_cat ul li.active a:after {
    content: '';
    width: 3.46667vw;
    height: 1.73333vw;
    position: absolute;
    top: 50%;
    right: 12.53333vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_arrow_down.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .topics_ct .topics_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .topics_ct .topics_list_box .topics_box {
    width: 100%;
    background: #fff;
    margin-bottom: 5.73333vw;
  }
  .topics_ct .topics_list_box .topics_box a {
    display: block;
  }
  .topics_ct .topics_list_box .topics_box a figure {
    width: 100%;
    height: auto;
  }
  .topics_ct .topics_list_box .topics_box a figure img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des {
    padding: 8vw 3.46667vw 6.66667vw;
    position: relative;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_cat {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 1;
    min-width: 22.66667vw;
    padding: 1.86667vw 0.93333vw;
    position: absolute;
    top: -3.2vw;
    left: 3.46667vw;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    
    white-space: normal;
    word-break: keep-all;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_cat.blog {
    background: #8dc556;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_cat.media {
    background: #000;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des p {
    font-size: 3.73333vw;
    line-height: 7.2vw;
    color: #333;
    font-weight: bold;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link {
    margin-top: 6.4vw;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link time {
    font-size: 2.93333vw;
    line-height: 1;
    margin-right: 6.66667vw;
    font-weight: 500;
    color: #909297;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link span {
    font-size: 2.93333vw;
    line-height: 1;
    position: relative;
    padding-left: 4vw;
    font-weight: 500;
    color: #909297;
  }
  .topics_ct .topics_list_box .topics_box a .topics_box_des .topics_box_link span:before {
    content: '';
    width: 3.2vw;
    height: 2.93333vw;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_link.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .topics_ct .topics_list_box .topics_box a:hover {
    opacity: 0.8;
  }
  .topics_ct .topics_list .bx_pag {
    margin-top: 6.66667vw;
  }
  .topics_detail {
    background: #ECEFE8;
  }
  .topics_detail .topics_ct {
    background: #fff;
    margin-top: -10.66667vw;
    display: block;
    position: relative;
    padding: 0 4.66667vw 8vw;
  }
  .topics_detail .topics_ct .topics_box_des {
    position: relative;
    top: -3.73333vw;
    left: 0;
  }
  .topics_detail .topics_ct .topics_box_des .topics_box_cat {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 1;
    min-width: 22.66667vw;
    padding: 1.86667vw 1.33333vw;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 6.66667vw;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  .topics_detail .topics_ct .topics_box_des .topics_box_cat.blog {
    background: #8dc556;
  }
  .topics_detail .topics_ct .topics_box_des .topics_box_cat.media {
    background: #000;
  }
  .topics_detail .topics_ct .topics_box_des time {
    display: block;
    font-size: 2.93333vw;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  .topics_detail .topics_ct h1 {
    font-size: 4.8vw;
    line-height: 8vw;
    color: #333333;
    font-weight: bold;
    margin-bottom: 8vw;
    
  }
  .topics_detail .topics_ct h1:after {
    content: '';
    width: 11.6vw;
    height: 1px;
    background: #333333;
    display: block;
    margin: 5.33333vw auto 0;
  }
  .topics_detail .topics_ct h2 {
    font-size: 4.26667vw;
    line-height: 6.66667vw;
    color: #333333;
    font-weight: bold;
    margin-bottom: 5.33333vw;
  }
  .topics_detail .topics_ct h2:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #333333;
    display: block;
    margin-top: 2.66667vw;
  }
  .topics_detail .topics_ct h3 {
    font-size: 4vw;
    line-height: 5.33333vw;
    color: #333333;
    font-weight: bold;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    padding: 2.13333vw 0;
    margin-bottom: 4.66667vw;
  }
  .topics_detail .topics_ct h4 {
    font-size: 3.73333vw;
    line-height: 4.66667vw;
    color: #333333;
    font-weight: bold;
    border-left: 3px solid #333;
    padding-left: 2vw;
    margin-bottom: 4.66667vw;
  }
  .topics_detail .topics_ct p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    color: #333333;
    margin-bottom: 8vw;
  }
  .topics_detail .topics_ct figure {
    width: 100%;
    margin-bottom: 6vw;
  }
  .topics_detail .topics_ct figure img {
    margin: 0 auto;
    display: block;
  }
  .topics_detail .other_post {
    padding: 10.66667vw 0;
  }
  .topics_detail .other_post_tt {
    font-size: 5.33333vw;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 6.66667vw;
    text-align: center;
  }
  .topics_detail .other_post_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .topics_detail .other_post_inner .topics_box {
    width: 100%;
    background: #fff;
    margin-bottom: 5.73333vw;
  }
  .topics_detail .other_post_inner .topics_box a {
    display: block;
  }
  .topics_detail .other_post_inner .topics_box a figure {
    width: 100%;
    height: auto;
  }
  .topics_detail .other_post_inner .topics_box a figure img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des {
    padding: 8vw 3.46667vw 6.66667vw;
    position: relative;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_cat {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 1;
    min-width: 22.66667vw;
    padding: 1.86667vw 0.93333vw;
    position: absolute;
    top: -3.2vw;
    left: 3.46667vw;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    
    font-family: 'Montserrat',sans-serif;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_cat.blog {
    background: #8dc556;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_cat.media {
    background: #000;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des p {
    font-size: 3.73333vw;
    line-height: 7.2vw;
    color: #333;
    font-weight: bold;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link {
    margin-top: 6.4vw;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link time {
    font-size: 2.93333vw;
    line-height: 1;
    margin-right: 6.66667vw;
    font-weight: 500;
    color: #909297;
    font-family: "Montserrat", sans-serif;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link span {
    font-size: 2.93333vw;
    line-height: 1;
    position: relative;
    padding-left: 4vw;
    font-weight: 500;
    color: #909297;
  }
  .topics_detail .other_post_inner .topics_box a .topics_box_des .topics_box_link span:before {
    content: '';
    width: 3.2vw;
    height: 2.93333vw;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_link.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .topics_detail .other_post .bx_pag {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5.33333vw;
  }
}
