@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.slider {
  position: relative;
  &_under {
    padding: 0 75px 0 165px;
    ul {
      width: 100%;
      height: 0;
      padding-top: percentage(600/1280);
      position: relative;
      overflow: hidden;
      li {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        transition: all 3s;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 75px;
    figure {
      img {
        width: percentage(368/1280);
        height: auto;
      }
      figcaption {
        margin-top: 63px;
        span {
          display: inline-block;
          font-size: 1.5rem;
          line-height: 35px;
          color: #000;
          background: #fff;
          font-weight: 500;
        }
      }
    }
  }
  &_flag {
    position: absolute;
    bottom: -25px;
    right: percentage(95/1280);
    width: 220px;
    a {
      display: block;
      img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
      }
      &:hover {
        img {
          transform: rotateZ(-10deg);
        }
      }
    }
  }
  .social {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 75px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      li {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
        a {
          display: inline-block;
          writing-mode: vertical-lr;
          font-size: 1rem;
          line-height: 1;
          color: #000;
          font-family: $mont;
          text-transform: uppercase;
          font-weight: 500;
          padding-top: 25px;
          position: relative;
          @each $cl,$w,$h in ('icon_face',6,11),('icon_twitter',12,9),('icon_line',14,13) {
           &.#{$cl} {
             &::before {
               background: url('../images/#{$cl}.png') 0 0 no-repeat;
               background-size: contain;
               width: #{$w}px;
               height: #{$h}px;
             }
             &:hover {
               color: #8DC556;
               &::before {
                 background: url('../images/#{$cl}_hr.png') 0 0 no-repeat;
                 background-size: contain;
               }
             }
           }
          }
          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
.news {
  padding: 50px 0 0 87px;
  &_main {
    display: flex;
    justify-content: space-between;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #000;
    h2 {
      font-size: 3rem;
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $mont;
      letter-spacing: 1px;
    }
    ul {
      width: calc(100% - 200px);
      padding-left: 100px;
      li {
        a {
          display: flex;
          width: 100%;
          align-items: center;
          color: #000;
          &:hover {
            text-decoration: underline;
          }
          time {
            font-size: 1.5rem;
            line-height: 25px;
            color: #000;
            font-weight: bold;
            display: inline-block;
            margin-right: 20px;
          }
          span {
            display: inline-block;
            width: calc(100% - 115px);
            font-size: 1.5rem;
            line-height: 30px;
            font-weight: 500;
            color: #000;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
    > a {
      display: inline-block;
      position: relative;
      font-size: 1.3rem;
      line-height: 1;
      font-family: $mont;
      font-weight: 500;
      color: #000;
      padding: 0 25px 10px 0;
      text-transform: uppercase;
      align-self: flex-end;
      &:hover {
        &::after {
          right: -5px;
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 14px;
        height: 5px;
        background: url('/common/images/arr_more.png') 0 0 no-repeat;
        background-size: contain;
        right: 0;
        top: 0;
        transition: all 0.3s ease;
      }
    }
  }
}
.member {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  background: #fff;
  padding: 0 0 140px;
  > figure {
    width: percentage(695/1280);
    position: relative;
    transform: translateZ(0);
    margin: percentage(55/1280) 0 0;
    z-index: 2;
    img {
      width: 100%;
      height: auto;
    }
  }
  &_pos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &::after {
      position: absolute;
      content: "";
      width: percentage(737/1280);
      height: 0;
      padding-top: percentage(339/1280);
      right: 0;
      top: 0;
      background: #ECEFE8;
    }
  }
  &_m {
    height: 100%;
    &_w {
      width: 395px;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 3rem;
        line-height: 36px;
        font-family: $mont;
        font-weight: bold;
      }
      figure {
        margin-top: 40px;
        width: 330px;
        img {
          width: 100%;
          height: auto;
        }
      }
      p {
        font-size: 1.5rem;
        line-height: 30px;
        margin-top: 37px;
      }
      .btn {
        margin-top: 35px;
        justify-content: center;
      }
    }
  }
}
.event {
  h2 {
    font-size: 3rem;
    line-height: 36px;
    font-weight: bold;
    color: #000;
    font-family: $mont;
    text-align: center;
  }
  &_list {
    padding-bottom: 90px;
    &_box{
      // margin-left: -12px;
      // margin-right: -12px;
      &::after {
        clear: both;
        display: table;
        content: "";
      }
      .event_box{
        width: 330px;
        // margin: 0 23px;
        background: #fff;
        margin-bottom: 100px;
        float: left;
        a{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .event_box_des{
            position: relative;
            figure{
              width: 100%;
              height: auto;
              img{
                width: 330px;
                height: 200px;
                object-fit: cover;
                transition: all 0.3s ease;
              }
            }
            .event_tag{
              width: 100px;
              height: 100px;
              border-radius: 100%;
              border: 1px solid #333;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              color: #333;
              padding: 0 0 9px;
              font-family: $mont;
              position: absolute;
              top: -50px;
              background: #fff;
              left: -20px;
              span{
                position: relative;
                em{
                  font-style: normal;
                  font-size: rem(37);
                  line-height: 1;
                  font-weight: bold;
                  padding-left: 25px;
                  display: block;
                }
                sub{
                  font-size: rem(21);
                  line-height: 1;
                  display: block;
                  &:after{
                    content: '';
                    width: 27px;
                    height: 27px;
                    background: url('/event/images/ic_cross.png') no-repeat;
                    background-size: contain;
                    position: relative;
                      top: 15px;
                      left: -13px;
                      display: inline-block;
                  }
                }

              }
              small{
                font-size: rem(12);
                line-height: 1;
                display: block;
              }
            }
            p{
              font-size: rem(16);
              line-height: rem(28);
              color: #333;
              padding: 25px 0 45px;
            }
          }
          .event_box_link{
            align-content: flex-end;
            span{
              font-size: rem(12);
              line-height: 1;
              position: relative;
              margin-right: 11px;
              font-weight: 500;
              color: #909297;
              background: #ECEFE8;
              padding: 7px 20px;
              display: inline-block;
              border-radius: 20px;
            }
          }
          &:hover{
            img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
  .swiper-container {
    padding: 100px 23px 0;
  }
  &_wrap {
    position: relative;
  }
  .slick-list {
    padding: 100px 0 0;
  }
  .slick-arrow,.swiper-button {
    width: 30px;
    height: 9px;
    text-indent: -9999px;
    overflow: hidden;
    border: 0;
    box-shadow: none;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;

    &.slick-prev,&.swiper-prev {
      background: url('../images/arr_prev.png') 0 0 no-repeat;
      background-size: contain;
      left: -60px;
    }
    &.slick-next,&.swiper-next {
      background: url('../images/arr_next.png') 0 0 no-repeat;
      background-size: contain;
      right: -60px;
    }

  }
}
.schedule {
  display: flex;
  justify-content: space-between;
  &_left {
    width: 520px;
    h2 {
      font-size: 3rem;
      line-height: 36px;
      font-family: $mont;
      font-weight: bold;
    }
    ul {
      li {
        border-bottom: 1px solid #F3F3F3;
        a {
          display: flex;
          align-items: center;
          width: 100%;
          color: #000;
          padding: 20px 0;
          time {
            font-size: 1.5rem;
            line-height: 1;
            font-family: $mont;
            font-weight: 700;
            width: 120px;
          }
          span {
            font-size: 1.5rem;
            line-height: 3rem;
            font-weight: 500;
            width: calc(100% - 120px);

          }
        }
      }
    }
    p {
      margin-top: 35px;
      font-size: 0;
      span {
        display: inline-block;
        position: relative;
        font-size: 1.2rem;
        line-height: 30px;
        color: #999999;
        padding: 0 0 0 30px;
        &:not(:last-child) {
          margin-right: 30px;
        }
        &::before {
          position: absolute;
          content: "";
          width: 17px;
          height: 17px;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &.yellow {
          &::before {
            background: #ffda66;
          }
        }
        &.blue {
          &::before {
            background: #2067ce;
          }
        }
        &.red {
          &::before {
            background: #ff6666;
          }
        }
      }
    }
  }
  &_right {
    iframe {
      width: 549px;
      height: 475px;
    }
    .view-container-border {
      background-color: #8AC082!important;
    }
  }
}
.topics {
  background: #ecefe8;
  margin-top: 100px;
  padding-bottom: 70px;
  &_main {
    h2 {
      font-size: 3rem;
      line-height: 36px;
      text-align: center;
      font-weight: bold;
      font-family: $mont;
      margin-bottom: 50px;
      transform: translateY(-18px);
    }
  }
  &_list {
    background: #ECEFE8;
    padding-bottom: 90px;
    &_box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .topics_box{
        max-width: 507px;
        width: 50%;
        &:not(:nth-of-type(-n+2)) {
          margin-top: 70px;
        }
        &:nth-of-type(even) {
          transform: translateY(54px);
        }
        a{
          display: block;
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
          figure{
            width: 100%;
            height: auto;
            text-align: center;
            position: relative;
            z-index: 2;
            > span {
              display: block;
            }
            img{
              width: 470px;
              height: 303px;
              object-fit: cover;
              transition: transform 0.3s ease;
            }
            figcaption {
              font-style: normal;
              font-size: rem(18);
              line-height: 1;
              width: 95px;
              padding: 11px 7px;
              position: absolute;
              bottom: -20px;
              left: 18px;
              background: #000;
              color: #fff;
              text-align: center;
              letter-spacing: 1px;
              &.blog{
                background: #8dc556;
              }
              &.media{
                background: #000;
              }
            }
          }
          .topics_box_des{
            padding: 45px 18px 54px;
            position: relative;
            transform: translateZ(0);
            background: #fff;
            z-index: 1;
            &::after {
              background: #fff;
              width: 100%;
              height: 75px;
              left: 0;
              top: -75px;
              position: absolute;
              content: "";
              z-index: -1;
            }
            .topics_box_cat{

            }
            p{
              font-size: rem(20);
              line-height: rem(36);
              color: #000;
              font-weight: bold;
            }
            .topics_box_link{
              margin-top: 40px;
              time{
                font-size: rem(13);
                line-height: 1;
                margin-right: 27px;
                font-weight: 500;
                color: #909297;
                font-family: $mont;
              }
              span{
                font-size: rem(13);
                line-height: 1;
                position: relative;
                padding-left: 16px;
                font-weight: 500;
                color: #909297;
                &:before{
                  content: '';
                  width: 12px;
                  height: 11px;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  background: url('/topics/images/ic_link.png') no-repeat;
                  background-size: contain;
                }
              }
            }
          }
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
  .btn {
    margin-top: 90px;
  }
}
.partner {
  position: relative;
  background: #fff;
  padding: 100px 0 97px;
  &_top {
    position: relative;
    display: flex;
    justify-content: flex-start;
    > figure {
      width: percentage(733/1280);
      position: relative;
      transform: translateZ(0);
      padding: 0 0 percentage(44/1280);
      &::after {
        position: absolute;
        content: "";
        width: percentage(492/888);
        height: 0;
        padding-top: percentage(208/888);
        left: 0;
        bottom: 0;
        background: #ECEFE8;
        z-index: -1;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &_pos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &_m {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 70px 0 0;
    position: relative;
    &_w {
      width: 250px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 3rem;
        line-height: 36px;
        font-family: $mont;
        font-weight: bold;
      }
      p {
        font-size: 1.5rem;
        line-height: 30px;
        margin-top: 37px;
      }
      .btn {
        margin-top: 35px;
        justify-content: center;
      }
    }
  }
  &_btn {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -70px;
    bottom: -100px;
    a {
      width: 430px;
      height: 88px;
      background: #8dc556;
      color: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      &::after {
        position: relative;
        content: "";
        width: 16px;
        height: 5px;
        background: url('../images/arrow_white.png') 0 0 no-repeat;
        background-size: contain;
        margin-left: 20px;
      }
    }
  }
}
.rp {
  display: flex;
  justify-content: space-between;
  margin-top: 97px;
  &_box {
    width: 504px;
    figure {
      position: relative;
      a {
        display: block;
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
      }
      figcaption {
        position: absolute;
        display: inline-block;
        font-size: 3rem;
        line-height: 36px;
        padding: 15px 30px;
        background: #fff;
        border: 1px solid #000;
        color: #000;
        font-family: $mont;
        font-weight: bold;
        left: -15px;
        bottom: 35px;
      }
    }
    p {
      text-align: center;
      font-size: 1.5rem;
      line-height: 30px;
      margin-top: 34px;
    }
    .btn {
      margin-top: 35px;
    }
  }
}
.st_access {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 95px;
  padding: 0 0 90px;
  &_map {
    width: percentage(720/1280);
    height: 0;
    padding-top: percentage(449/1280);
    position: relative;
  }
  &_content {
    position: absolute;
    width: 460px;
    top: 0;
    left: calc((100% - 1126px)/2);
    padding-top: 25px;
    h2 {
      font-size: 3rem;

      line-height: 36px;
      font-family: $mont;
      color: #000;
      font-weight: bold;
    }
    h3 {
      font-size: 2.6rem;
      line-height: 1;
      font-weight: bold;
      color: #000;
      margin-top: 40px;
    }
    h4 {
      font-size: 1.5rem;
      line-height: 1;
      font-weight: bold;
      margin-top: 40px;
    }
    address {
      font-style: normal;
      font-size: 1.5rem;
      line-height: 30px;
      margin-top: 20px;
    }
    .tel {
      pointer-events: none;
      font-size: 1.5rem;
      line-height: 30px;
      color: #000;
    }
    .btn {
      justify-content: flex-start;
      margin-top: 45px;
    }
  }
}