.slider {
  position: relative;
  &_under {
    padding: 0 0 0 vw(41);
    ul {
      width: 100%;
      height: vw(857);
      position: relative;
      overflow: hidden;
      li {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        transition: all 3s;
        line-height: 0;
        height: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 vw(41) 0 vw(41);
    margin-top: vw(-130);
    position: relative;
    z-index: 3;
    figure {
      > span {
        display: inline-block;
        padding: vw(60) vw(130) vw(50) 0;
        background: #fff;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: vw(87);
          height: 1px;
          background: #000;
          left: 0;
          bottom: 0;
        }
      }
      img {
        width: vw(421);
        height: auto;
      }
      figcaption {
        padding: vw(41) 0 0;
        span {
          display: inline;
          font-size: vw(26);
          line-height: vw(50);
          color: #000;
          background: #fff;
          font-weight: 500;
        }
      }
    }
  }
  &_flag {
    display: none;
  }
  .social {
    display: none;
  }
}
.news {
  padding: vw(120) vw(41);
  &_main {
    position: relative;
    h2 {
      font-size: vw(50);
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $mont;
      letter-spacing: 1px;
      margin-bottom: vw(40);
    }
    ul {
      li {
        border-bottom: 1px solid #909297;
        padding: vw(10) 0;
        a {
          color: #000;
          time {
            font-size: vw(22);
            line-height: vw(26);
            color: #909297;
            font-weight: bold;
            display: inline-block;
          }
          span {
            display: block;
            width: 100%;
            font-size: vw(22);
            line-height: vw(45);
            font-weight: 500;
            color: #000;
          }
        }
      }
    }
    > a {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      font-size: vw(26);
      line-height: 1;
      font-family: $mont;
      font-weight: 500;
      color: #000;
      padding: 0 vw(60) 0 0;
      text-transform: uppercase;
      &::after {
        position: absolute;
        content: "";
        width: vw(34);
        height: vw(9);
        background: url('/common/images/arr_more.png') 0 0 no-repeat;
        background-size: contain;
        right: 0;
        top: 0;
      }
    }
  }
}
.member {
  position: relative;
  background: #fff;
  &_m {
    &_w {
      h2 {
        font-size: vw(50);
        line-height: vw(60);
        font-family: $mont;
        font-weight: bold;
      }
      figure {
        &:nth-of-type(1) {
          margin-top: vw(45);
          text-align: center;
          img {
            width: vw(537);
            height: auto;
          }
        }
        &:nth-of-type(2) {
          position: relative;
          margin-top: vw(68);
          margin-right: vw(-40);
          padding: 0 0 vw(48);
          text-align: right;
          transform: translateZ(0);
          img {
            width: vw(670);
            height: auto;
          }
          &::after {
            position: absolute;
            content: "";
            width: vw(708);
            height: vw(259);
            right: 0;
            bottom: 0;
            background: #ECEFE8;
            z-index: -1;
          }
        }
      }
      p {
        font-size: vw(28);
        line-height: vw(53);
        margin-top: vw(48);
      }
      .btn {
        margin-top: vw(80);
        justify-content: center;
      }
    }
  }
}
.event {
  margin-top: vw(165);
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: vw(321);
    z-index: -1;
    top: vw(20);
    background: #ecefe8;
  }
  h2 {
    font-size: vw(50);
    line-height: vw(60);
    font-weight: bold;
    color: #000;
    font-family: $mont;
    text-align: center;
  }
  &_list {
    &_box{
      margin-bottom: vw(93);
      .event_box{
        max-width: 80%;
        background: transparent;
        margin-right: 40px;
        float: left;
        a{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .event_box_des{
            position: relative;
            figure{
              width: vw(440);
              height: auto;
              img{
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: all 0.3s ease;
              }
            }
            .event_tag{
              width: vw(150);
              height: vw(150);
              border-radius: 100%;
              border: 1px solid #333;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              color: #333;
              padding: 0 0 9px;
              font-family: $mont;
              position: absolute;
              top: vw(-75);
              background: #fff;
              left: vw(-20);
              span{
                position: relative;
                em{
                  font-style: normal;
                  font-size: vw(55);
                  line-height: 1;
                  padding-left: vw(50);
                  font-weight: bold;
                  display: block;
                }
                sub{
                  font-size: vw(30);
                  line-height: 1;
                  display: block;
                  &:after{
                    content: '';
                    width: vw(40);
                    height: vw(40);
                    background: url('/event/images/ic_cross.png') no-repeat;
                    background-size: contain;
                    position: relative;
                      top: vw(30);
                      left: vw(-20);
                      display: inline-block;
                  }
                }

              }
              small{
                font-size: vw(18);
                line-height: 1;
                display: block;
              }
            }
            p{
              font-size: rem(16);
              line-height: rem(28);
              color: #333;
              padding: 25px 0 45px;
            }
          }
          .event_box_link{
            align-content: flex-end;
            span{
              font-size: rem(12);
              line-height: 1;
              position: relative;
              margin-right: 11px;
              font-weight: 500;
              color: #909297;
              background: #ECEFE8;
              padding: 7px 20px;
              display: inline-block;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
  .swiper-container {
    padding: vw(142) vw(40) 0;
  }
  .swiper-scrollbar-drag {
    background: #8dc556;
  }
  .btn {
    margin-top: vw(90);
  }
}
.schedule {
  padding: 0 vw(40);
  &_left {
    width: 100%;
    h2 {
      font-size: vw(50);
      line-height: vw(60);
      font-family: $mont;
      font-weight: bold;
      text-align: center;
    }
    ul {
      display: none;
    }
    p {
      display: none;
    }
  }
  &_right {
    width: 100%;
    margin-top: vw(70);
    iframe {
      width: 100%;
      height: vw(1000);
    }
    p {
      margin-top: vw(35);
      font-size: 0;
      span {
        display: inline-block;
        position: relative;
        font-size: vw(28);
        line-height: vw(52);
        color: #999999;
        padding: 0 0 0 vw(60);
        &:not(:last-child) {
          margin-right: vw(35);
        }
        &::before {
          position: absolute;
          content: "";
          width: vw(33);
          height: vw(33);
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &.yellow {
          &::before {
            background: #ffda66;
          }
        }
        &.blue {
          &::before {
            background: #2067ce;
          }
        }
        &.red {
          &::before {
            background: #ff6666;
          }
        }
      }
    }
  }
}
.topics {
  background: #ecefe8;
  margin-top: vw(180);
  padding-bottom: vw(100);
  &_main {
    h2 {
      font-size: vw(50);
      line-height: vw(60);
      text-align: center;
      font-weight: bold;
      font-family: $mont;
      margin-bottom: vw(90);
      transform: translateY(#{vw(-30)});
    }
  }
  &_list {
    &_box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .topics_box{
        width: 100%;
        &:not(:first-child) {
          margin-top: vw(70);
        }
        a{
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          transform: translateZ(0);
          &::before {
            position: absolute;
            content: "";
            height: percentage(250/200);
            width: vw(560);
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
          }
          figure{
            width: vw(300);
            height: auto;
            text-align: center;
            position: relative;
            z-index: 2;
            > span {
              display: block;
            }
            img{
              width: 100%;
              height: auto;
              object-fit: cover;
            }
            figcaption {
              font-style: normal;
              font-size: vw(28);
              line-height: vw(34);
              width: vw(170);
              height: vw(55);
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              bottom: 0;
              left: 0;
              background: #000;
              color: #fff;
              letter-spacing: 1px;
              &.blog{
                background: #8dc556;
              }
              &.media{
                background: #000;
              }
            }
          }
          .topics_box_des{
            width: 50%;
            position: relative;
            transform: translateZ(0);
            background: #fff;
            z-index: 1;
            p{
              font-size: vw(22);
              line-height: vw(36);
              color: #000;
              font-weight: bold;
            }
            .topics_box_link{
              margin-top: vw(30);
              time{
                font-size: vw(22);
                line-height: vw(26);
                margin-right: vw(18);
                font-weight: 500;
                color: #909297;
                font-family: $mont;
              }
              span{
                font-size: vw(22);
                line-height: 1;
                position: relative;
                padding-left: vw(24);
                font-weight: 500;
                color: #909297;
                &:before{
                  content: '';
                  width: vw(17);
                  height: vw(15);
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  background: url('/topics/images/ic_link.png') no-repeat;
                  background-size: contain;
                }
              }
            }
          }
        }
      }
    }
  }
  .btn {
    margin-top: vw(110);
  }
}
.partner {
  position: relative;
  background: #fff;
  padding: vw(115) 0 vw(135);
  &_top {
    position: relative;
    > figure {
      width: vw(670);
      position: relative;
      transform: translateZ(0);
      padding: 0 0 vw(55);
      margin-left: vw(-40);
      &::after {
        position: absolute;
        content: "";
        width: vw(522);
        height: vw(208);
        left: 0;
        bottom: 0;
        background: #ECEFE8;
        z-index: -1;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &_pos {
  }
  &_m {
    margin-top: vw(55);
    &_w {
      h2 {
        font-size: vw(50);
        line-height: vw(60);
        font-family: $mont;
        font-weight: bold;
        br {
          display: none;
        }
      }
      p {
        font-size: vw(28);
        line-height: vw(53);
        margin-top: vw(30);
      }
      .btn {
        margin-top: vw(67);
        justify-content: center;
      }
    }
  }
  &_btn {
    margin-top: vw(70);
    display: flex;
    justify-content: flex-end;
    a {
      width: 100%;
      height: vw(100);
      background: #8dc556;
      color: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: vw(26);
      font-weight: bold;
    }
  }
}
.rp {
  margin: vw(115) 0 0;
  background: #ecefe8;
  display: flex;
  flex-direction: column;
  padding-bottom: vw(120);
  &_box {
    width: 100%;
    &:nth-of-type(1) {
      margin-top: vw(-115);
      margin-bottom: vw(80);
    }
    figure {
      position: relative;
      a {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        position: absolute;
        display: inline-block;
        font-size: vw(40);
        line-height: vw(48);
        padding: vw(24) vw(30);
        background: #fff;
        border: 1px solid #000;
        color: #000;
        font-family: $mont;
        font-weight: bold;
        left: 0;
        bottom: vw(-37);
      }
    }
    p {
      text-align: left;
      font-size: vw(26);
      line-height: vw(53);
      margin-top: vw(60);
    }
    .btn {
      display: none;
    }
  }
}
.st_access {
  position: relative;
  margin-top: vw(100);
  padding: vw(100) 0;
  &_map {
    width: 100%;
    height: vw(450);
    position: relative;
  }
  &_content {
    width: 100%;
    padding: 0 vw(40);
    h2 {
      font-size: vw(50);
      line-height: vw(60);
      font-family: $mont;
      color: #000;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
    h3 {
      font-size: vw(35);
      line-height: vw(39);
      font-weight: bold;
      color: #000;
      margin-top: vw(60);
    }
    h4 {
      display: none;
    }
    address {
      font-style: normal;
      font-size: vw(28);
      line-height: vw(50);
      margin-top: vw(30);
    }
    .tel {
      font-size: vw(28);
      line-height: vw(50);
      color: #000;
    }
    .btn {
      justify-content: flex-start;
      margin-top: vw(60);
    }
  }
}