@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

@import "../common/css/_mixin/mixin";
//---------------------------------------------------------------------------
.fadeInUp {
  transform: translateY(50px);
  transition: all 0.8s ease;
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
@include min-screen() {
  @import "./_style_pc.scss";
}

@include max-screen() {
  @import "./_style_sp.scss";
}
