@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}

.row{
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
}

.container{
  min-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}