@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
// ===================================================================
img {
  width: 100%;
  height: auto;
}
.show_pc {
  display: none!important;
}
.row{
  padding: 0 vw(40);
}