footer{
  background-color: #444444;
  .bx_footer{
    &_top{
      .nav_ft{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0 vw(-40);
        border-top: vw(2) solid #333333;
        li{
          width: 50%;
          border-bottom: vw(2) solid #333333;
          padding: 0 vw(40);
          &:nth-child(odd){
            border-right: vw(2) solid #333333;
          }
          a{
            height: vw(110);
            font-size: vw(22);
            line-height: vw(36);
            font-family: YuGothic;
            color: #fff;
            font-weight: 500;
            padding-left: vw(25);
            position: relative;
            display: flex;
            align-items: center;
            &:before{
              content:"";
              width: vw(11);
              height: vw(2);
              background-color: #fff;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              z-index: 1;
            }
          }
        }
      }
    }
    &_bottom{
      padding: vw(36) 0;
      .logo_ft{
        text-align: center;
        margin-bottom: vw(50);
        a{
          display: block;
          img{
            width: vw(260);
            height: vw(104);
          }
        }
      }
      .list_social{
        text-align: center;
        font-size: 0;
        margin-bottom: vw(40);
        li{
          display: inline-block;
          &:not(:last-child){
            margin-right: vw(34);
          }
          a{
            display: block;
            img{
              width: vw(75);
              height: vw(75);
            }
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
      .copyright{
        font-size: vw(22);
        line-height: 1;
        color: #fff;
        text-align: center;
      }
    }
  }
}