footer{
  background-color: #444444;
  .bx_footer{
    &_top{
      padding: 50px 0 40px;
      .wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .logo_ft{
        a{
          display: block;
          img{
            width: 149px;
            height: 60px;
          }
        }
      }
      .nav_ft{
        column-count: 5;
        li{
          width: 100%;
          margin-bottom: 20px;
          a{
            font-size: rem(12);
            line-height: 1;
            font-family: YuGothic;
            color: #fff;
            font-weight: 500;
            padding-left: 10px;
            position: relative;
            &:before{
              content:"";
              width: 5px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              z-index: 1;
            }
            &:after{
              content: '';
              background: #fff;
              width: 100%;
              height: 1px;
              display: block;
              transform-origin: top right;
              transform: scale(0, 1);
              transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
              position: absolute;
              bottom: -4px;
              left: 0;
            }
            &:hover{
              &:after{
                transform-origin: top left;
                transform: scale(1, 1);
              }
            }
          }
        }
      }
    }
    &_bottom{
      border-top: 1px solid #333333;
      padding: 27px 0 35px;
      .list_social{
        text-align: center;
        font-size: 0;
        margin-bottom: 20px;
        li{
          display: inline-block;
          &:not(:last-child){
            margin-right: 15px;
          }
          a{
            display: block;
            img{
              width: 32px;
              height: 32px;
            }
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
      .copyright{
        font-size: rem(13);
        line-height: 1;
        color: #fff;
        text-align: center;
      }
    }
  }
}