header{
  padding: 20px 0;
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
    min-width: 1000px;
  }
  .bx_header{
    .wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_logo{
     img{
        width: 93px;
        height: 37px;
      } 
    }
    &_r{
      display: flex;
      align-items: center;
      .nav{
        ul{
          font-size: 0;
          li{
            display: inline-block;
            margin-right: 20px;
            a{
              font-size: rem(13);
              line-height: 1;
              font-weight: bold;
              color: #000;
              position: relative;
              display: block;
              padding-left: 11px;
              font-family: YuGothic;
              &:before{
                content:"";
                width: 5px;
                height: 1px;
                background-color: #000;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
              }
              &:after{
                content: '';
                background: #000;
                width: 100%;
                height: 2px;
                display: block;
                transform-origin: top right;
                transform: scale(0, 1);
                transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
                position: absolute;
                bottom: -4px;
                left: 0;
              }
              &:hover{
                &:after{
                  transform-origin: top left;
                  transform: scale(1, 1);
                }
              }
            }
          }
        }
      }
      .btn_link{
        font-size: 0;
        li{
          display: inline-block;
          &:not(:last-child){
            margin-right: 10px;
          }
          a{
            font-size: rem(13);
            line-height: 1;
            width: 120px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: YuGothic;
            color: #fff;
            font-weight: bold;
            background-color: #000;
            border: 1px solid #000;
            position: relative;
            transform: translateZ(0);
            transition: all 0.3s ease-out;
            span{
              position: relative;
              padding-left: 16px;
            }
            &:after{
              content: '';
              background: #fff;
              width: 100%;
              height: 100%;
              display: block;
              transform-origin: top right;
              transform: scale(0, 1);
              transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: -1;
            }
            &:hover{
              color: #000;
              &:after{
                transform-origin: top left;
                transform: scale(1, 1);
              }
            }
          }
          &.schedule{
            a{
              span{
                &:before{
                  content:"";
                  background: url(../images/icon_cld_pc.png) no-repeat;
                  background-size: contain;
                  width: 9px;
                  height: 11px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                }
              }
              &:hover{
                span{
                  &:before{
                    background: url(../images/icon_cld.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
          &.access{
            a{
              span{
                &:before{
                  content:"";
                  background: url(../images/icon_maps_pc.png) no-repeat;
                  background-size: contain;
                  width: 10px;
                  height: 11px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                }
              }
              &:hover{
                span{
                  &:before{
                    background: url(../images/icon_maps.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
          &.login{
            a{
              background-color: #fff;
              color: #000;
              span{
                &:before{
                  content:"";
                  background: url(../images/icon_lock.png) no-repeat;
                  background-size: contain;
                  width: 11px;
                  height: 11px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                }
              }
              &:hover{
                color: #fff;
                &:after{
                  background: #000;
                }
                span{
                  &:before{
                    background: url(../images/icon_lock_hv.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
