header{
  padding: vw(23) 0;
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  .bx_header{
    .wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_logo{
     img{
        width: vw(182);
        height: vw(72);
      } 
    }
    &_r{
      display: flex;
      align-items: center;
      .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: vw(631);
        height: 100%;
        background: #444444;
        z-index: 99;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: all 0.3s ease;
        padding: vw(38) vw(40) 0 vw(54);
        text-align: right;
        visibility: hidden;
        ul{
          padding-right: vw(17);
          li{
            padding: vw(30) 0;
            border-bottom: vw(2) solid #E6E6E6;
            a{
              font-size: vw(28);
              line-height: 1;
              font-family: YuGothic;
              position: relative;
              font-weight: bold;
              padding-left: vw(25);
              color: #fff;
              display: block;
              text-align: left;
              &:before{
                content:"";
                width: vw(11);
                height: vw(2);
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
              }
            }
          }
        }
        .visionway {
          border-bottom: 0;
          a{
            font-size: vw(31);
            line-height: 1;
            color: #fff;
            font-family: YuGothic;
            font-weight: bold;
            width: vw(520);
            height: vw(110);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #8DC556;
            position: relative;
            &::before {
              display: none;
            }
            &:after{
              content:"";
              background: url(../images/arr_white.png) no-repeat;
              background-size: contain;
              width: vw(33);
              height: vw(9);
              position: relative;
              margin-left: vw(15);
            }
          }
        }
        .login{
          padding: 0;
          a{
            font-size: vw(31);
            line-height: 1;
            color: #000;
            font-family: YuGothic;
            font-weight: bold;
            width: vw(520);
            height: vw(110);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            position: relative;
            span{
              position: relative;
              padding-left: vw(50);
              &:before{
                content:"";
                background: url(../images/icon_lock.png) no-repeat;
                background-size: contain;
                width: vw(39);
                height: vw(45);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                margin-top: vw(-5);
              }
            }
            &:after{
              content:"";
              background: url(../images/arr_black.png) no-repeat;
              background-size: contain;
              width: vw(33);
              height: vw(9);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: vw(32);
            }
          }
        }
        &.open {
          transform: translateX(0);
          visibility: visible;
          transition: all 0.3s ease;
        }
        .close {
          width: vw(39);
          height: vw(40);
          background: url(../images/iocn_nav_close.png) 0 0 no-repeat;
          background-size: contain;
          display: inline-block;
          text-indent: -9999px;
          text-align: left;
          margin-bottom: vw(27);
        }
      }
      .btn_link{
        font-size: 0;
        li{
          display: inline-block;
          margin-right: vw(44);
          a{
            font-size: vw(16);
            font-weight: 500;
            color: #000;
            position: relative;
            display: block;
            margin-top: vw(25);
            span{
              text-indent: -9999px;
              display: block;
            }
            &:after{
              content: attr(data-content);
              font-size: vw(16);
              line-height: 1;
              font-weight: 500;
              color: #000;
            }
          }
          &.schedule{
            a{
              &:before{
                content:"";
                background: url(../images/icon_cld.png) no-repeat;
                background-size: contain;
                width: vw(40);
                height: vw(45);
                position: absolute;
                top: vw(-25);
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
          &.access{
            a{
              &:before{
                content:"";
                background: url(../images/icon_maps.png) no-repeat;
                background-size: contain;
                width: vw(35);
                height: vw(45);
                position: absolute;
                top: vw(-25);
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
      &_open{
        font-size: vw(16);
        font-weight: 500;
        color: #000;
        position: relative;
        display: block;
        margin-top: vw(24);
        &:before{
          content:"";
          background: url(../images/icon_nav_open.png) no-repeat;
          background-size: contain;
          width: vw(50);
          height: vw(36);
          position: absolute;
          top: vw(-20);
          margin-left: vw(3);
          left: 50%;
          transform: translateX(-50%);
        }
        &:after{
          content: attr(data-content);
          font-size: vw(16);
          font-weight: 500;
          color: #000;
          line-height: 1;
        }
        span{
          text-indent: -9999px;
          display: block;
        }
      }
    }
  }
}