.ttl{
  .row{
    position: relative;
    picture{
      display: flex;
      justify-content: flex-end;
      img{
        width: 979px;
        height: 400px;
        object-fit: cover;
      }
    }
    h2{
      font-size: rem(55);
      line-height: rem(66);
      position: absolute;
      bottom: 65px;
      left: 0;
      background: #fff;
      padding: 24px 70px 24px 0;
      color: #000;
      letter-spacing: 1px;
      font-family: $mont;
      span{
        font-size: rem(18);
        line-height: 1;
        display: block;
        margin-top: 14px;
        padding-left: 16px;
        position: relative;
        font-family: YuGothic;
        &:after{
          content: '';
          width: 14px;
          height: 2px;
          background: #000;
          position: absolute;
          top: 45%;
            left: 0;
            transform: translateY(-55%);
        }
      }
    }
  }
}

.banner_detail{
  width: 100%;
  img{
    width: 100%;
    height: 530px;
    object-fit: cover;
  }
}

.bx_pag{
  display: flex;
  justify-content: center;
  position: relative;
  a{
    font-size: rem(13);
    line-height: 1;
    color: #000;
    font-weight: 500;
    display: block;
    position: relative;
    font-family: $mont;
    &.prev{
      padding-left: 33px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      &:before{
        content:"";
        background: url(../images/arr_p.png) no-repeat;
        background-size: contain;
        width: 14px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        padding-top: 4px;
        transition: all .3s ease;
      }
      &:hover{
        &:before{
          left: 5px;
        }
      }
    }
    &.next{
      padding-right: 33px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      &:after{
        content:"";
        background: url(../images/arr_n.png) no-repeat;
        background-size: contain;
        width: 14px;
        height: 4px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        padding-top: 4px;
        transition: all .3s ease;
      }
      &:hover{
        &:after{
          right: 5px;
        }
      }
    }
  }
  &_l{
    font-size: rem(0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    li{
      display: inline-block;
      &:not(:last-child){
        margin-right: 24px;
      }
      &.active,&:hover{
        a{
          background-color: #000;
          color: #fff;
        }
      }
      a{
        width: 37px;
        height: 37px;
        font-size: rem(18);
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        border: 1px solid #000;
        font-weight: 500;
        &.next,&.prev {
          width: auto;
          border: 0;
          &:hover {
            background: transparent;
            color: #000;
          }
        }
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        font-size: rem(18);
        line-height: 1;
        background-color: #000;
        color: #fff;
      }
    }
  }
}
.btn_hv{
  position: relative;
  padding: 15px;
  width: 220px;
  text-align: center;
  &:before{
    content:"";
    width: 32px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    transition-duration: 0.5s;
    transition-property: width, height;
    box-sizing: border-box;
  }
  &:after{
    content:"";
    width: 32px;
    height: 23px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transition-duration: 0.5s;
    transition-property: width, height;
    box-sizing: border-box;
  }
  span{
    padding-right: 45px;
    position: relative;
    padding-top: 1px;
    display: inline-block;
    font-family: $mont;
    &:after{
      content:"";
      background: url(../images/arr_n.png) no-repeat;
      background-size: contain;
      width: 14px;
      height: 4px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 1;
      padding-top: 4px;
    }
  }
  &:hover{
    &:before{
      height: 100%;
      width: 100%;
    }
    &:after{
      height: 100%;
      width: 100%;
    }
  }
}