.ttl{
  .row{
    position: relative;
    margin-left: vw(40);
    padding: 0;
    picture{
      display: flex;
      justify-content: flex-end;
      img{
        width: 100%;
          height: vw(350);
          object-fit: cover;
      }
    }
    h2{
      font-size: vw(60);
      line-height: vw(72);
      position: absolute;
      bottom: vw(80);
      left: 0;
      background: #fff;
      padding: vw(27) vw(70) vw(27) 0;
      color: #333;
      letter-spacing: 1px;
      font-family: $mont;
      span{
        font-size: vw(26);
        line-height: 1;
        display: block;
        margin-top: vw(10);
        padding-left: vw(26);
        position: relative;
        letter-spacing: vw(3);
        font-family: YuGothic;
        &:after{
          content: '';
          width: vw(14);
          height: 2px;
          background: #333;
          position: absolute;
          top: 45%;
            left: 0;
            transform: translateY(-55%);
        }
      }
    }
  }
  
}

.bx_pag{
  display: flex;
  justify-content: center;
  position: relative;
  &.pag_detail{
    justify-content: center;
    a{
      &.prev{
        display: none;
      }
      &.next{
        display: none;
      }
    }
  }
  a{
    font-size: vw(28);
    line-height: 1;
    color: #000;
    font-weight: 500;
    display: block;
    position: relative;
    font-family: $mont;
    &.prev{
      padding-left: vw(40);
       position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      &:before{
        content:"";
        background: url(../images/arr_p.png) no-repeat;
        background-size: contain;
        width: vw(28);
        height: vw(8);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        padding-top: vw(4);
      }
    }
    &.next{
      padding-right: vw(40);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      &:after{
        content:"";
        background: url(../images/arr_n.png) no-repeat;
        background-size: contain;
        width: vw(28);
        height: vw(8);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        padding-top: vw(4);
      }
    }
    &.back_list{
      padding-right: vw(40);
      &:after{
        content:"";
        background: url(../images/arr_n.png) no-repeat;
        background-size: contain;
        width: vw(28);
        height: vw(8);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        padding-top: vw(4);
      }
    }
  }
  &_l{
    font-size: rem(0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    li{
      display: inline-block;
      &:not(:last-child){
        margin-right: vw(20);
      }
      &.active,&:hover{
        a{
          background-color: #000;
          color: #fff;
        }
      }
      a{
        width: vw(67);
        height: vw(67);
        font-size: vw(32);
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        border: 1px solid #000;
        font-weight: 500;
        &.next,&.prev {
          width: auto;
          border: 0;
        }
      }
      span {
        width: vw(67);
        height: vw(67);
        font-size: vw(32);
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.btn_hv{
  position: relative;
  padding: vw(35) vw(20);
  width: 100%;
  text-align: center;
  &:before{
    content:"";
    width: vw(71);
    height: vw(49);
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    transition-duration: 0.5s;
    transition-property: width, height;
    box-sizing: border-box;
  }
  &:after{
    content:"";
    width: vw(71);
    height: vw(49);
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transition-duration: 0.5s;
    transition-property: width, height;
    box-sizing: border-box;
  }
  span{
    padding-right: vw(45);
    position: relative;
    padding-top: 1px;
    display: inline-block;
    font-size: vw(28);
    line-height: 1;
    font-family: $mont;
    &:after{
      content:"";
      background: url(../images/arr_n.png) no-repeat;
      background-size: contain;
      width: vw(28);
      height: vw(8);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 1;
      padding-top: vw(4);
    }
  }
}