@media screen and (min-width: 769px), print {
  .st_news .ttl {
    margin-bottom: 100px;
  }
  .gr_news {
    padding-bottom: 92px;
    /*=== DETAIL ===*/
  }
  .gr_news_list {
    margin: 0 0 50px;
  }
  .gr_news_list li {
    border-bottom: 1px solid #E6E6E6;
  }
  .gr_news_list li:first-of-type {
    border-top: 1px solid #E6E6E6;
  }
  .gr_news_list li a {
    padding: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gr_news_list li a:hover {
    background: #f7f7f7;
  }
  .gr_news_list li time {
    font-size: 1.5rem;
    line-height: 18px;
    color: #000;
    font-weight: 500;
    padding-top: 6px;
    font-family: 'Montserrat',sans-serif;
  }
  .gr_news_list li p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gr_news_list li p span {
    font-size: 1.2rem;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    padding: 0px 18px;
    width: 75px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 30px;
         border-radius: 30px;
    margin: 0 60px 0 40px;
  }
  .gr_news_list li p span.green {
    background-color: #8DC556;
  }
  .gr_news_list li p span.black {
    background-color: #000000;
  }
  .gr_news_list li p em {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 30px;
    color: #333;
  }
  .gr_news article time {
    font-size: 1.5rem;
    line-height: 18px;
    color: #000;
    font-weight: 700;
    display: block;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  .gr_news article h3 {
    font-size: 2.2rem;
    line-height: 30px;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
  .gr_news article h3 span {
    font-size: 1.2rem;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    width: 75px;
    height: 30px;
    padding: 0px 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 30px;
         border-radius: 30px;
    margin: 0 18px 0 0;
  }
  .gr_news article h3 span.green {
    background-color: #8DC556;
  }
  .gr_news article h3 span.black {
    background-color: #000000;
  }
  .gr_news article .main_art {
    margin-bottom: 150px;
  }
  .gr_news article .main_art p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .gr_news article .main_art p + p {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .st_news .ttl {
    margin-bottom: 16.66667vw;
  }
  .gr_news {
    padding-bottom: 16.26667vw;
    /*=== DETAIL ===*/
  }
  .gr_news_list {
    margin: 0 0 10.66667vw;
  }
  .gr_news_list li {
    border-bottom: 1px solid #E6E6E6;
  }
  .gr_news_list li:first-of-type {
    border-top: 1px solid #E6E6E6;
  }
  .gr_news_list li a {
    padding: 5.33333vw 0 3.33333vw;
    display: block;
  }
  .gr_news_list li time {
    font-size: 2.93333vw;
    line-height: 3.46667vw;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 2.66667vw;
    font-family: 'Montserrat',sans-serif;
  }
  .gr_news_list li p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gr_news_list li p span {
    font-size: 2.66667vw;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    padding: 0px 2.66667vw;
    width: 14.13333vw;
    height: 5.6vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 30px;
         border-radius: 30px;
    margin: 0 4vw 0 0;
  }
  .gr_news_list li p span.green {
    background-color: #8DC556;
  }
  .gr_news_list li p span.black {
    background-color: #000000;
  }
  .gr_news_list li p em {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    color: #333;
  }
  .gr_news article time {
    font-size: 2.93333vw;
    line-height: 3.46667vw;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 2.93333vw;
    font-family: 'Montserrat', sans-serif;
  }
  .gr_news article h3 {
    font-size: 4.26667vw;
    line-height: 1.5;
    color: #000;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12vw;
    padding-bottom: 5.06667vw;
  }
  .gr_news article h3 span {
    font-size: 2.66667vw;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    padding: 0px 2.66667vw;
    width: 14.13333vw;
    height: 5.6vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 30px;
         border-radius: 30px;
    margin: 0 4vw 0 0;
  }
  .gr_news article h3 span.green {
    background-color: #8DC556;
  }
  .gr_news article h3 span.black {
    background-color: #000000;
  }
  .gr_news article .main_art {
    margin-bottom: 20vw;
  }
  .gr_news article .main_art p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
  }
  .gr_news article .main_art p + p {
    margin-top: 5.33333vw;
  }
}
