@media screen and (min-width: 769px), print {
  .ttl .row picture img {
    visibility: hidden;
  }
  .ttl .row picture {
    background: url('../images/bkg_ttl_pc.jpg') 100% 40% no-repeat;
    -webkit-background-size: 76.484375% auto;
    background-size: 76.484375% auto;
  }
  .st_access {
    padding-bottom: 102px;
  }
  .st_access .ttl {
    margin-bottom: 104px;
  }
  .st_access .gr_access_top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 86px;
  }
  .st_access .gr_access_top .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .st_access .gr_access_top .left_m {
    height: 100%;
  }
  .st_access .gr_access_top .left_m_w {
    width: 374px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_access .gr_access_top .left_m_w h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
  }
  .st_access .gr_access_top .left_m_w span {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 25px;
    display: block;
  }
  .st_access .gr_access_top .left_m_w p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .st_access .gr_access_top .left_m_w p .tel {
    color: #000;
  }
  .st_access .gr_access_top .left_m_w .txt_bt {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid #E6E6E6;
  }
  .st_access .gr_access_top .right {
    width: 54.29688%;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .st_access .gr_access_top .right .map {
    height: 448px;
  }
  .st_access .gr_access_bottom ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -63px;
  }
  .st_access .gr_access_bottom ul li {
    width: -webkit-calc(33.33% - 63px);
    width: -moz-calc(33.33% - 63px);
    width: calc(33.33% - 63px);
    margin-left: 63px;
  }
  .st_access .gr_access_bottom ul li a {
    display: block;
    pointer-events: none;
  }
  .st_access .gr_access_bottom ul li a:hover {
    opacity: 0.8;
  }
  .st_access .gr_access_bottom ul li img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .st_access {
    padding-bottom: 18.4vw;
  }
  .st_access .ttl {
    margin-bottom: 15.2vw;
  }
  .st_access .gr_access_top {
    margin-bottom: 8vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding-top: 22.13333vw;
  }
  .st_access .gr_access_top .left {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .st_access .gr_access_top .left_m_w .top_h {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  .st_access .gr_access_top .left_m_w .top_h h3 {
    font-size: 5.33333vw;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1.33333vw;
  }
  .st_access .gr_access_top .left_m_w .top_h span {
    font-size: 4.26667vw;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 6.66667vw;
    display: block;
  }
  .st_access .gr_access_top .left_m_w p {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
  }
  .st_access .gr_access_top .left_m_w p .tel {
    color: #000;
  }
  .st_access .gr_access_top .left_m_w .txt_bt {
    margin-top: 6.66667vw;
    padding-top: 6.66667vw;
    border-top: 1px solid #E6E6E6;
  }
  .st_access .gr_access_top .right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    margin-bottom: 6vw;
  }
  .st_access .gr_access_top .right .map {
    height: 59.73333vw;
  }
  .st_access .gr_access_bottom ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -2.66667vw;
  }
  .st_access .gr_access_bottom ul li {
    width: -webkit-calc(33.33% - 2.66667vw);
    width: -moz-calc(33.33% - 2.66667vw);
    width: calc(33.33% - 2.66667vw);
    margin-left: 2.66667vw;
  }
  .st_access .gr_access_bottom ul li a {
    display: block;
  }
  .st_access .gr_access_bottom ul li a:hover {
    opacity: 0.8;
  }
  .st_access .gr_access_bottom ul li img {
    width: 100%;
    height: auto;
  }
}
