@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_news{
  .ttl{
    margin-bottom: 100px;
  }
}
.gr_news{
  padding-bottom: 92px;
  &_list{
    margin: 0 0 50px;
    li{
      border-bottom: 1px solid #E6E6E6;
      &:first-of-type{
        border-top: 1px solid #E6E6E6;
      }
      a{
        padding: 25px 0;
        display: flex;
        &:hover{
          opacity:0.8;
        }
      }
      time{
        font-size: rem(15);
        line-height: 18px;
        color: #000;
        font-weight: 500;
        padding-top: 6px;
      }
      p{
        display: flex;
        span{
          font-size: rem(12);
          line-height: 1;
          color: #fff;
          font-weight: 500;
          padding: 0px 18px;
          width: 75px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 30px;
          margin: 0 60px 0 40px;
          &.green{
            background-color: #8DC556;
          }
          &.black{
            background-color: #000000;
          }
        }
        em{
          font-style: normal;
          font-size: rem(15);
          line-height: 30px;
          color: #000;
        }
      }
    }
  }
  /*=== DETAIL ===*/
  article{
    time{
      font-size: rem(15);
      line-height: 18px;
      color: #000;
      font-weight: 500;
      display: block;
      margin-bottom: 30px;
    }
    h3{
      font-size: rem(22);
      line-height: 30px;
      color: #000;
      font-weight: 500;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      margin-bottom: 40px;
      padding-bottom: 20px;
      span{
        font-size: rem(12);
        line-height: 1;
        color: #fff;
        font-weight: 500;
        width: 75px;
        height: 30px;
        padding: 0px 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 0 18px 0 0;
        &.green{
          background-color: #8DC556;
        }
        &.black{
          background-color: #000000;
        }
      }
    }
    .main_art{
      margin-bottom: 150px;
      p{
        font-size: rem(15);
        line-height: 30px;
        + p{
          margin-top: 40px;
        }
      }
    }
  }
} 