@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_news{
  .ttl{
    margin-bottom: vw(125);
  }
}
.gr_news{
  padding-bottom: vw(122);
  &_list{
    margin: 0 0 vw(80);
    li{
      border-bottom: 1px solid #E6E6E6;
      &:first-of-type{
        border-top: 1px solid #E6E6E6;
      }
      a{
        padding: vw(40) 0 vw(25);
        display: block;
      }
      time{
        font-size: vw(22);
        line-height: vw(26);
        color: #000;
        font-weight: 500;
        display: block;
        margin-bottom: vw(20);  
      }
      p{
        display: flex;
        span{
          font-size: vw(20);
          line-height: 1;
          color: #fff;
          font-weight: 500;
          padding: 0px vw(20);
          width: vw(106);
          height: vw(42);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 30px;
          margin: 0 vw(30) 0 0;
          &.green{
            background-color: #8DC556;
          }
          &.black{
            background-color: #000000;
          }
        }
        em{
          font-style: normal;
          font-size: vw(28);
          line-height: vw(50);
          color: #000;
        }
      }
    }
  }
  /*=== DETAIL ===*/
  article{
    time{
      font-size: vw(22);
      line-height: vw(26);
      color: #000;
      font-weight: 500;
      display: block;
      margin-bottom: vw(22);
    }
    h3{
      font-size: vw(32);
      line-height: vw(30);
      color: #000;
      font-weight: 500;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      margin-bottom: vw(90);
      padding-bottom: vw(38);
      span{
        font-size: vw(20);
        line-height: 1;
        color: #fff;
        font-weight: 500;
        padding: 0px vw(20);
        width: vw(106);
        height: vw(42);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 0 vw(30) 0 0;
        &.green{
          background-color: #8DC556;
        }
        &.black{
          background-color: #000000;
        }
      }
    }
    .main_art{
      margin-bottom: vw(150);
      p{
        font-size: vw(28);
        line-height: vw(50);
        + p{
          margin-top: vw(40);
        }
      }
    }
  }
} 