.fadeInUp {
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 0;
}

.fadeInUp.active {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 769px), print {
  .slider {
    position: relative;
  }
  .slider_under {
    padding: 0 75px 0 165px;
  }
  .slider_under ul {
    width: 100%;
    height: 0;
    padding-top: 46.875%;
    position: relative;
    overflow: hidden;
  }
  .slider_under ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
    line-height: 0;
  }
  .slider_under ul li picture {
    height: 100%;
  }
  .slider_under ul li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;object-fit: cover;
  }
  .slider_front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 75px;
  }
  .slider_front figure img {
    width: 28.75%;
    height: auto;
  }
  .slider_front figure figcaption {
    margin-top: 63px;
  }
  .slider_front figure figcaption span {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 35px;
    color: #000;
    background: #fff;
    font-weight: 500;
  }
  .slider_flag {
    position: absolute;
    bottom: -25px;
    right: 7.42188%;
    width: 220px;
  }
  .slider_flag a {
    display: block;
  }
  .slider_flag a img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .slider_flag a:hover img {
    -webkit-transform: rotateZ(-10deg);
       -moz-transform: rotateZ(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotateZ(-10deg);
  }
  .slider .social {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 75px;
  }
  .slider .social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
  }
  .slider .social ul li:not(:last-child) {
    margin-bottom: 40px;
  }
  .slider .social ul li a {
    display: inline-block;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    font-size: 1rem;
    line-height: 1;
    color: #000;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 25px;
    position: relative;
  }
  .slider .social ul li a.icon_face::before {
    background: url("../images/icon_face.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 6px;
    height: 11px;
  }
  .slider .social ul li a.icon_face:hover {
    color: #8DC556;
  }
  .slider .social ul li a.icon_face:hover::before {
    background: url("../images/icon_face_hr.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .slider .social ul li a.icon_twitter::before {
    background: url("../images/icon_twitter.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 12px;
    height: 9px;
  }
  .slider .social ul li a.icon_twitter:hover {
    color: #8DC556;
  }
  .slider .social ul li a.icon_twitter:hover::before {
    background: url("../images/icon_twitter_hr.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .slider .social ul li a.icon_line::before {
    background: url("../images/icon_line.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 14px;
    height: 13px;
  }
  .slider .social ul li a.icon_line:hover {
    color: #8DC556;
  }
  .slider .social ul li a.icon_line:hover::before {
    background: url("../images/icon_line_hr.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .slider .social ul li a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .news {
    padding: 50px 0 0 87px;
  }
  .news_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #000;
  }
  .news_main h2 {
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    color: #000;
  }
  .news_main ul {
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
    padding-left: 100px;
  }
  .news_main ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
  }
  .news_main ul li a:hover span{
    text-decoration: underline;
  }
  .news_main ul li a time {
    font-size: 1.5rem;
    line-height: 25px;
    color: #000;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .news_main ul li a span {
    display: inline-block;
    width: -webkit-calc(100% - 115px);
    width: -moz-calc(100% - 115px);
    width: calc(100% - 115px);
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 500;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .news_main > a {
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
    padding: 0 25px 10px 0;
    text-transform: uppercase;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .news_main > a:hover::after {
    right: -5px;
  }
  .news_main > a::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 5px;
    background: url("../common/images/arr_more.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .member {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 80px;
    background: #fff;
    padding: 0 0 140px;
  }
  .member > figure {
    width: 54.29688%;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    margin: 4.29688% 0 0;
    z-index: 2;
    background: url('../images/vw_img@2x.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .member > figure img {
    width: 100%;
    height: auto;
    height: 419px;
    object-fit: cover;
    visibility: hidden!important;
  }
  .member_pos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .member_pos::after {
    position: absolute;
    content: "";
    width: 57.57813%;
    height: 0;
    /* padding-top: 26.48438%; */
    padding-top: 319px;
    right: 0;
    top: 0;
    background: #ECEFE8;
  }
  .member_m {
    height: 100%;
  }
  .member_m_w {
    width: 395px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
  }
  .member_m_w h2 {
    font-size: 3rem;
    line-height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #000;
  }
  .member_m_w figure {
    margin-top: 40px;
    width: 330px;
  }
  .member_m_w figure img {
    width: 100%;
    height: auto;
  }
  .member_m_w p {
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 37px;
  }
  .member_m_w .btn {
    margin-top: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .event h2 {
    font-size: 3rem;
    line-height: 36px;
    font-weight: bold;
    color: #000;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .event_list {
    padding-bottom: 90px;
  }
  .event_list_box::after {
    clear: both;
    display: table;
    content: "";
  }
  .event_list_box .event_box {
    width: 330px;
    background: #fff;
    margin-bottom: 100px;
    float: left;
  }
  .event_list_box .event_box a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .event_list_box .event_box a .event_box_des {
    position: relative;
  }
  .event_list_box .event_box a .event_box_des figure {
    width: 100%;
    height: auto;
  }
  .event_list_box .event_box a .event_box_des figure img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .event_list_box .event_box a .event_box_des .event_tag {
    width: 100px;
    height: 100px;
    -moz-border-radius: 100%;
         border-radius: 100%;
    border: 1px solid #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #333;
    padding: 0 0 9px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -50px;
    background: #fff;
    left: -20px;
  }
  .event_list_box .event_box a .event_box_des .event_tag span {
    position: relative;
  }
  .event_list_box .event_box a .event_box_des .event_tag span em {
    font-style: normal;
    font-size: 3.7rem;
    line-height: 1;
    font-weight: bold;
    padding-left: 25px;
    display: block;
  }
  .event_list_box .event_box a .event_box_des .event_tag span sub {
    font-size: 2.1rem;
    line-height: 1;
    display: block;
  }
  .event_list_box .event_box a .event_box_des .event_tag span sub:after {
    content: '';
    width: 27px;
    height: 27px;
    background: url("../images/ic_cross.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    position: relative;
    top: 15px;
    left: -13px;
    display: inline-block;
  }
  .event_list_box .event_box a .event_box_des .event_tag small {
    font-size: 1.2rem;
    line-height: 1;
    display: block;
  }
  .event_list_box .event_box a .event_box_des p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #333;
    padding: 25px 0 34px;
    font-weight: bold;
  }
  .event_list_box .event_box a .event_box_link {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
  .event_list_box .event_box a .event_box_link span {
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    margin-right: 11px;
    margin-top: 11px;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 7px 20px;
    display: inline-block;
    -moz-border-radius: 20px;
         border-radius: 20px;
  }
  .event_list_box .event_box a:hover img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .event .swiper-container {
    padding: 100px 23px 0;
  }
  .event_wrap {
    position: relative;
  }
  .event .slick-list {
    padding: 100px 0 0;
  }
  .event .slick-arrow, .event .swiper-button {
    width: 30px;
    height: 9px;
    text-indent: -9999px;
    overflow: hidden;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
  }
  .event .slick-arrow.slick-prev, .event .slick-arrow.swiper-prev, .event .swiper-button.slick-prev, .event .swiper-button.swiper-prev {
    background: url("../images/arr_prev.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: -60px;
  }
  .event .slick-arrow.slick-next, .event .slick-arrow.swiper-next, .event .swiper-button.slick-next, .event .swiper-button.swiper-next {
    background: url("../images/arr_next.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: -60px;
  }
  .schedule {
  }
  .schedule_left {
    width: 100%;
  }
  .schedule_left h2 {
    font-size: 3rem;
    line-height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #000;
  }
  .schedule_left ul li {
    border-bottom: 1px solid #F3F3F3;
  }
  .schedule_left ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: #000;
    padding: 20px 0;
  }
  .schedule_left ul li a time {
    font-size: 1.5rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 120px;
  }
  .schedule_left ul li a span {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 500;
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    width: calc(100% - 120px);
  }
  .schedule_right p {
    font-size: 0;
  }
  .schedule_right p span {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    line-height: 30px;
    color: #999999;
    padding: 0 0 0 30px;
  }
  .schedule_right p span:not(:last-child) {
    margin-right: 30px;
  }
  .schedule_right p span::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    left: 0;
    top: 50%;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .schedule_right p span.yellow::before {
    /* background: #ffda66; */
    border: 4px solid #E0C240;
  }
  .schedule_right p span.blue::before {
    /* background: #2067ce; */
    border: 4px solid #99FF33;
  }
  .schedule_right p span.red::before {
    background: #ff6666;
  }
  .schedule_right iframe {
    width: 100%;
    height: 734px;
  }
  .schedule_right .view-container-border {
    background-color: #8AC082 !important;
  }
  .topics {
    background: #ecefe8;
    margin-top: 100px;
    padding-bottom: 70px;
  }
  .topics_main h2 {
    font-size: 3rem;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    color: #000;
    -webkit-transform: translateY(-18px);
       -moz-transform: translateY(-18px);
        -ms-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  .topics_list {
    background: #ECEFE8;
    padding-bottom: 90px;
  }
  .topics_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topics_list_box .topics_box {
    max-width: 507px;
    width: 50%;
  }
  .topics_list_box .topics_box:not(:nth-of-type(-n+2)) {
    margin-top: 70px;
  }
  .topics_list_box .topics_box:nth-of-type(even) {
    -webkit-transform: translateY(54px);
       -moz-transform: translateY(54px);
        -ms-transform: translateY(54px);
            transform: translateY(54px);
  }
  .topics_list_box .topics_box a {
    display: block;
    position: relative;
  }
  .topics_list_box .topics_box a::before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #8bc34a;
    z-index: 10;
  }
  .topics_list_box .topics_box a:hover::before {
    width: 100%;
  }
  /* .topics_list_box .topics_box a:hover img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  } */
  .topics_list_box .topics_box a figure {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .topics_list_box .topics_box a figure > span {
    display: block;
  }
  .topics_list_box .topics_box a figure img {
    width: 470px;
    height: 303px;
    object-fit: cover;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .topics_list_box .topics_box a figure figcaption {
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1;
    width: 95px;
    padding: 11px 7px;
    position: absolute;
    bottom: -20px;
    left: 18px;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    word-break: keep-all;
    font-family: 'Montserrat',sans-serif;
  }
  .topics_list_box .topics_box a figure figcaption.blog {
    background: #8dc556;
  }
  .topics_list_box .topics_box a figure figcaption.media {
    background: #000;
  }
  .topics_list_box .topics_box a .topics_box_des {
    padding: 45px 18px 54px;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    background: #fff;
    z-index: 1;
  }
  .topics_list_box .topics_box a .topics_box_des::after {
    background: #fff;
    width: 100%;
    height: 75px;
    left: 0;
    top: -75px;
    position: absolute;
    content: "";
    z-index: -1;
  }
  .topics_list_box .topics_box a .topics_box_des p {
    font-size: 2rem;
    line-height: 3.6rem;
    color: #000;
    font-weight: bold;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link {
    margin-top: 40px;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link time {
    font-size: 1.3rem;
    line-height: 1;
    margin-right: 27px;
    font-weight: 500;
    color: #909297;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link span {
    font-size: 1.3rem;
    line-height: 1;
    position: relative;
    padding-left: 16px;
    font-weight: 500;
    color: #909297;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link span:before {
    content: '';
    width: 12px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_link.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .topics_list_box .topics_box a:hover {
    opacity: 0.8;
  }
  .topics .btn {
    margin-top: 90px;
  }
  .partner {
    position: relative;
    background: #fff;
    padding: 100px 0 97px;
  }
  .partner_top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .partner_top > figure {
    width: 57.26563%;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    padding: 0 0 3.4375%;
  }
  .partner_top > figure::after {
    position: absolute;
    content: "";
    width: 55.40541%;
    height: 0;
    /* padding-top: 23.42342%; */
    padding-top: 170px;
    left: 0;
    bottom: 0;
    background: #ECEFE8;
    z-index: -1;
  }
  .partner_top > figure img {
    width: 100%;
    height: 459px;
    object-fit: cover;
  }
  .partner_pos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .partner_m {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 70px 0 0;
    position: relative;
  }
  .partner_m_w {
    width: 250px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner_m_w h2 {
    font-size: 3rem;
    line-height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #000;
  }
  .partner_m_w p {
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 37px;
  }
  .partner_m_w .btn {
    margin-top: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner_btn {
    margin-top: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    right: -70px;
    bottom: -100px;
  }
  .partner_btn a {
    width: 430px;
    height: 88px;
    background: #8dc556;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .partner_btn a::before {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.25s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.25s cubic-bezier(1, 0, 0, 1), -moz-transform 0.25s cubic-bezier(1, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .partner_btn a::after {
    position: relative;
    content: "";
    width: 16px;
    height: 5px;
    background: url("../images/arrow_white.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-left: 20px;
  }
  .partner_btn a:hover::before  {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .rp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 97px;
  }
  .rp_box {
    width: 504px;
  }
  .rp_box figure {
    position: relative;
  }
  .rp_box figure a {
    display: block;
  }
  .rp_box figure a:hover img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .rp_box figure img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .rp_box figure figcaption {
    position: absolute;
    display: inline-block;
    font-size: 3rem;
    line-height: 36px;
    padding: 15px 30px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    left: -15px;
    bottom: 35px;
  }
  .rp_box p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 34px;
  }
  .rp_box .btn {
    margin-top: 35px;
  }
  .st_access {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 95px;
    padding: 0 0 90px;
  }
  .st_access_map {
    width: 56.25%;
    height: 0;
    /* padding-top: 35.07813%; */
    padding-top: 445px;
    position: relative;
  }
  .st_access_content {
    position: absolute;
    width: 460px;
    top: 0;
    left: -webkit-calc((100% - 1126px)/2);
    left: -moz-calc((100% - 1126px)/2);
    left: calc((100% - 1126px)/2);
    padding-top: 25px;
  }
  .st_access_content h2 {
    font-size: 3rem;
    line-height: 36px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: bold;
  }
  .st_access_content h3 {
    font-size: 2.6rem;
    line-height: 1;
    font-weight: bold;
    color: #000;
    margin-top: 40px;
  }
  .st_access_content h4 {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    margin-top: 40px;
  }
  .st_access_content address {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 20px;
  }
  .st_access_content .tel {
    pointer-events: none;
    font-size: 1.5rem;
    line-height: 30px;
    color: #000;
  }
  .st_access_content .btn {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 45px;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    position: relative;
  }
  .slider_under {
    padding: 0 0 0 5.46667vw;
  }
  .slider_under ul {
    width: 100%;
    height: 114.26667vw;
    position: relative;
    overflow: hidden;
  }
  .slider_under ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
    line-height: 0;
    height: 100%;
  }
  .slider_under ul li img {
    width: 100%;
    height: auto;
  }
  .slider_front {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 5.46667vw 0 5.46667vw;
    margin-top: -17.33333vw;
    position: relative;
    z-index: 3;
  }
  .slider_front figure > span {
    display: inline-block;
    padding: 8vw 17.33333vw 6.66667vw 0;
    background: #fff;
    position: relative;
  }
  .slider_front figure > span::after {
    position: absolute;
    content: "";
    width: 11.6vw;
    height: 1px;
    background: #000;
    left: 0;
    bottom: 0;
  }
  .slider_front figure img {
    width: 56.13333vw;
    height: auto;
  }
  .slider_front figure figcaption {
    padding: 5.46667vw 0 0;
  }
  .slider_front figure figcaption span {
    display: inline;
    font-size: 3.46667vw;
    line-height: 6.66667vw;
    color: #000;
    background: #fff;
    font-weight: 500;
  }
  .slider_flag {
    display: none;
  }
  .slider .social {
    display: none;
  }
  .news {
    padding: 16vw 5.46667vw;
  }
  .news_main {
    position: relative;
  }
  .news_main h2 {
    font-size: 6.66667vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5.33333vw;
    color: #000;
  }
  .news_main ul li {
    border-bottom: 1px solid #909297;
    padding: 1.33333vw 0;
  }
  .news_main ul li a {
    color: #000;
  }
  .news_main ul li a time {
    font-size: 2.93333vw;
    line-height: 3.46667vw;
    color: #909297;
    font-weight: bold;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
  }
  .news_main ul li a span {
    display: block;
    width: 100%;
    font-size: 2.93333vw;
    line-height: 6vw;
    font-weight: 500;
    color: #333;
  }
  .news_main > a {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3.46667vw;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
    padding: 0 8vw 0 0;
    text-transform: uppercase;
  }
  .news_main > a::after {
    position: absolute;
    content: "";
    width: 4.53333vw;
    height: 1.2vw;
    background: url("../common/images/arr_more.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 0;
    top: 0;
  }
  .member {
    position: relative;
    background: #fff;
  }
  .member_m_w h2 {
    font-size: 6.66667vw;
    line-height: 8vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #000;
  }
  .member_m_w figure:nth-of-type(1) {
    margin-top: 6vw;
    text-align: center;
  }
  .member_m_w figure:nth-of-type(1) img {
    width: 71.6vw;
    height: auto;
  }
  .member_m_w figure:nth-of-type(2) {
    position: relative;
    margin-top: 9.06667vw;
    margin-right: -5.33333vw;
    padding: 0 0 6.4vw;
    text-align: right;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .member_m_w figure:nth-of-type(2) img {
    width: 89.33333vw;
    height: auto;
  }
  .member_m_w figure:nth-of-type(2)::after {
    position: absolute;
    content: "";
    width: 94.4vw;
    height: 34.53333vw;
    right: 0;
    bottom: 0;
    background: #ECEFE8;
    z-index: -1;
  }
  .member_m_w p {
    font-size: 3.73333vw;
    line-height: 7.06667vw;
    margin-top: 6.4vw;
  }
  .member_m_w .btn {
    margin-top: 10.66667vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .event {
    margin-top: 22vw;
    position: relative;
    padding: 0 0 8vw;
  }
  .event .event_main {
    padding: 0;
  }
  .event::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 42.8vw;
    z-index: -1;
    top: 3.66667vw;
    background: #ecefe8;
  }
  .event h2 {
    font-size: 6.66667vw;
    line-height: 8vw;
    font-weight: bold;
    color: #000;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .event_list_box {
    margin-bottom: 12.4vw;
    padding-left: 2.66667vw;
  }
  .event_list_box .event_box {
    max-width: 65.67%;
    background: transparent;
    margin-right: 40px;
    float: left;
  }
  .event_list_box .event_box a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .event_list_box .event_box a .event_box_des {
    position: relative;
  }
  .event_list_box .event_box a .event_box_des figure {
    /* width: 58.66667vw; */
    height: auto;
  }
  .event_list_box .event_box a .event_box_des figure img {
    width: 100%;
    height: 38.671875vw;
    object-fit: cover;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .event_list_box .event_box a .event_box_des .event_tag {
    width: 20vw;
    height: 20vw;
    -moz-border-radius: 100%;
         border-radius: 100%;
    border: 1px solid #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #333;
    padding: 0 0 1.86667vw;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -10vw;
    background: #fff;
    left: -2.66667vw;
  }
  .event_list_box .event_box a .event_box_des .event_tag span {
    position: relative;
    padding-left: 1.86667vw;
  }
  .event_list_box .event_box a .event_box_des .event_tag span em {
    font-style: normal;
    font-size: 7.33333vw;
    line-height: 1;
    padding-left: 6.66667vw;
    font-weight: bold;
    display: block;
  }
  .event_list_box .event_box a .event_box_des .event_tag span sub {
    font-size: 4vw;
    line-height: 1;
    display: block;
  }
  .event_list_box .event_box a .event_box_des .event_tag span sub:after {
    content: '';
    width: 5.33333vw;
    height: 5.33333vw;
    background: url("../images/ic_cross.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    position: relative;
    top: 4vw;
    left: -2.66667vw;
    display: inline-block;
  }
  .event_list_box .event_box a .event_box_des .event_tag small {
    font-size: 2.4vw;
    line-height: 1;
    display: block;
  }
  .event_list_box .event_box a .event_box_des p {
    font-size: 3.64583vw;
    line-height: 1.5;
    color: #333;
    padding: 5.2083vw 0 4.2083vw;
    font-weight: bold;
  }
  .event_list_box .event_box a .event_box_link {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
  .event_list_box .event_box a .event_box_link span {
    font-size: 2.86vw;
    line-height: 1;
    position: relative;
    margin-right: 11px;
    margin-top: 10px;
    font-weight: 500;
    color: #909297;
    background: #ECEFE8;
    padding: 1.302vw 2.6041vw;
    display: inline-block;
    -moz-border-radius: 2.6041vw;;
         border-radius: 2.6041vw;;
  }
  .event .swiper-container {
    padding: 18.93333vw 0 0 2.7292vw;
  }
  .event .swiper-scrollbar-drag {
    background: #8dc556;
  }
  .event .btn {
    margin-top: 12vw;
    padding: 0 5.3333vw;
  }
  .schedule {
    /* padding: 0 5.33333vw 0; */
  }
  .schedule_left {
    width: 100%;
  }
  .schedule_left h2 {
    font-size: 6.66667vw;
    line-height: 8vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #000;
  }
  .schedule_left ul {
    display: none;
  }
  .schedule_left p {
    display: none;
  }
  .schedule_right {
    width: 100%;
    margin-top: 9.33333vw;
  }
  .schedule_right iframe {
    width: 100%;
    height: 100vw;
  }
  .schedule_right p {
    font-size: 0;
  }
  .schedule_right p span {
    display: block;
    position: relative;
    font-size: 3.3vw;
    line-height: 6.93333vw;
    color: #999999;
    padding: 0 0 0 6vw;
  }
  .schedule_right p span::before {
    position: absolute;
    content: "";
    width: 4.4vw;
    height: 4.4vw;
    -moz-border-radius: 50%;
         border-radius: 50%;
    left: 0;
    top: 50%;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .schedule_right p span.yellow::before {
    /* background: #ffda66; */
    border: 0.85vw solid #E0C240;
  }
  .schedule_right p span.blue::before {
    /* background: #2067ce; */
    border: 0.85vw solid #99FF33;
  }
  .schedule_right p span.red::before {
    background: #ff6666;
  }
  .topics {
    background: #ecefe8;
    margin-top: 24vw;
    padding-bottom: 13.33333vw;
  }
  .topics_main h2 {
    font-size: 6.66667vw;
    line-height: 8vw;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12vw;
    color: #000;
    -webkit-transform: translateY(-4vw);
       -moz-transform: translateY(-4vw);
        -ms-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
  .topics_list_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topics_list_box .topics_box {
    width: 100%;
  }
  .topics_list_box .topics_box:not(:first-child) {
    margin-top: 11.71875vw;
  }
  .topics_list_box .topics_box a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .topics_list_box .topics_box a::before {
    position: absolute;
    content: "";
    height: 128%;
    width: 74.66667vw;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
  }
  .topics_list_box .topics_box a figure {
    width: 40vw;
    height: auto;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .topics_list_box .topics_box a figure > span {
    display: block;
  }
  .topics_list_box .topics_box a figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .topics_list_box .topics_box a figure figcaption {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 4.53333vw;
    width: 22.66667vw;
    height: 7.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
  }
  .topics_list_box .topics_box a figure figcaption.blog {
    background: #8dc556;
  }
  .topics_list_box .topics_box a figure figcaption.media {
    background: #000;
  }
  .topics_list_box .topics_box a .topics_box_des {
    width: 50%;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    background: #fff;
    z-index: 1;
  }
  .topics_list_box .topics_box a .topics_box_des p {
    font-size: 2.93333vw;
    line-height: 4.8vw;
    padding: 0 4.557vw 0 0;
    color: #000;
    font-weight: bold;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link {
    margin-top: 3.125vw;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link time {
    font-size: 2.93333vw;
    line-height: 3.46667vw;
    margin-right: 2vw;
    font-weight: 500;
    color: #909297;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link span {
    font-size: 2.93333vw;
    line-height: 1;
    position: relative;
    padding-left: 3.2vw;
    font-weight: 500;
    color: #909297;
  }
  .topics_list_box .topics_box a .topics_box_des .topics_box_link span:before {
    content: '';
    width: 2.26667vw;
    height: 2vw;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ic_link.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .topics .btn {
    margin-top: 14.66667vw;
  }
  .partner {
    position: relative;
    background: #fff;
    padding: 15.33333vw 0 18vw;
  }
  .partner_top {
    position: relative;
  }
  .partner_top > figure {
    width: 89.33333vw;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    padding: 0 0 7.33333vw;
    margin-left: -5.33333vw;
  }
  .partner_top > figure::after {
    position: absolute;
    content: "";
    width: 69.6vw;
    height: 27.73333vw;
    left: 0;
    bottom: 0;
    background: #ECEFE8;
    z-index: -1;
  }
  .partner_top > figure img {
    width: 100%;
    height: auto;
  }
  .partner_m {
    margin-top: 7.33333vw;
  }
  .partner_m_w h2 {
    font-size: 6.66667vw;
    line-height: 8vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #000;
  }
  .partner_m_w h2 br {
    display: none;
  }
  .partner_m_w p {
    font-size: 3.73333vw;
    line-height: 7.06667vw;
    margin-top: 4vw;
  }
  .partner_m_w .btn {
    margin-top: 8.93333vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner_btn {
    margin-top: 9.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .partner_btn a {
    width: 100%;
    height: 13.33333vw;
    background: #8dc556;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.46667vw;
    font-weight: bold;
  }
  .rp {
    margin: 15.33333vw 0 0;
    background: #ecefe8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 16vw;
  }
  .rp_box {
    width: 100%;
  }
  .rp_box:nth-of-type(1) {
    margin-top: -15.33333vw;
    margin-bottom: 10.66667vw;
  }
  .rp_box figure {
    position: relative;
  }
  .rp_box figure a {
    display: block;
  }
  .rp_box figure img {
    width: 100%;
    height: auto;
  }
  .rp_box figure figcaption {
    position: absolute;
    display: inline-block;
    font-size: 5.33333vw;
    line-height: 6.4vw;
    padding: 3.2vw 4vw;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    left: 0;
    bottom: -4.93333vw;
  }
  .rp_box p {
    text-align: left;
    font-size: 3.46667vw;
    line-height: 7.06667vw;
    margin-top: 8vw;
  }
  .rp_box .btn {
    display: none;
  }
  .st_access {
    position: relative;
    margin-top: 13.33333vw;
    padding: 13.33333vw 0;
  }
  .st_access_map {
    width: 100%;
    height: 60vw;
    position: relative;
  }
  .st_access_content {
    width: 100%;
    padding: 0 5.33333vw;
  }
  .st_access_content h2 {
    font-size: 6.66667vw;
    line-height: 8vw;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .st_access_content h3 {
    font-size: 4.66667vw;
    line-height: 5.2vw;
    font-weight: bold;
    color: #000;
    margin-top: 8vw;
  }
  .st_access_content h4 {
    display: none;
  }
  .st_access_content address {
    font-style: normal;
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    margin-top: 4vw;
  }
  .st_access_content .tel {
    font-size: 3.73333vw;
    line-height: 6.66667vw;
    color: #000;
  }
  .st_access_content .btn {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 8vw;
  }
}
